<script lang="ts">
	import Account from '../Account.svelte';
	import VirtualScroll from '../../../../lib/svelte-virtual-scroll-list/VirtualScroll.svelte';
	import ColumnLoading from '../../../Global/ColumnLoading.svelte';

	import type { TootDeckAccount } from '../../../../stores/Account/Accounts';

	import { AccountsMananger } from '../../../../lib/Managers/AccountsManager';
	import type { ResponseLinks } from '../../../../lib/Utils/parseResponseLInk';
	import { getHandleFromAccount } from '../../../../lib/Utils/handle/getHandleFromAccount';
	import { errorModal } from '../../../../lib/errorModal';

	import type { ParsedAccount } from '../../../../types/contentParsed';
	import { FilterState } from '../../../../types/filters';
	import type { Entity } from '../../../../types/mastodonEntities';

	export let account: TootDeckAccount;
	export let state: FilterState.Muted | FilterState.BlockedUsers;

	let last_account: TootDeckAccount;

	let accounts: Array<ParsedAccount> = [];
	let waiting: boolean = false;
	let nothing_more: boolean = false;
	let links_end: boolean = false;
	let max_id: string | undefined = undefined;

	function handleLinks(
		r: ResponseLinks<Array<Entity.Account>> | null
	): Array<Entity.Account> | null {
		if (!r) {
			return null;
		}

		if (typeof r.links === 'object') {
			max_id = r.links.next?.max_id;
		}
		if (!max_id) {
			links_end = true;
		}

		return r.data;
	}

	async function getNext() {
		if (waiting || links_end) {
			return;
		}

		waiting = true;

		const getter =
			state === FilterState.Muted
				? account.mirrorAPI.Accounts.getMutes.bind(account.mirrorAPI)
				: account.mirrorAPI.Accounts.getBlocks.bind(account.mirrorAPI);

		await getter({ max_id })
			.then(handleLinks)
			.then((r) => (r ? r.map((a) => AccountsMananger.store(account, a)) : null))
			.then((r) => {
				if (!r) {
					return;
				}

				if (r.length !== 40) {
					nothing_more = true;
				}

				accounts.push(...r);
				accounts = accounts;
			})
			.then(() => (waiting = false));
	}

	async function unblock(acc: ParsedAccount) {
		const response = await account.mirrorAPI.Accounts.unblock(acc.id);
		if (!response) {
			errorModal(`Unable to unblock ${getHandleFromAccount(acc, true)}.`, undefined, true);
			return;
		}

		accounts = accounts.filter((a) => a.id !== acc.id);
	}

	function changeAccount(acc: TootDeckAccount) {
		if (Object.is(last_account, acc)) {
			return;
		}

		accounts = [];
		nothing_more = false;
		links_end = false;
		max_id = undefined;
		last_account = acc;

		getNext();
	}

	$: changeAccount(account);
</script>

{#if accounts.length}
	<VirtualScroll data={accounts} let:data bottomThreshold={300} on:bottom={() => getNext()}>
		<Account {account} status_account={data} on:click={() => unblock(data)}></Account>
		<svelte:fragment slot="footer">
			{#if !nothing_more}
				<button class="find-previous" on:click={() => getNext()}>Load more</button>
			{/if}
		</svelte:fragment>
	</VirtualScroll>
{:else if !waiting}
	<slot name="nothing"></slot>
{/if}
{#if waiting}
	<ColumnLoading></ColumnLoading>
{/if}
