<script lang="ts">
	import VirtualScroll from '../../../../lib/svelte-virtual-scroll-list/VirtualScroll.svelte';
	import ColumnLoading from '../../../Global/ColumnLoading.svelte';
	import Domain from '../Domain.svelte';

	import type { TootDeckAccount } from '../../../../stores/Account/Accounts';

	import { errorModal } from '../../../../lib/errorModal';
	import type { ResponseLinks } from '../../../../lib/Utils/parseResponseLInk';

	export let account: TootDeckAccount;

	let last_account: TootDeckAccount;

	let domains: Array<string> = [];
	let waiting: boolean = false;
	let nothing_more: boolean = false;
	let links_end: boolean = false;
	let max_id: string | undefined = undefined;

	function handleLinks(r: ResponseLinks<Array<string>> | null): Array<string> | null {
		if (!r) {
			return null;
		}

		if (typeof r.links === 'object') {
			max_id = r.links.next?.max_id;
		}
		if (!max_id) {
			links_end = true;
		}

		return r.data;
	}

	async function getNext() {
		if (waiting || links_end) {
			return;
		}

		waiting = true;

		await account.mirrorAPI.Accounts.DomainBlocks.get({ max_id })
			.then(handleLinks)
			.then((r) => {
				if (!r) {
					return;
				}

				if (r.length !== 40) {
					nothing_more = true;
				}

				domains.push(...r);
				domains = domains;
			})
			.then(() => (waiting = false));
	}

	async function unblock(domain: string) {
		const response = await account.mirrorAPI.Accounts.DomainBlocks.unblock(domain);
		if (!response) {
			errorModal(`Unable to unblock ${domain}.`, undefined, true);
			return;
		}

		domains = domains.filter((d) => d !== domain);
	}

	function changeAccount(acc: TootDeckAccount) {
		if (Object.is(last_account, acc)) {
			return;
		}

		domains = [];
		nothing_more = false;
		links_end = false;
		max_id = undefined;
		last_account = acc;

		getNext();
	}

	$: changeAccount(account);
</script>

{#if domains.length}
	<VirtualScroll data={domains} let:data bottomThreshold={300} on:bottom={() => getNext()}>
		<Domain domain={data} on:click={() => unblock(data)}></Domain>
		{#if !nothing_more}
			<button class="find-previous" on:click={() => getNext()}>Load more</button>
		{/if}
	</VirtualScroll>
{:else if !waiting}
	<slot name="nothing"></slot>
{/if}
{#if waiting}
	<ColumnLoading></ColumnLoading>
{/if}
