<script lang="ts">
	import Img from '../../Global/Img.svelte';
	import Json from './Json.svelte';

	import { transitionSlide } from '../../../lib/Transitions/transitionOverride';

	import type { EmojiReaction } from '../../../types/contentParsed';

	export let reaction: EmojiReaction;
</script>

<div class="reaction-info" transition:transitionSlide={{ duration: 200 }}>
	<div class="left">
		{#if reaction.url}
			<Img src={reaction.url} alt={reaction.name} />
		{:else}
			<p>{reaction.name}</p>
		{/if}
		<p style="font-size: 20px;"><b>{reaction.count}</b></p>
	</div>
	<div class="right">
		{#if reaction.url}
			<Json object={reaction}></Json>
		{:else}
			Native
		{/if}
	</div>
</div>

<style lang="scss">
	.reaction-info {
		display: grid;
		grid-template-columns: 200px 1fr;
		grid-column-gap: 0px;
		grid-row-gap: 0px;
		align-items: center;

		.left {
			display: flex;
			flex-direction: column;
			align-items: center;

			:global(img) {
				max-width: calc(100% - 40px);
			}
		}

		.right {
			display: flex;
			flex-direction: column;
		}
	}
</style>
