<script lang="ts">
	import { createEventDispatcher } from 'svelte';

	import Section from '../Section.svelte';
	import ProfileSpinner from '../../Spinner/ProfileSpinner.svelte';
	import SearchBox from './SearchBox.svelte';

	import { addPaddingZero } from '../../../lib/Utils/number/addPaddingZero';

	import type { Dashboard } from '../../../types/dashboard';

	const eventDispatcher = createEventDispatcher();

	export let name: string;
	export let first_column: string;
	export let fetcher: () => Promise<Array<Dashboard.Redis.Data<any>> | null>;
	export let toggle_del: boolean;
	export let force_expand: boolean;
	export let search_value: string;
	export let data: Array<Dashboard.Redis.Data<any>> | null = null;

	let filtered: Array<Dashboard.Redis.Data<any>> | null = null;
	let promise: Promise<void>;
	let reversed: boolean = false;

	function fetchData() {
		promise = fetcher().then((r) => {
			const fetched_at = new Date();
			data =
				r?.map((entry) => ({ ...entry, selected: false, expired: false, fetched_at })) ??
				null;
			if (reversed) {
				data = data?.reverse() ?? null;
			}
			filtered = data;
		});
	}

	if (data?.length === 0) {
		fetchData();
	}

	function search(value: string) {
		filtered =
			data?.filter((x) => {
				const search_lower = value.toLowerCase();

				return (
					x.key.includes(search_lower) ||
					x.value.state.toLowerCase().includes(search_lower) ||
					(typeof x.value.value === 'string' &&
						x.value.value
							.toLowerCase()
							.replace(/\n|\r|\t/gm, ' ')
							.includes(search_lower))
				);
			}) ?? null;
	}

	$: {
		data;
		search(search_value);
	}

	function reverse() {
		data = data?.reverse() ?? null;
		reversed = !reversed;
	}

	let step: number = 0;
	let max_index: number = 0;

	function generateStepIndex(dataset: Array<Dashboard.Redis.Data<any>>) {
		const indexes: Array<{ id: number; value: number }> = [];

		let i = 0;
		let len = dataset.length;

		indexes.push({
			id: ++i,
			value: 0,
		});

		while (len - 1000 > 0) {
			len = Math.floor(len - 1000);

			indexes.push({
				id: i + 1,
				value: i * 1000,
			});

			i++;
		}

		max_index = i.toString().length - 1;

		return indexes;
	}

	function changeStep(value: number) {
		document.querySelector('main')!.scrollTo({
			top: 0,
			behavior: 'instant',
		});

		step = value;
	}
</script>

<Section {name} redis={true}>
	<svelte:fragment slot="header">
		<SearchBox
			bind:value={search_value}
			{force_expand}
			{reversed}
			{toggle_del}
			on:expand={() => (force_expand = !force_expand)}
			on:reverse={() => reverse()}
			on:fetchData={() => fetchData()}
			on:toggleDel
			on:confirmDel
			on:delFiltered={() =>
				eventDispatcher(
					'delFiltered',
					filtered?.map((r) => r.key)
				)}
		></SearchBox>
	</svelte:fragment>
	{#await promise}
		<center>
			<ProfileSpinner />
		</center>
	{:then _}
		{#if filtered}
			<header>
				<p style="text-align: center;">{first_column}</p>
				<p>Key</p>
			</header>
			{#if filtered.length}
				{#each filtered.slice(step, step + 1000) as r}
					<slot data={r}></slot>
				{/each}
			{:else}
				NO DATA
			{/if}
		{:else}
			Try again later
		{/if}
	{/await}
</Section>
<div class="page">
	{#if filtered && filtered.length > 1000}
		{#each generateStepIndex(filtered) as s (s.id)}
			<button class:active={step === s.value} on:click={() => changeStep(s.value)}
				>{addPaddingZero(s.id, max_index)}</button
			>
		{/each}
	{/if}
</div>

<style lang="scss">
	header {
		position: relative;
		display: grid;
		grid-template-columns: 200px 1fr;
		grid-column-gap: 0px;
		grid-row-gap: 0px;

		p {
			padding: 10px 0px;
		}
	}

	.page {
		position: relative;
		bottom: 20px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		gap: 1ch;

		button {
			padding: 5px 10px;
			color: rgb(var(--text));
			border: 1px solid rgb(var(--text));
			border-radius: 5px;
			background-color: rgb(var(--background));

			&.active {
				filter: invert(100%);
			}
		}
	}
</style>
