<script lang="ts">
	import { createEventDispatcher } from 'svelte';

	import InputText from '../../Global/Inputs/InputText.svelte';

	const eventDispatcher = createEventDispatcher();

	export let value: string;
	export let force_expand: boolean;
	export let reversed: boolean;
	export let toggle_del: boolean;
</script>

<div class="feature">
	<InputText placeholder="Key filter" bind:value />
	<button on:click={() => eventDispatcher('expand')}
		>{force_expand ? 'Collapse' : 'Expand'}</button
	>
	<button on:click={() => eventDispatcher('reverse')}
		>{reversed ? 'Reverse order' : 'Normal order'}</button
	>
	<button on:click={() => eventDispatcher('fetchData')}>Reload</button>
	<button on:click={() => eventDispatcher('toggleDel')}
		>{toggle_del ? 'Cancel' : 'Delete keys'}</button
	>
	{#if toggle_del}
		<button on:click={() => eventDispatcher('confirmDel')}>Delete</button>
		{#if value}
			<button on:click={() => eventDispatcher('delFiltered')}>Delete filtered keys</button>
		{/if}
	{/if}
</div>

<style lang="scss">
	.feature {
		position: static;
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 2ch;
		margin-top: 10px;

		button {
			flex-shrink: 0;
			background-color: rgb(var(--background));
			border: 1px solid rgb(var(--accent));
			padding: 5px 10px;
			border-radius: 5px;
		}

		:global(.text) {
			width: 100%;
			max-width: 600px;
		}
	}
</style>
