<script lang="ts">
	import { createEventDispatcher } from 'svelte';
	import { format } from 'date-fns';
	import IntersectionObserver from 'svelte-intersection-observer';

	import Reaction from '../Reaction.svelte';
	import ReactionPreview from '../ReactionPreview.svelte';
	import Interval from '../Interval.svelte';

	import { transitionSlide } from '../../../../lib/Transitions/transitionOverride';

	import type { EmojiReaction } from '../../../../types/contentParsed';
	import { Dashboard } from '../../../../types/dashboard';

	const eventDispatcher = createEventDispatcher();

	export let data: Dashboard.Redis.Interactions;
	export let toggle_del: boolean;
	export let show: boolean = false;

	let element: HTMLDivElement;
	let intersecting: boolean;
	let reaction: EmojiReaction | null = null;

	setTimeout(() => (data.expired = true), data.ttl * 1000);

	function toggle() {
		if (toggle_del) {
			data.selected = !data.selected;
			eventDispatcher('click');
			return;
		}

		show = !show;

		if (!show) {
			reaction = null;
		}
	}
</script>

<IntersectionObserver {element} bind:intersecting>
	<div class="data" class:selected={data.selected} bind:this={element}>
		{#if intersecting}
			<button
				class="header"
				class:expired={data.ttl !== -1 && data.expired}
				on:click={() => toggle()}
			>
				{#if data.ttl === -1}
					{#if data.value.state !== Dashboard.Redis.State.Dead}
						<p style:color="rgb(var(--red))">No expiry</p>
					{:else}
						<p
							style:color={data.value.state === Dashboard.Redis.State.Dead
								? 'rgb(var(--red))'
								: 'rgb(var(--favourite-color))'}
						>
							{#if data.value.state === Dashboard.Redis.State.Dead}
								<b>DEAD</b>
							{:else}
								RETRY
							{/if}
						</p>
					{/if}
				{:else}
					<p>
						{format(
							new Date(new Date().valueOf() + data.ttl * 1000),
							'MMM dd yyyy - HH:mm'
						)}
					</p>
				{/if}
				<p>{data.key}</p>
			</button>
			{#if show}
				<div class="interaction" transition:transitionSlide={{ duration: 200 }}>
					<Interval ttl={data.ttl} fetched_at={data.fetched_at}></Interval>
					<div>
						{#if data.value.state === Dashboard.Redis.State.Ok}
							<div class="interaction-default">
								<div>
									<div class="icon fa fa-reply"></div>
									{data.value.value.replies_count}
								</div>
								<div>
									<div
										class="icon fa fa-retweet"
										style:color="rgb(var(--reblog-color))"
									></div>
									{data.value.value.reblogs_count}
								</div>
								<div>
									<div
										class="icon fa fa-star"
										style:color="rgb(var(--favourite-color))"
									></div>
									{data.value.value.favourites_count}
								</div>
							</div>
							{#if data.value.value.emoji_reactions.length}
								<div class="interaction-default">
									{#each data.value.value.emoji_reactions
										.sort((a, b) => b.count - a.count)
										.map((e, i) => ({ id: i, r: e })) as { id, r } (id)}
										<Reaction
											reaction={r}
											on:click={() =>
												reaction?.name === r.name
													? (reaction = null)
													: (reaction = r)}
										></Reaction>
									{/each}
								</div>
							{/if}
						{:else}
							<div
								class="interaction-default"
								style:color="rgb(var(--favourite-color))"
							>
								{data.value.value}
							</div>
						{/if}
					</div>
				</div>
			{/if}
			{#if reaction}
				<ReactionPreview {reaction}></ReactionPreview>
			{/if}
		{/if}
	</div>
</IntersectionObserver>

<style lang="scss">
	.data {
		min-height: 43px;
		display: flex;
		flex-direction: column;

		&:nth-child(even) {
			background-color: rgb(var(--composer));
		}

		&:nth-child(odd) {
			background-color: rgb(var(--background));
		}

		p:first-child {
			text-align: center;
		}

		p:last-child {
			user-select: all;
		}

		&.selected {
			filter: invert(100%);
		}

		.header {
			display: grid;
			grid-template-columns: 200px 1fr;
			grid-column-gap: 0px;
			grid-row-gap: 0px;
			padding: 10px 0px;

			&.expired {
				color: rgb(var(--red));
			}

			button {
				display: grid;
				justify-items: center;
				align-items: center;
				color: rgb(var(--red));
				margin-right: 15px;
				border-radius: 5px;

				&:hover {
					color: rgb(var(--text));
					border: 1px solid rgb(var(--red));
				}
			}
		}

		.interaction {
			display: grid;
			grid-template-columns: 200px 1fr;
			grid-column-gap: 0px;
			grid-row-gap: 0px;

			.interaction-default {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				gap: 1ch;
				margin-bottom: 10px;
			}
		}
	}
</style>
