<script lang="ts">
	import { createEventDispatcher } from 'svelte';
	import IntersectionObserver from 'svelte-intersection-observer';

	import Json from '../Json.svelte';
	import Status from '../../../Status/Container.svelte';

	import { stAccounts } from '../../../../stores/Account/Accounts';

	import { transitionSlide } from '../../../../lib/Transitions/transitionOverride';
	import { convertTwitterEmbed } from '../../../../lib/ComponentFunctions/twitterEmbed';

	import { Dashboard } from '../../../../types/dashboard';

	const eventDispatcher = createEventDispatcher();

	export let data: Dashboard.Redis.Instances | Dashboard.Redis.ExcludedDomains;
	export let toggle_del: boolean;
	export let show: boolean = false;

	const account = Array.from($stAccounts.values())[0];

	let element: HTMLDivElement;
	let intersecting: boolean;

	if (data.ttl && data.ttl !== -1) {
		setTimeout(() => (data.expired = true), data.ttl * 1000);
	}

	function toggle() {
		if (toggle_del) {
			data.selected = !data.selected;
			eventDispatcher('click');
			return;
		}

		show = !show;
	}
</script>

<IntersectionObserver {element} bind:intersecting>
	<div class="data" class:selected={data.selected} bind:this={element}>
		{#if intersecting}
			<button class="header" class:expired={data.expired} on:click={() => toggle()}>
				<p>{data.value.state === Dashboard.Redis.State.Dead ? 'DEAD' : 'OK'}</p>
				<p>{data.key}</p>
			</button>
			{#if show}
				<div class="collapse" transition:transitionSlide={{ duration: 200 }}>
					<div></div>
					{#if typeof data.value.value === 'string'}
						{data.value.value}
					{:else}
						<div class="detail">
							<Status
								{account}
								raw_status={convertTwitterEmbed(account, data.value.value)}
								quote={true}
								border={false}
							/>
							<Json object={data.value.value}></Json>
						</div>
					{/if}
					<!-- <div>
						<p style:color="rgb(var(--favourite-color))">{data.value.value}</p>
					</div> -->
				</div>
			{/if}
		{/if}
	</div>
</IntersectionObserver>

<style lang="scss">
	.data {
		min-height: 43px;
		display: flex;
		flex-direction: column;
		overflow: hidden;

		&:nth-child(even) {
			background-color: rgb(var(--composer));
		}

		&:nth-child(odd) {
			background-color: rgb(var(--background));
		}

		&.selected {
			filter: invert(100%);
		}

		.header {
			display: grid;
			grid-template-columns: 200px 1fr;
			grid-column-gap: 0px;
			grid-row-gap: 0px;
			padding: 10px 0px;

			p:first-child {
				text-align: center;
			}

			p:last-child {
				user-select: all;
			}

			&.expired {
				color: rgb(var(--red));
			}

			button {
				display: grid;
				justify-items: center;
				align-items: center;
				color: rgb(var(--red));
				margin-right: 15px;
				border-radius: 5px;

				&:hover {
					color: rgb(var(--text));
					border: 1px solid rgb(var(--red));
				}
			}
		}

		.collapse {
			display: grid;
			grid-template-columns: 200px 1fr;
			grid-column-gap: 0px;
			grid-row-gap: 0px;
			margin-bottom: 10px;

			p {
				white-space: pre-wrap;
			}

			.detail {
				:global(.status) {
					max-width: var(--column-width);
					border: 1px solid rgb(var(--text));
					border-radius: 10px;
				}
			}
		}
	}
</style>
