<script lang="ts">
	import ContentRenderer from '../../ContentRenderer/ContentRenderer.svelte';
	import ProfilePicture from '../../Status/Header/ProfilePicture.svelte';
	import Time from '../Time.svelte';

	import type { TootDeckAccount } from '../../../stores/Account/Accounts';
	import { stDebugLeaks } from '../../../stores/Options';

	import { getUserDisplayName } from '../../../lib/ComponentFunctions/getUserDisplayName';

	import type { ParsedAccount, ParsedNotification } from '../../../types/contentParsed';
	import { Entity } from '../../../types/mastodonEntities';

	export let account: TootDeckAccount;
	export let notification: ParsedNotification;
	export let text: string;
	export let show_profile_picture: boolean;
	export let showProfile: (account: ParsedAccount) => void;
</script>

<div class="non-grouped">
	<div class="wrapper">
		{#if notification.type !== Entity.NotificationType.PollExpired}
			<button
				class="profile"
				class:profile-picture={show_profile_picture}
				on:click={() => showProfile(notification.accounts[0])}
			>
				{#if show_profile_picture}
					<ProfilePicture
						{account}
						status_account={notification.accounts[0]}
						width="25px"
						height="25px"
						mutual_size="10px"
					/>
				{/if}
				<div class="username">
					{#if !$stDebugLeaks}
						<ContentRenderer
							content={getUserDisplayName(notification.accounts[0])}
							emojis={notification.accounts[0].emojis}
						/>
					{:else}
						{notification.accounts[0].tootdeck.uuid}
					{/if}
				</div>
			</button>
		{/if}
		<div class="text">{text}</div>
	</div>
	<Time {notification} />
</div>

<style lang="scss">
	.non-grouped {
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		overflow: hidden;

		.wrapper {
			flex-grow: 1;
			display: flex;
			flex-direction: row;
			align-items: center;
			flex-wrap: nowrap;
			gap: 0.5ch;
			overflow: hidden;

			.profile {
				display: flex;
				flex-direction: row;
				align-items: center;
				overflow: hidden;

				&.profile-picture {
					gap: 0.75ch;
				}

				.username {
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
				}

				&:hover {
					opacity: 0.7;
				}
			}

			.text {
				flex-grow: 1;
				opacity: 0.7;
			}
		}
	}
</style>
