<script lang="ts">
	import { stContentUpdateTime } from '../../stores/Columns/Content';

	import { formatDate } from '../../lib/Utils/date/formatDate';

	import type { ParsedNotification } from '../../types/contentParsed';

	export let notification: ParsedNotification;

	let date: string;
	$: {
		$stContentUpdateTime;
		date = formatDate(notification.created_at);
	}
</script>

<div class="time">{date}</div>

<style lang="scss">
	.time {
		margin-left: 0.5ch;
		flex-shrink: 0;
		opacity: 0.7;
	}
</style>
