<script lang="ts">
	import { createEventDispatcher } from 'svelte';

	import type { TootDeckAccount } from '../../../stores/Account/Accounts';

	import { errorModal } from '../../../lib/errorModal';
	import { ContentManager } from '../../../lib/Managers/ContentManager';
	import { getUpdateRelationship } from '../../../lib/ComponentFunctions/updateRelationship';
	import { addFullHandle } from '../../../lib/ComponentFunctions/addFullHandle';

	import type { ParsedAccount, ParsedNotification } from '../../../types/contentParsed';

	const eventDispatcher = createEventDispatcher();

	export let account: TootDeckAccount;
	export let status_account: ParsedAccount;
	export let notification: ParsedNotification;

	async function acceptFollowRequest() {
		eventDispatcher('clickOutside');

		const response = await account.mirrorAPI.Accounts.FollowRequest.accept(status_account.id);
		if (!response) {
			return errorModal('Failed to accept follow request.', undefined, true);
		}

		getUpdateRelationship(account, addFullHandle(account, status_account), response);

		ContentManager.Notification.forceRemove(account.mirrorAPI.handle, notification.id);
	}

	async function rejectFollowRequest() {
		eventDispatcher('clickOutside');

		const response = await account.mirrorAPI.Accounts.FollowRequest.reject(status_account.id);
		if (!response) {
			return errorModal('Failed to reject follow request.', undefined, true);
		}

		getUpdateRelationship(account, addFullHandle(account, status_account), response);

		ContentManager.Notification.forceRemove(account.mirrorAPI.handle, notification.id);
	}
</script>

<button on:click={() => acceptFollowRequest()} class="green">Accept</button>
<button on:click={() => rejectFollowRequest()} class="red">Reject</button>

<style lang="scss">
	.green {
		color: rgb(var(--reblog-color));
	}

	.red {
		color: rgb(var(--red));
	}
</style>
