<script lang="ts">
	import { createEventDispatcher } from 'svelte';

	import FollowFrom from './FollowFrom.svelte';

	import { GlobalWindow, GlobalWindowState } from '../../../stores/Window';
	import { stAccounts } from '../../../stores/Account/Accounts';
	import { rdOptionsBehaviorInstance } from '../../../stores/Options';

	import { supportEmojiReactions } from '../../../lib/ComponentFunctions/emojiReaction/supportEmojiReactions';

	import type { ParsedAccount, ParsedStatus } from '../../../types/contentParsed';
	import { RemoteActions } from '../../../types/remoteActions';

	const eventDispatcher = createEventDispatcher();

	export let status_account: ParsedAccount;
	export let status: ParsedStatus | undefined;

	function remoteAction(action: RemoteActions) {
		eventDispatcher('clickOutside');

		GlobalWindow.create({
			state: GlobalWindowState.RemoteActions,
			special: false,
			action,
			status_account,
			status: status!,
		});
	}

	const enable_remote_reaction = !!Array.from($stAccounts.values()).find((value) =>
		supportEmojiReactions(value, $rdOptionsBehaviorInstance)
	);
</script>

<FollowFrom {status_account} on:clickOutside />
<button on:click={() => remoteAction(RemoteActions.Favourite)} class="favourite"
	>Favourite from account</button
>
<button on:click={() => remoteAction(RemoteActions.Bookmark)}>Bookmark from account</button>
{#if enable_remote_reaction}
	<button on:click={() => remoteAction(RemoteActions.Reaction)}>React from account</button>
{/if}

<style lang="scss">
	.favourite {
		color: rgb(var(--favourite-color));
	}
</style>
