<script lang="ts">
	import type { TootDeckAccount } from '../../../stores/Account/Accounts';

	import {
		unfollow as libUnfollow,
		follow as libFollow,
	} from '../../../lib/ComponentFunctions/interactions/follow';
	import { unblock as libUnblock } from '../../../lib/ComponentFunctions/interactions/block';

	import type { ParsedAccount } from '../../../types/contentParsed';
	import type { Entity } from '../../../types/mastodonEntities';

	export let account: TootDeckAccount;
	export let status_account: ParsedAccount;
	export let relation: Entity.Relationship | undefined;
	export let is_me: boolean;
	export let twitter: boolean;

	let follow_hover: boolean = false;

	async function unblock() {
		await libUnblock(account, status_account, relation);
	}

	async function unfollow() {
		await libUnfollow(account, status_account, relation);
	}

	async function follow() {
		await libFollow(account, status_account, relation);
	}
</script>

{#if twitter}
	<!-- Do nothing -->
{:else if is_me}
	<!-- <button class="edit" on:click={() => notImplemented()} style="display:none;"
	>Edit Profile</button
> -->
{:else if relation?.blocking}
	<button
		class="follow blocked"
		class:unfollow={follow_hover}
		on:mouseenter={() => (follow_hover = true)}
		on:mouseleave={() => (follow_hover = false)}
		on:click={() => unblock()}>{follow_hover ? 'Unblock' : 'Blocked'}</button
	>
{:else if relation?.following}
	<button
		class="follow following"
		class:unfollow={follow_hover}
		on:mouseenter={() => (follow_hover = true)}
		on:mouseleave={() => (follow_hover = false)}
		on:click={() => unfollow()}>{follow_hover ? 'Unfollow' : 'Following'}</button
	>
{:else if relation?.requested}
	<button
		class="follow pending"
		class:unfollow={follow_hover}
		on:mouseenter={() => (follow_hover = true)}
		on:mouseleave={() => (follow_hover = false)}
		on:click={() => unfollow()}>{follow_hover ? 'Cancel request' : 'Pending'}</button
	>
{:else}
	<button class="follow" on:click={() => follow()}>Follow</button>
{/if}

<style lang="scss">
	.edit,
	.follow {
		user-select: none;
		padding: 7.5px 15px;
		background-color: rgb(var(--accent));
		border-radius: 20px;
		flex-shrink: 0;
		color: rgb(var(--text-button));
		box-sizing: border-box;

		&:hover {
			filter: brightness(1.2);
		}

		&:active {
			filter: brightness(1.4);
		}

		&.following:not(:hover) {
			background-color: transparent;
			border: 1px solid rgb(var(--accent));
			color: rgb(var(--accent));
		}

		&.pending {
			background-color: rgb(var(--lighter));
		}

		&.accept {
			background-color: rgb(var(--green));
		}

		&.unfollow {
			background-color: rgb(var(--red));
		}

		&.blocked {
			background-color: rgb(var(--red));
		}
	}
</style>
