<script lang="ts">
	import InputCheckbox from '../../../Global/Inputs/InputCheckbox.svelte';
	import NotificationsTypes from './NotificationsTypes.svelte';
	import ProfileSpinner from '../../../Spinner/ProfileSpinner.svelte';

	import { rdOptionsAppearanceCustomValueReblogs } from '../../../../stores/Options';

	import type { StandardNotificationsColumn } from '../../../../lib/Columns/StandardNotificationColumn';
	import { isCheckboxChecked } from '../../../../lib/Utils/js/isCheckboxChecked';
	import { transitionSlide } from '../../../../lib/Transitions/transitionOverride';

	import { InstanceType } from '../../../../types/megalodon';
	import { Entity } from '../../../../types/mastodonEntities';

	export let column: StandardNotificationsColumn;

	const options = column.params.options;

	function convertToDictionnary(types: Array<Entity.NotificationType>): {
		[type: string]: {
			value: boolean;
			icon: string;
			title: string;
		};
	} {
		return {
			[Entity.NotificationType.Mention]: {
				value: !!types.find((t) => t === Entity.NotificationType.Mention),
				icon: 'fa fa-reply',
				title: 'Mentions',
			},
			[Entity.NotificationType.Favourite]: {
				value: !!types.find((t) => t === Entity.NotificationType.Favourite),
				icon: 'fa fa-star',
				title: 'Favourites',
			},
			[Entity.NotificationType.Reblog]: {
				value: !!types.find((t) => t === Entity.NotificationType.Reblog),
				icon: 'fa fa-retweet',
				title: $rdOptionsAppearanceCustomValueReblogs,
			},
			[Entity.NotificationType.PollExpired]: {
				value: !!types.find((t) => t === Entity.NotificationType.PollExpired),
				icon: 'fa fa-tasks',
				title: 'Poll results',
			},
			[Entity.NotificationType.Status]: {
				value: !!types.find((t) => t === Entity.NotificationType.Status),
				icon: 'fa fa-home',
				title: 'Updates from people you follow',
			},
			['emoji_reaction']: {
				value: !!types.find(
					(t) =>
						t === Entity.NotificationType.ReactionChuckya ||
						t === Entity.NotificationType.ReactionPleroma
				),
				icon: 'fa fa-smile-o',
				title: 'Reactions',
			},
			[Entity.NotificationType.Follow]: {
				value: !!types.find((t) => t === Entity.NotificationType.Follow),
				icon: 'fa fa-user-plus',
				title: 'Follows',
			},
			[Entity.NotificationType.AdminReport]: {
				value: !!types.find(
					(t) =>
						t === Entity.NotificationType.AdminSignUp ||
						t === Entity.NotificationType.AdminReport
				),
				icon: 'fa fa-flag',
				title: 'Moderation',
			},
		};
	}

	function convertToArray(object: {
		[type: string]: {
			value: boolean;
			icon: string;
			title: string;
		};
	}): Array<Entity.NotificationType> {
		const types: Array<Entity.NotificationType> = [];

		for (const [type, value] of Object.entries(object)) {
			if (value.value) {
				switch (type) {
					case Entity.NotificationType.Mention:
						types.push(Entity.NotificationType.Mention);
						break;
					case Entity.NotificationType.Favourite:
						types.push(Entity.NotificationType.Favourite);

						break;
					case Entity.NotificationType.Reblog:
						types.push(Entity.NotificationType.Reblog);

						break;
					case Entity.NotificationType.PollExpired:
						types.push(Entity.NotificationType.PollExpired);

						break;
					case Entity.NotificationType.Status:
						types.push(Entity.NotificationType.Status);

						break;
					case 'emoji_reaction':
						if (column.account.mirrorAPI.instance_type === InstanceType.Mastodon) {
							types.push(Entity.NotificationType.ReactionChuckya);
						} else if (
							column.account.mirrorAPI.instance_type === InstanceType.Pleroma
						) {
							types.push(Entity.NotificationType.ReactionPleroma);
						}

						break;
					case Entity.NotificationType.Follow:
						types.push(Entity.NotificationType.Follow);

						break;
					case Entity.NotificationType.AdminReport:
						types.push(
							Entity.NotificationType.AdminSignUp,
							Entity.NotificationType.AdminReport
						);

						break;
				}
			}
		}

		return types;
	}

	let notification_types = convertToDictionnary($options.types);
	let last_types = $options.types.join(',');
	let types_changed: boolean = false;
	let waiting: boolean = false;

	async function reload() {
		if (waiting) {
			return;
		}

		waiting = true;

		await column.reload();

		waiting = false;
	}

	async function updateTypes(types: Array<Entity.NotificationType>) {
		column.changeTypes(types);
		await reload();

		last_types = types.join(',');
		types_changed = false;
	}

	function change(types: Array<Entity.NotificationType>) {
		const current = types.join(',');
		if (current === last_types) {
			types_changed = false;
			return;
		}

		types_changed = true;
	}

	$: change(convertToArray(notification_types));
</script>

<div style="z-index: 1; position: relative;">
	<NotificationsTypes bind:choices={notification_types} account={column.account}
	></NotificationsTypes>
	{#if types_changed}
		<div class="save-changes" transition:transitionSlide={{ duration: 100 }}>
			<button on:click={() => updateTypes(convertToArray(notification_types))}>Save</button>
		</div>
	{/if}
</div>
<InputCheckbox
	text="Group notifications"
	checked={$options.group}
	on:click={(e) => {
		$options.group = isCheckboxChecked(e);
		reload();
	}}
></InputCheckbox>
{#if waiting}
	<div class="loading">
		<ProfileSpinner></ProfileSpinner>
		Reloading column
	</div>
{/if}

<style lang="scss">
	.loading {
		z-index: 1;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1ch;
		background-color: rgba(var(--background), 0.33);
		backdrop-filter: blur(2px);
	}

	.save-changes {
		z-index: 0;
		position: relative;
		top: -0.5em;
		display: flex;
		flex-direction: row;
		justify-content: center;
		background-color: rgb(var(--composer));
		border-left: 2px solid rgba(var(--lighter), 0.5);
		border-right: 2px solid rgba(var(--lighter), 0.5);
		border-bottom: 2px solid rgba(var(--lighter), 0.5);
		border-radius: 0px 0px 10px 10px;
		padding: 0.75em 0px 0.25em;

		button {
			z-index: 1;
			position: relative;
			width: 100%;
			text-align: center;

			&:hover {
				color: rgb(var(--accent));
			}
		}
	}
</style>
