<script lang="ts">
	import type { Composer } from '../../../types/composer';

	export let composer: Composer;

	const { remaining_char } = composer;
</script>

<div class="characters" class:invalid={$remaining_char < 0}>{$remaining_char}</div>

<style lang="scss">
	.characters {
		width: 100%;
		text-align: end;
		font-weight: bold;
		padding-right: 10px;
		box-sizing: border-box;

		&.invalid {
			color: rgb(var(--red));
		}
	}
</style>
