<script lang="ts">
	import Picker from '../Emoji/Picker.svelte';

	import { stEmojis } from '../../../stores/Emojis';
	import { rdOptionsBehaviorEmojiPickerToggleWideEmoji } from '../../../stores/Options';

	import type { Composer } from '../../../types/composer';

	export let composer: Composer;
	const { account } = composer;

	let show: boolean = false;

	const EmojiPickerInstance = $stEmojis.get($account.mirrorAPI.domain)!;

	function appendEmoji(node: HTMLElement) {
		EmojiPickerInstance.parse(node);
	}
</script>

<button use:appendEmoji class="emoji" class:show on:click={() => (show = true)}>🙂</button>
{#if show}
	<div
		class="emoji-picker-container"
		class:disable-wide-emoji={!$rdOptionsBehaviorEmojiPickerToggleWideEmoji}
	>
		<Picker {composer} on:clickOutside={() => setTimeout(() => (show = false))} />
	</div>
{/if}

<style lang="scss">
	.emoji {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.25em;
		padding: 2.5px 12px;
		filter: grayscale(1);
		font-family: 'Twemoji Mozilla', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
			'Noto Color Emoji', 'EmojiOne Color', 'Android Emoji', sans-serif;
		cursor: pointer;
		transition: calc(0.2s * var(--transition-speed));

		&:hover,
		&.show {
			filter: grayscale(0);
		}
	}

	.emoji-picker-container {
		z-index: 10;
		position: absolute;
		top: 45px;
		left: 0;
		width: 100%;

		:global(.emoji-mart-svelte) {
			width: 100%;
		}

		&.disable-wide-emoji {
			:global(.emoji-mart-svelte-emoji) {
				width: 32px !important;
			}
		}

		:global(.emoji-mart-svelte-emoji) {
			min-width: 32px;
			min-height: 32px;
			max-height: 32px;
		}
	}
</style>
