<script lang="ts">
	import type { Composer } from '../../../types/composer';

	export let composer: Composer;

	const { added_media, uuid } = composer;

	const accept = [
		'.jpg',
		'.jpeg',
		'.png',
		'.gif',
		'.webp',
		'.heic',
		'.heif',
		'.avif',
		'.webm',
		'.mp4',
		'.m4v',
		'.mov',
		'.ogg',
		'.oga',
		'.mp3',
		'.wav',
		'.flac',
		'.opus',
		'.aac',
		'.m4a',
		'.3gp',
		'.wma',
		'image/jpeg',
		'image/png',
		'image/gif',
		'image/heic',
		'image/heif',
		'image/webp',
		'image/avif',
		'video/webm',
		'video/mp4',
		'video/quicktime',
		'video/x-ms-asf',
		'video/ogg',
		'audio/wave',
		'audio/wav',
		'audio/x-wav',
		'audio/x-pn-wave',
		'audio/vnd.wave',
		'audio/ogg',
		'audio/vorbis',
		'audio/mpeg',
		'audio/mp3',
		'audio/webm',
		'audio/flac',
		'audio/aac',
		'audio/m4a',
		'audio/x-m4a',
		'audio/mp4',
		'audio/3gpp',
	];

	let files: FileList;

	function convertFilesToMedia(files: FileList) {
		if (!files) {
			return;
		}

		$added_media = Array.from(files);
	}

	$: convertFilesToMedia(files);

	function resetMediaInput(e: any) {
		((e as InputEvent).target as HTMLInputElement).value = '';
	}
</script>

<input
	id={uuid}
	type="file"
	accept={accept.join(',')}
	multiple={true}
	bind:files
	on:change={resetMediaInput}
/>
<label for={uuid} class="file fa fa-paperclip" />

<style lang="scss">
	input {
		display: none;
	}

	.file {
		display: grid;
		justify-items: center;
		align-items: center;
		flex-shrink: 0;
		cursor: pointer;
		font-size: 30px;
		padding: 0px 5px;
		font-size: 25px;
		transform: rotate(45deg);
		margin: -5px -5px -2px -5px;

		&::before {
			padding: 5px;
		}

		&:hover {
			filter: brightness(1.2);
		}

		&:active {
			filter: brightness(1.4);
		}
	}
</style>
