<script lang="ts">
	import LanguageSelector from '../../Selector/Implementations/LanguageSelector.svelte';

	import { findLanguage } from '../../../lib/Utils/findLanguage';

	export let language: string;

	let show: boolean = false;
</script>

<button class="language" class:active={show} on:click={() => (show = !show)}>
	{findLanguage(language)?.short ?? language}
</button>
{#if show}
	<LanguageSelector
		bind:select={language}
		on:click={() => (show = false)}
		on:close={() => setTimeout(() => (show = false))}
	/>
{/if}

<style lang="scss">
	.language {
		display: grid;
		justify-items: center;
		align-items: center;
		flex-shrink: 0;
		color: rgb(var(--icons));
		font-size: 30px;
		font-size: 17px;
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
		padding: 0px 5px;
		filter: saturate(0.3);

		&:hover {
			filter: brightness(1.2);
		}

		&:active,
		&.active {
			filter: brightness(1.4);
		}
	}
</style>
