<script lang="ts">
	import type { Composer } from '../../../types/composer';

	export let composer: Composer;

	const { toggle } = composer;
	const { poll: show_poll } = toggle;
</script>

<button
	class="poll fa fa-tasks"
	class:active={$show_poll}
	on:click={() => ($show_poll = !$show_poll)}
/>

<style lang="scss">
	.poll {
		display: grid;
		justify-items: center;
		align-items: center;
		flex-shrink: 0;
		cursor: pointer;
		font-size: 30px;
		padding: 0px 5px;

		&:hover {
			filter: brightness(1.2);
		}

		&:active {
			filter: brightness(1.4);
		}

		&.active {
			color: rgb(var(--text));
		}
	}
</style>
