<script lang="ts">
	import Img from '../../Global/Img.svelte';
	import DisplayName from '../../Status/Header/DisplayName.svelte';

	import {
		stRefreshAccount,
		type TootDeckAccount,
		stAccountsSameInstance,
	} from '../../../stores/Account/Accounts';
	import { rdOptionsAppearanceAnimationAnimateGifAvatar } from '../../../stores/Options';

	import { addFullHandleIfNecessary } from '../../../lib/ComponentFunctions/addFullHandle';

	export let account: TootDeckAccount;
	export let custom: boolean;
</script>

<div class="account">
	<div class="left">
		<div class="pp">
			<Img
				src={$stRefreshAccount && $rdOptionsAppearanceAnimationAnimateGifAvatar
					? account.entity.avatar
					: account.entity.avatar_static}
				alt="{account.entity.username} profile picture"
				width="45px"
				height="45px"
			/>
		</div>
		<div class="user">
			<DisplayName status_account={account.entity} show_lock={true} bold={true} />
			<div class="username">
				@{addFullHandleIfNecessary($stAccountsSameInstance, account)}
			</div>
		</div>
	</div>
	<div class="right" class:custom>
		<slot />
	</div>
</div>

<style lang="scss">
	.account {
		max-width: 90vw;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		gap: 10px;
		user-select: none;

		.left {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 10px;
			overflow: hidden;

			.pp {
				position: relative;
				width: 45px;
				height: 45px;

				:global(img) {
					border-radius: 100%;
				}
			}

			.user {
				overflow: hidden;
				text-overflow: ellipsis;

				.username {
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
		}

		.right:not(.custom) {
			:global(button) {
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 0.75ch;
				padding: 5px 10px;
				background-color: rgb(var(--accent));
				border-radius: 10px;

				&:hover {
					filter: brightness(1.4);
				}
			}
		}
	}
</style>
