<script lang="ts">
	import { setContext } from 'svelte';
	import { writable } from 'svelte/store';

	import Container from '../Window.svelte';
	import Account from './Account.svelte';
	import RemoteFollow from './Actions/RemoteFollow.svelte';
	import RemoteFavourite from './Actions/RemoteFavourite.svelte';
	import RemoteBookmark from './Actions/RemoteBookmark.svelte';
	import ReactionPicker from './ReactionPicker.svelte';
	import RemoteReaction from './Actions/RemoteReaction.svelte';

	import { stAccounts } from '../../../stores/Account/Accounts';
	import { stGlobalWindow, type GlobalWindowRemoteActions } from '../../../stores/Window';
	import { rdOptionsBehaviorInstance } from '../../../stores/Options';

	import { supportEmojiReactions } from '../../../lib/ComponentFunctions/emojiReaction/supportEmojiReactions';

	import { RemoteActions } from '../../../types/remoteActions';
	import type { ParsedAccount, ParsedStatus } from '../../../types/contentParsed';

	const global_window = $stGlobalWindow as GlobalWindowRemoteActions;

	// Mandatory
	const action: RemoteActions = global_window.action;

	// Optional
	const status_account: ParsedAccount =
		global_window.status_account ?? global_window.status?.account!;
	const status: ParsedStatus = global_window.status!;

	function selectTitle() {
		switch (action) {
			case RemoteActions.Follow:
				return `Follow ${status_account.acct} from`;

			case RemoteActions.Favourite:
				return `Favourite ${status_account.acct}'s status from`;

			case RemoteActions.Bookmark:
				return `Bookmark ${status_account.acct}'s status from`;

			case RemoteActions.Reaction:
				return `React to ${status_account.acct}'s status from`;
		}
	}

	setContext('PickerProps', {
		update: writable(0),
	});
</script>

<Container title={selectTitle()}>
	<div class="remote">
		{#each $stAccounts as [id, acc] (id)}
			{#if action === RemoteActions.Reaction && !supportEmojiReactions(acc, $rdOptionsBehaviorInstance)}
				<!-- Continue -->
			{:else}
				<Account account={acc} custom={action === RemoteActions.Reaction}>
					{#if action === RemoteActions.Follow}
						{#if acc.entity.id !== status_account.id}
							<RemoteFollow account={acc} {status_account} />
						{/if}
					{:else if action === RemoteActions.Favourite}
						<RemoteFavourite account={acc} {status} />
					{:else if action === RemoteActions.Bookmark}
						<RemoteBookmark account={acc} {status} />
					{:else if action === RemoteActions.Reaction}
						<RemoteReaction account={acc} {status} />
					{/if}
				</Account>
			{/if}
		{/each}
	</div>
</Container>
<ReactionPicker />

<style lang="scss">
	.remote {
		min-width: 400px;
		max-height: 70vh;
		overflow-y: auto;
		display: flex;
		flex-direction: column;
		gap: 10px;
		padding: 10px 20px;
	}
</style>
