<script lang="ts">
	import { rdOptionsAppearanceTheme } from '../../stores/Options';

	import { marked } from '../../lib/Marked';
	import { ANCHOR_ARGS } from '../../lib/Constants/Anchor';
	import { ThemeAvailable } from '../../lib/ComponentFunctions/options/theme';

	export let description: string;

	/**
	 * Add target="_blank" and referrer policy to all anchors
	 */
	function rewriteURL(markdown: string) {
		for (const match of markdown.matchAll(/<a[^>]*>/g)) {
			let anchor = match[0];
			const offset = anchor.length;

			const args = Object.entries(ANCHOR_ARGS)
				.map(([key, value]) => `${key}="${value}"`)
				.join(' ');
			anchor = anchor.substring(0, offset - 1); // remove closing tag char ">"
			anchor += ` ${args}">`;

			const prefix = markdown.slice(0, match.index);
			const suffix = markdown.slice(match.index + offset);
			markdown = prefix + anchor + suffix;
		}

		return markdown;
	}
</script>

<svelte:head>
	{#if $rdOptionsAppearanceTheme === ThemeAvailable.Light}
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.10.0/styles/github.min.css"
		/>
	{:else}
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.10.0/styles/github-dark.min.css"
		/>
	{/if}
</svelte:head>

<div class="release-changelog">
	{#await marked.parse(description) then markdown}
		{@html rewriteURL(markdown)}
	{/await}
</div>

<style lang="scss">
	.release-changelog {
		display: flex;
		flex-direction: column;
		gap: 0.5ch;
		padding: 20px;
		overflow-y: auto;
		overflow-x: hidden;

		:global(ul) {
			margin-bottom: 0;
		}

		:global(hr) {
			border: 0;
			height: 0;
			border-top: 1px solid rgba(0, 0, 0, 0.1);
			border-bottom: 1px solid rgba(255, 255, 255, 0.3);
		}
	}
</style>
