<script lang="ts">
	import { VERSION } from 'svelte/compiler';

	import Loading from './Loading.svelte';
	import Release from './Release.svelte';

	import { Changelog } from '../../lib/Changelog';
</script>

{#if Changelog.local_state.release}
	<Release description={Changelog.local_state.release}></Release>
{:else}
	{#await Changelog.getRelease(VERSION)}
		<Loading></Loading>
	{:then description}
		{#if description}
			<Release {description}></Release>
		{:else}
			<span>Failed to fetch changelog.</span>
		{/if}
	{/await}
{/if}
