<script lang="ts">
	import InputCheckbox from '../../../Global/Inputs/InputCheckbox.svelte';
	import InputNumber from '../../../Global/Inputs/InputNumber.svelte';

	import {
		stOptions,
		rdOptionsAppearanceAnimationMediaViewerMediaChange,
		rdOptionsAppearanceAnimationAnimateGifAvatar,
		rdOptionsAppearanceAnimationAnimateGifStatus,
		rdOptionsAppearanceAnimationAnimateGifNotification,
		rdOptionsAppearanceAnimationAnimateGifEmoji,
		rdOptionsAppearanceAnimationSpeedFactor,
		rdOptionsAppearanceAnimationColumnContent,
	} from '../../../../stores/Options';

	import { clamp } from '../../../../lib/Utils/number/clamp';
	import { isCheckboxChecked } from '../../../../lib/Utils/js/isCheckboxChecked';
	import { awaitRender } from '../../../../lib/Utils/awaitRender';
	import { updateStoreNumber } from '../../../../lib/ComponentFunctions/updateStoreNumber';

	let setting_animation_speed_factor = +$rdOptionsAppearanceAnimationSpeedFactor.toFixed(1);
	function speedFactor() {
		return awaitRender(() =>
			updateStoreNumber(
				setting_animation_speed_factor,
				(v) => +clamp(v, 0, 20).toFixed(1),
				(v) => ($stOptions.appearance.animation.speedFactor = v)
			)
		);
	}
</script>

<div class="settings-section column">
	<h2>Animations</h2>
	<InputNumber
		text={'Animations speed factor'}
		step="0.1"
		min="0"
		max="20"
		hint="(0 means disabled)"
		bind:value={setting_animation_speed_factor}
		on:change={speedFactor}
	/>
	<InputCheckbox
		text={'Slideshow animation in media viewer'}
		checked={$rdOptionsAppearanceAnimationMediaViewerMediaChange}
		on:click={(e) =>
			($stOptions.appearance.animation.mediaViewer.mediaChange = isCheckboxChecked(e))}
	/>
	<InputCheckbox
		text={'Animate statuses in columns'}
		checked={$rdOptionsAppearanceAnimationColumnContent}
		on:click={(e) =>
			awaitRender(
				() => ($stOptions.appearance.animation.column.content = isCheckboxChecked(e))
			)}
	/>
	<p>Always animate GIFs</p>
	<InputCheckbox
		text={'In avatars'}
		checked={$rdOptionsAppearanceAnimationAnimateGifAvatar}
		on:click={(e) => ($stOptions.appearance.animation.animateGif.avatar = isCheckboxChecked(e))}
	/>
	<InputCheckbox
		text={'In statuses'}
		checked={$rdOptionsAppearanceAnimationAnimateGifStatus}
		on:click={(e) => ($stOptions.appearance.animation.animateGif.status = isCheckboxChecked(e))}
	/>
	<InputCheckbox
		text={'In notifications'}
		checked={$rdOptionsAppearanceAnimationAnimateGifNotification}
		on:click={(e) =>
			($stOptions.appearance.animation.animateGif.notification = isCheckboxChecked(e))}
	/>
	<InputCheckbox
		text={'In emojis'}
		checked={$rdOptionsAppearanceAnimationAnimateGifEmoji}
		on:click={(e) => ($stOptions.appearance.animation.animateGif.emoji = isCheckboxChecked(e))}
	/>
</div>

<style lang="scss">
	p {
		padding: 5px 0px;
	}
</style>
