<script lang="ts">
	import InputText from '../../../Global/Inputs/InputText.svelte';
	import InputNumber from '../../../Global/Inputs/InputNumber.svelte';
	import InputCheckbox from '../../../Global/Inputs/InputCheckbox.svelte';

	import {
		stOptions,
		rdOptionsAppearanceBackgroundOpacityValue,
		rdOptionsAppearanceBackgroundOpacityComposer,
		rdOptionsAppearanceBackgroundOpacitySidebar,
		rdOptionsAppearanceBackgroundOpacityHeaders,
	} from '../../../../stores/Options';

	import { clamp } from '../../../../lib/Utils/number/clamp';
	import { transitionSlide } from '../../../../lib/Transitions/transitionOverride';
	import { isCheckboxChecked } from '../../../../lib/Utils/js/isCheckboxChecked';
	import { updateStoreNumber } from '../../../../lib/ComponentFunctions/updateStoreNumber';

	let setting_background_opacity = $rdOptionsAppearanceBackgroundOpacityValue;
	function backgroundOpacity() {
		return updateStoreNumber(
			setting_background_opacity,
			(v) => +clamp(v, 0, 1).toFixed(2),
			(v) => ($stOptions.appearance.background.opacity.value = v)
		);
	}
</script>

<div class="settings-section column">
	<h1>Background</h1>
	<div class="background-opacity">
		<InputNumber
			text="Opacity"
			min="0"
			max="1"
			step="0.01"
			bind:value={setting_background_opacity}
			on:change={backgroundOpacity}
		></InputNumber>
		<input
			type="range"
			min="0"
			max="1"
			step="0.01"
			bind:value={setting_background_opacity}
			on:change={backgroundOpacity}
		/>
	</div>
	{#if setting_background_opacity !== 1}
		<div class="margin-left" transition:transitionSlide={{ duration: 200 }}>
			<p>Apply transparency on</p>
			<InputCheckbox
				text={'Composer'}
				checked={$rdOptionsAppearanceBackgroundOpacityComposer}
				on:click={(e) =>
					($stOptions.appearance.background.opacity.composer = isCheckboxChecked(e))}
			></InputCheckbox>
			<InputCheckbox
				text={'Columns headers'}
				checked={$rdOptionsAppearanceBackgroundOpacityHeaders}
				on:click={(e) =>
					($stOptions.appearance.background.opacity.headers = isCheckboxChecked(e))}
			></InputCheckbox>
			<InputCheckbox
				text={'The sidebar'}
				checked={$rdOptionsAppearanceBackgroundOpacitySidebar}
				on:click={(e) =>
					($stOptions.appearance.background.opacity.sidebar = isCheckboxChecked(e))}
			></InputCheckbox>
		</div>
	{/if}
	<div class="margin-left">
		<InputText
			text="Image"
			placeholder={'url'}
			bind:value={$stOptions.appearance.background.image}
		></InputText>
	</div>
</div>

<style lang="scss">
	.background-opacity {
		display: flex;
		flex-direction: row;

		input[type='range'] {
			flex-grow: 1;
		}
	}

	.margin-left {
		margin-left: 15px;
	}
</style>
