<script lang="ts">
	import Animations from './Animations.svelte';
	import Background from './Background.svelte';
	import Border from './Border.svelte';
	import Columns from './Columns.svelte';
	import CustomValues from './CustomValues.svelte';
	import Emojis from './Emojis.svelte';
	import Extra from './Extra.svelte';
	import Statuses from './Statuses.svelte';
	import TopRow from './TopRow.svelte';
</script>

<TopRow />
<Animations />
<Statuses />
<Columns />
<Border />
<Emojis />
<Background />
<CustomValues />
<Extra />
