<script lang="ts">
	import InputText from '../../../Global/Inputs/InputText.svelte';

	import { stOptions } from '../../../../stores/Options';
</script>

<div class="settings-section column" style="gap:10px;">
	<h2>Custom values</h2>
	<h4>Status alias</h4>
	<div style="width: 50%;">
		<InputText bind:value={$stOptions.appearance.customValue.publishBtn} />
	</div>
	<h4>Reblog alias</h4>
	<div style="width: 50%;">
		Singular
		<InputText bind:value={$stOptions.appearance.customValue.reblogBtn} />
	</div>
	<div style="width: 50%;">
		Plural
		<InputText bind:value={$stOptions.appearance.customValue.reblogs} />
	</div>
	<div style="width: 50%;">
		Past participle
		<InputText bind:value={$stOptions.appearance.customValue.reblog} />
	</div>
</div>
