<script lang="ts">
	import { EmojiIconsStyles, type EmojiStyle } from 'emoji-mart-svelte';

	import InputCheckbox from '../../../Global/Inputs/InputCheckbox.svelte';
	import InputNumber from '../../../Global/Inputs/InputNumber.svelte';
	import InputCheckboxCollapse from '../../../Global/Inputs/InputCheckboxCollapse.svelte';

	import {
		rdOptionsAppearanceEmojiStyle,
		rdOptionsAppearanceEmojiReaction,
		rdOptionsAppearanceEmojiReactionInQuote,
		rdOptionsAppearanceEmojiReactionMax,
		stOptions,
	} from '../../../../stores/Options';

	import { capitalize } from '../../../../lib/Utils/string/capitalize';
	import { isCheckboxChecked } from '../../../../lib/Utils/js/isCheckboxChecked';
	import { updateStoreNumber } from '../../../../lib/ComponentFunctions/updateStoreNumber';

	let changed: boolean = false;
	let initial_value: EmojiStyle = $rdOptionsAppearanceEmojiStyle;

	function changeStyle(style: string) {
		$stOptions.appearance.emoji.style = style as any;
		changed = initial_value !== style;
	}

	let setting_emoji_reaction_max = +$rdOptionsAppearanceEmojiReactionMax.toFixed(0);
	function emojiReactionMax() {
		return updateStoreNumber(
			setting_emoji_reaction_max,
			(v) => +Math.max(0, Math.floor(v)).toFixed(1),
			(v) => ($stOptions.appearance.emoji.reaction.max = v)
		);
	}
</script>

<div class="settings-section column">
	<div class="title">
		<h2>Emojis</h2>
		{#if changed}
			<div class="warning">Requires a reload for changes to take effect</div>
		{/if}
	</div>
	<div class="selector">
		{#each Object.entries(EmojiIconsStyles) as [provider, image]}
			<button on:click={() => changeStyle(provider)}>
				<input
					type="radio"
					id={'emoji-style-' + provider}
					name="emoji-style"
					value={provider}
					checked={$rdOptionsAppearanceEmojiStyle === provider}
				/>
				<label
					for={'emoji-style-' + provider}
					style:transition={'calc(0.2s * var(--transition-speed))'}
				>
					<img class="icon" src={image} alt="Smiling Face with Smiling Eyes" />
					<div>
						{capitalize(provider)}
					</div>
				</label>
			</button>
		{/each}
		<button on:click={() => changeStyle('native')}>
			<input
				type="radio"
				id={'emoji-style-native'}
				name="emoji-style"
				value={'native'}
				checked={$rdOptionsAppearanceEmojiStyle === 'native'}
			/>
			<label for={'emoji-style-native'}>
				<div class="icon">😊</div>
				<div>Native</div>
			</label>
		</button>
	</div>
	<InputCheckboxCollapse
		text={'Emoji reactions'}
		checked={$rdOptionsAppearanceEmojiReaction}
		margin={false}
		on:click={(e) => ($stOptions.appearance.emoji.reaction.value = isCheckboxChecked(e))}
	>
		<InputCheckbox
			text={'Show emoji reactions in quote'}
			checked={$rdOptionsAppearanceEmojiReactionInQuote}
			on:click={(e) => ($stOptions.appearance.emoji.reaction.inQuote = isCheckboxChecked(e))}
		></InputCheckbox>
		<InputNumber
			text={'Max number of reactions to show'}
			step="1"
			min="0"
			hint="(0 means no limit)"
			bind:value={setting_emoji_reaction_max}
			on:change={emojiReactionMax}
		/>
	</InputCheckboxCollapse>
</div>

<style lang="scss">
	input {
		display: none;
	}

	.title {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 2ch;
		margin-bottom: 5px;

		.warning {
			font-size: 13px;
			opacity: 0.7;
		}
	}

	.selector {
		display: flex;
		flex-direction: row;
		gap: 1ch;

		input:checked + label {
			background-color: rgb(var(--accent));
		}

		label {
			all: unset;
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 0.5ch;
			border: 1px solid transparent;
			padding: 5px 7.5px;
			border-radius: 10px;
			box-sizing: border-box;
			transition: calc(0.1s * var(--transition-speed));

			&:hover {
				border: 1px solid rgb(var(--accent));
			}

			.icon {
				width: 26px;
				height: 26px;
				font-size: 24px;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;
			}
		}
	}
</style>
