<script lang="ts">
	import InputCheckbox from '../../../Global/Inputs/InputCheckbox.svelte';
	import InputToArray from '../InputToArray/Container.svelte';
	import ImageRadio from './ImageRadio/ImageRadio.svelte';
	import InputCheckboxCollapse from '../../../Global/Inputs/InputCheckboxCollapse.svelte';

	import {
		rdOptionsAppearanceExtraCherryBlossomPetals,
		rdOptionsAppearanceExtraSnow,
		rdOptionsAppearanceExtraRemovePrefixHandle,
		stOptions,
		rdOptionsAppearanceExtraMutualIndicator,
		rdOptionsAppearanceExtraPrideLogoToggle,
		rdOptionsAppearanceExtraPrideLogoUserDefined,
		rdOptionsAppearanceExtraPrideLogoRandom,
		rdOptionsAppearanceExtraPrideLogoScheduled,
	} from '../../../../stores/Options';

	import { isCheckboxChecked } from '../../../../lib/Utils/js/isCheckboxChecked';
	import { setFavicon } from '../../../../lib/ComponentFunctions/options/setFavicon';
	import { transitionSlide } from '../../../../lib/Transitions/transitionOverride';

	import { prideLogo } from '../../../../assets/prideLogo';
</script>

<div class="settings-section column">
	<h2>Extra</h2>
	<InputCheckbox
		text={'Snowfall'}
		checked={$rdOptionsAppearanceExtraSnow}
		on:click={(e) => {
			const checked = isCheckboxChecked(e);
			if (checked) {
				$stOptions.appearance.extra.cherryBlossomPetals = false;
			}
			$stOptions.appearance.extra.snow = checked;
		}}
	></InputCheckbox>
	<InputCheckbox
		text={'Cherry blossom petal shower'}
		checked={$rdOptionsAppearanceExtraCherryBlossomPetals}
		on:click={(e) => {
			const checked = isCheckboxChecked(e);
			if (checked) {
				$stOptions.appearance.extra.snow = false;
			}
			$stOptions.appearance.extra.cherryBlossomPetals = checked;
		}}
	></InputCheckbox>
	<InputCheckbox
		text={'Show a mutual indicator at the bottom right of profile pictures in columns'}
		checked={$rdOptionsAppearanceExtraMutualIndicator}
		on:click={(e) => ($stOptions.appearance.extra.mutualIndicator = isCheckboxChecked(e))}
	></InputCheckbox>
	<InputCheckbox
		text={'Remove fedi prefix from instance domains in handles (eg. "mstdn", "mk", ...)'}
		checked={$rdOptionsAppearanceExtraRemovePrefixHandle}
		on:click={(e) =>
			($stOptions.appearance.extra.removePrefixHandle.value = isCheckboxChecked(e))}
	></InputCheckbox>
	{#if $rdOptionsAppearanceExtraRemovePrefixHandle}
		<InputToArray
			placeholder="Subdomain to hide (tip: you can use regex syntax)"
			bind:items={$stOptions.appearance.extra.removePrefixHandle.items}
		></InputToArray>
	{/if}
	<h2>Favicon</h2>
	<InputCheckboxCollapse
		text={'Pride'}
		checked={$rdOptionsAppearanceExtraPrideLogoToggle}
		on:click={(e) => {
			$stOptions.appearance.extra.prideLogo.toggle = isCheckboxChecked(e);
			setFavicon($stOptions.appearance.extra.prideLogo);
		}}
	>
		<InputCheckbox
			text={'Only if pride month'}
			checked={$rdOptionsAppearanceExtraPrideLogoScheduled}
			on:click={(e) => {
				$stOptions.appearance.extra.prideLogo.scheduled = isCheckboxChecked(e);
				setFavicon($stOptions.appearance.extra.prideLogo);
			}}
		></InputCheckbox>
		<InputCheckbox
			text={'Choose a random flag each time the application starts'}
			checked={$rdOptionsAppearanceExtraPrideLogoRandom}
			on:click={(e) => {
				$stOptions.appearance.extra.prideLogo.random = isCheckboxChecked(e);
				setFavicon($stOptions.appearance.extra.prideLogo);
			}}
		></InputCheckbox>
		{#if !$rdOptionsAppearanceExtraPrideLogoRandom}
			<div style="max-width: 550px;" transition:transitionSlide={{ duration: 300 }}>
				<ImageRadio
					data={Object.entries(prideLogo).sort((a, b) => (a[0] < b[0] ? -1 : 1))}
					selected={$rdOptionsAppearanceExtraPrideLogoUserDefined}
					on:click={(e) => {
						$stOptions.appearance.extra.prideLogo.userDefined = e.detail;
						setFavicon($stOptions.appearance.extra.prideLogo);
					}}
				></ImageRadio>
			</div>
		{/if}
	</InputCheckboxCollapse>
</div>
