<script lang="ts">
	import InputCheckbox from '../../../Global/Inputs/InputCheckbox.svelte';
	import InputCheckboxCollapse from '../../../Global/Inputs/InputCheckboxCollapse.svelte';

	import {
		rdOptionsAppearanceStatusInteractionCompactMode,
		rdOptionsAppearanceStatusInteractionShowOnHover,
		rdOptionsAppearanceStatusMetadataLanguage,
		rdOptionsAppearanceStatusMetadataVisibilty,
		stOptions,
	} from '../../../../stores/Options';

	import { isCheckboxChecked } from '../../../../lib/Utils/js/isCheckboxChecked';
</script>

<div class="settings-section column">
	<h2>Statuses</h2>
	<InputCheckboxCollapse
		text="Show actions on hover"
		checked={$rdOptionsAppearanceStatusInteractionShowOnHover}
		on:click={(e) => {
			const value = isCheckboxChecked(e);
			$stOptions.appearance.status.interaction.showOnHover = value;
			if (!value) {
				$stOptions.appearance.status.interaction.compactMode = false;
			}
		}}
	>
		<InputCheckbox
			text="Compact mode"
			checked={$rdOptionsAppearanceStatusInteractionCompactMode}
			on:click={(e) =>
				($stOptions.appearance.status.interaction.compactMode = isCheckboxChecked(e))}
		/>
	</InputCheckboxCollapse>
	<InputCheckbox
		text="Show languages"
		checked={$rdOptionsAppearanceStatusMetadataLanguage}
		on:click={(e) => ($stOptions.appearance.status.metadata.language = isCheckboxChecked(e))}
	/>
	<InputCheckbox
		text="Show visibilties"
		checked={$rdOptionsAppearanceStatusMetadataVisibilty}
		on:click={(e) => ($stOptions.appearance.status.metadata.visibility = isCheckboxChecked(e))}
	/>
</div>
