<script lang="ts">
	import Checkbox from './Checkbox.svelte';
	import TwoStepButton from '../../Global/Button/TwoStepButton.svelte';
	import Img from '../../Global/Img.svelte';
	import DisplayName from '../../Status/Header/DisplayName.svelte';

	import {
		stAccountDefault,
		type TootDeckAccount,
		Account,
		stRefreshAccount,
	} from '../../../stores/Account/Accounts';
	import { ExpandedPanelState } from '../../../stores/ExpandedPanel';
	import { ExpandedPanel } from '../../../stores/ExpandedPanel';
	import {
		rdOptionsAppearanceAnimationAnimateGifAvatar,
		stOptionsReadOnly,
	} from '../../../stores/Options';

	import { transitionSlide } from '../../../lib/Transitions/transitionOverride';
	import { randomInt } from '../../../lib/Utils/js/randomInt';
	import { unlinkAccount } from '../../../lib/ComponentFunctions/unlinkAccount';

	export let account: TootDeckAccount;
	export let lock: boolean;
	export let reorder: boolean = false;

	let collapsed: boolean = true;

	let selected: boolean;
	const handle = account.mirrorAPI.handle_string;
	$: selected = $stAccountDefault === handle;

	const is_login_account = Account.isLoginAccount(account);

	const { options } = account;
</script>

<button class="account">
	<button
		class="header"
		class:lock
		class:collapsed
		class:reorder
		on:click={() => {
			if (lock) {
				return;
			}
			collapsed = !collapsed;
		}}
		style="animation-delay: .{randomInt(0, 3)}s;"
	>
		<div
			class="banner"
			style="background-color:{account.entity.header.includes('missing.png')
				? '#000'
				: 'transparent'};"
		>
			<Img src={account.entity.header} alt="" width="100px" />
		</div>
		<div class="left">
			<div class="pp">
				<Img
					src={$stRefreshAccount && $rdOptionsAppearanceAnimationAnimateGifAvatar
						? account.entity.avatar
						: account.entity.avatar_static}
					alt="{account.entity.username} profile picture"
					width="45px"
					height="45px"
				/>
				{#if selected}
					<div class="checkmark">
						<div class="icon fa fa-check" />
						<div class="hint">Default</div>
					</div>
				{/if}
			</div>
			<div class="user">
				{#if $stRefreshAccount}
					<DisplayName status_account={account.entity} show_lock={true} bold={true} />
				{/if}
				<div class="username">
					@{account.mirrorAPI.handle_string}
				</div>
			</div>
		</div>
		{#if !lock}
			<div class="right" class:collapsed>
				<div class="icon fa fa-chevron-left" />
			</div>
		{/if}
	</button>
	{#if !collapsed && !lock}
		<div class="deploy" transition:transitionSlide={{ duration: 200 }}>
			{#if is_login_account}
				<div class="main">
					<div class="icon fa fa-lock" />
					<div class="hint">Login account</div>
				</div>
			{/if}
			{#if !$stOptionsReadOnly}
				<Checkbox
					text="Confirmation step"
					hint="Add a confirmation step before posting as @{account.entity.username}"
					checked={$options.publishConfirmationStep}
					on:click={() =>
						($options.publishConfirmationStep = !$options.publishConfirmationStep)}
				/>
				<Checkbox
					text="Default account"
					hint="Set as your default account for new statuses and searches"
					checked={selected}
					disabled={selected}
					on:click={() => ($stAccountDefault = account.mirrorAPI.handle_string)}
				/>
				<Checkbox
					text="Moderator"
					hint="You are a moderator on this instance"
					checked={$options.moderator}
					on:click={() => ($options.moderator = !$options.moderator)}
				/>
			{/if}
			<center>
				<button
					class="profile"
					on:click={() =>
						ExpandedPanel.update({
							state: ExpandedPanelState.Profile,
							account,
							status_account: account.entity,
						})}>Open profile</button
				>
				{#if !selected && !is_login_account}
					<TwoStepButton
						text="Unlink"
						css_class="button-square red"
						cancelable={true}
						flex_direction="row"
					>
						<button
							class="button-square invert"
							on:click={() => unlinkAccount(account.mirrorAPI.handle_string)}
						>
							Sure?
						</button>
					</TwoStepButton>
				{/if}
			</center>
		</div>
	{/if}
</button>

<style lang="scss">
	@keyframes shake {
		0% {
			transform: translate(0.5px, 0.5px) rotate(0deg);
		}
		10% {
			transform: translate(-0.5px, -0.5px) rotate(-1deg);
		}
		20% {
			transform: translate(-0.5px, 0px) rotate(1deg);
		}
		30% {
			transform: translate(0.5px, 0.5px) rotate(0deg);
		}
		40% {
			transform: translate(0.5px, -0.5px) rotate(1deg);
		}
		50% {
			transform: translate(-0.5px, 0.5px) rotate(-1deg);
		}
		60% {
			transform: translate(-0.5px, 0.5px) rotate(0deg);
		}
		70% {
			transform: translate(0.5px, 0.5px) rotate(-1deg);
		}
		80% {
			transform: translate(-0.5px, -0.5px) rotate(1deg);
		}
		90% {
			transform: translate(0.5px, 0.5px) rotate(0deg);
		}
		100% {
			transform: translate(0.5px, -0.5px) rotate(-1deg);
		}
	}

	.account {
		display: flex;
		flex-direction: column;
		user-select: none;

		&:hover .header .banner {
			opacity: 0.7;
		}

		.header {
			position: relative;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			background-repeat: no-repeat;
			background-position: center;
			padding: 5px 10px 5px 5px;
			transition: calc(0.2s * var(--transition-speed));
			color: #fff;

			.banner,
			& {
				border-radius: 5px 5px 5px 5px;
			}

			&:not(.collapsed),
			&:not(.collapsed) .banner {
				border-radius: 5px 5px 0px 0px;
			}

			&.lock {
				cursor: default;
			}

			&.reorder {
				cursor: grab;

				&:not(:hover) {
					animation: shake 1.5s infinite;
				}
			}

			.banner {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				overflow: hidden;
				filter: brightness(0.7);

				:global(img) {
					width: 100%;
				}
			}

			.left {
				max-width: calc(100% - 40px);
				z-index: 1;
				position: relative;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: flex-start;
				gap: 10px;

				.pp {
					position: relative;
					width: 45px;
					height: 45px;

					:global(img) {
						border-radius: 100%;
					}

					.checkmark {
						position: absolute;
						bottom: 0;
						right: 0;
						width: 17.5px;
						height: 17.5px;
						color: #fff;
						background-color: rgb(var(--accent));
						border-radius: 20px;
						overflow: hidden;
						transition: calc(0.2s * var(--transition-speed));

						&:hover {
							width: 100%;

							.icon {
								opacity: 0;
							}

							.hint {
								right: 5.25px;
							}
						}

						.icon {
							height: 100%;
							display: flex;
							justify-content: center;
							align-items: center;
							background-color: rgb(var(--accent));
							font-size: 13px;
							transition: calc(0.2s * var(--transition-speed));
						}

						.hint {
							position: absolute;
							top: 1.5px;
							right: -33px;
							font-size: 10px;
							transition: calc(0.2s * var(--transition-speed));
						}
					}
				}

				.user {
					max-width: 100%;
					text-shadow: 1px 1px 0px black;
					overflow: hidden;

					.username {
						overflow: hidden;
						text-overflow: ellipsis;
						opacity: 0.9;
					}
				}
			}

			.right {
				z-index: 1;
				position: relative;
				padding: 0px 5px;

				transform: rotate(-90deg);
				transition: calc(0.2s * var(--transition-speed));

				&.collapsed {
					transform: rotate(0);
				}

				.icon {
					font-size: calc(var(--font-size) + 3px);
				}
			}
		}

		.deploy {
			padding: 10px 0px;
			background-color: rgb(var(--header-inner));
			border-radius: 0px 0px 5px 5px;
			cursor: default;

			.main {
				display: flex;
				flex-direction: row;
				justify-content: center;
				gap: 5px;
				color: rgb(var(--green));
				align-items: center;
			}

			center {
				margin-top: 10px;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;
				gap: 15px;

				.profile {
					border: 1px solid rgb(var(--accent));
					color: rgb(var(--accent));
					padding: 6.5px 10px;

					&:hover {
						filter: brightness(1.5);
					}
				}
			}
		}
	}
</style>
