<script lang="ts">
	export let text: string;
	export let checked: boolean = false;
	export let disabled: boolean = false;
	export let hint: string = '';

	const id = window.crypto.randomUUID();
</script>

<input type="checkbox" {id} {checked} {disabled} on:click />
<label for={id} class:disabled>
	<div class="title">
		{text}
	</div>
	{#if hint}
		<div class="hint">
			{hint}
		</div>
	{/if}
</label>

<style lang="scss">
	input[type='checkbox'] {
		all: unset;
		display: none;

		&:checked:not([type='checkbox']) + label {
			color: rgb(var(--accent));
		}

		&:checked + label .title::before {
			background: rgb(var(--accent));
			box-shadow: inset 0px 0px 1.25px 0px rgb(var(--text));
		}
	}

	label {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 2.5px;
		padding: 10px 15px;
		box-sizing: border-box;
		cursor: pointer;
		user-select: none;
		transition: calc(0.1s * var(--transition-speed));

		&:not(.disabled):hover {
			opacity: 0.5;
		}

		&.disabled {
			cursor: default;
		}

		.title {
			display: flex;
			align-items: center;
			gap: 10px;

			&::before {
				content: '';
				background-color: transparent;
				width: 10px;
				height: 10px;
				border: 1px solid rgb(var(--text));
			}
		}

		.hint {
			padding-left: 23px;
			opacity: 0.7;
		}
	}
</style>
