<script lang="ts">
	import Button from '../../Global/Button/Button.svelte';
	import TwoStepButton from '../../Global/Button/TwoStepButton.svelte';

	import { TootDeckAPI } from '../../../lib/APIs/TootDeckAPI/TootDeckAPI';
	import { transitionSlide } from '../../../lib/Transitions/transitionOverride';

	let value: string;
	let invalid: boolean = false;
	let waiting: boolean = false;
	let lock: boolean = true;

	function flash() {
		waiting = false;
		invalid = true;
		setTimeout(() => {
			invalid = false;
		}, 750);
	}

	async function login() {
		waiting = true;

		if (!value) {
			return flash();
		}

		const redirect_url = await TootDeckAPI.OAuth.addAccount(value);
		if (!redirect_url) {
			return flash();
		}

		window.location.href = redirect_url;
	}

	$: lock = !value;
</script>

<TwoStepButton text="Add an account" cancelable={true} flex_direction="column-reverse">
	<div class="login" in:transitionSlide={{ duration: 200 }}>
		<input
			type="text"
			name="domain"
			placeholder="example.social"
			class:invalid
			bind:value
			on:keydown={(e) => {
				if (e.code === 'Enter') {
					login();
				}
			}}
		/>
		<Button
			on:clickTimeout={login}
			style={'default ' + (waiting ? 'waiting' : '')}
			timeout={750}
			{lock}>Add an account</Button
		>
	</div>
</TwoStepButton>

<style lang="scss">
	@keyframes flash {
		0%,
		20% {
			color: rgb(var(--red));
		}
		100% {
			color: rgb(var(--text));
		}
	}

	.login {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 10px;
		box-sizing: border-box;

		input {
			width: 100%;
			background-color: rgb(var(--light));
			border: 1px solid rgb(var(--accent));
			box-sizing: border-box;
			padding: 10px;
			font-size: calc(var(--font-size) * 1.5);
			border-radius: 5px;
			text-align: center;
			outline: none;

			&.invalid,
			&.invalid:placeholder-shown {
				animation: 1s flash ease-out;
			}
		}
	}

	@media (max-width: 600px) {
		.login {
			transform: translate(-50%, -50%) scale(0.7);
		}
	}
</style>
