<script lang="ts">
	import { tick } from 'svelte';

	import Home from '../pages/Home.svelte';

	import { initStores } from '../stores/init';

	export let ready: boolean;

	async function init_stores(dashboard: boolean) {
		return initStores(dashboard).then(async (value) => {
			await tick();

			return (ready = value);
		});
	}
</script>

{#await init_stores(false) then success}
	{#if success}
		<Home />
	{/if}
{/await}
