<script lang="ts">
	import PageLoad from '../components/Global/pageLoad.svelte';

	let ready: boolean = false;
</script>

{#if !ready}
	<PageLoad />
{/if}
{#if window.location.pathname === '/'}
	{#await import('./Home.svelte') then Home}
		<svelte:component this={Home.default} bind:ready />
	{/await}
{:else if window.location.pathname === '/dashboard'}
	{#await import('./Dashboard.svelte') then Dashboard}
		<svelte:component this={Dashboard.default} bind:ready />
	{/await}
{/if}
