<script lang="ts">
	import AvatarLoading from '../../Spinner/AvatarLoading.svelte';

	export let status_account: {
		username: string;
		acct: string;
	};
	export let checked: boolean = false;
	export let disabled: boolean = false;
</script>

<button class="account-skeleton" class:disabled on:click>
	<div class="left">
		<div class="pp">
			<AvatarLoading />
		</div>
		<div class="user">
			<div class="tn">{status_account.username}</div>
			<div class="username">@{status_account.acct}</div>
		</div>
	</div>
	<div class="right">
		<div class="checkbox" class:checked />
	</div>
</button>

<style lang="scss">
	.account-skeleton {
		max-width: 90vw;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		user-select: none;

		&.disabled {
			.checkbox {
				display: none;
			}
		}

		.left {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 10px;
			overflow: hidden;

			.pp {
				position: relative;
				width: 45px;
				height: 45px;
			}

			.user {
				overflow: hidden;
				text-overflow: ellipsis;

				.tn {
					max-width: 100%;
				}

				.username {
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
		}

		.right {
			.checkbox {
				background-color: transparent;
				width: 10px;
				height: 10px;
				border: 1px solid rgb(var(--text));

				&.checked {
					background: rgb(var(--accent));
					box-shadow: inset 0px 0px 1.25px 0px rgb(var(--text));
				}
			}
		}
	}
</style>
