<script lang="ts">
	import AccountContainer from './Account.svelte';
	import AccountSkeleton from './AccountSkeleton.svelte';
	import Window from '../Window.svelte';
	import Button from '../../Global/Button/Button.svelte';

	import type { TootDeckAccount } from '../../../stores/Account/Accounts';
	import { stGlobalWindow, GlobalWindow, type GlobalWindowReply } from '../../../stores/Window';

	import type { ReplyAccount } from '../../../lib/ComponentFunctions/getReplyingAccounts';
	import { AccountsMananger } from '../../../lib/Managers/AccountsManager';

	import type { ParsedAccount } from '../../../types/contentParsed';

	let title: string = 'People in this conversation';
	let hint: string = 'This conversation includes these people.';

	const global_window = $stGlobalWindow as GlobalWindowReply;
	let account: TootDeckAccount = global_window.account;
	let status_account: ParsedAccount = global_window.status_account;
	let replying_to: Array<ReplyAccount> = global_window.replying_to;
	let readonly: boolean = global_window.readonly;

	let fetched_accounts: Array<ReplyAccount & { entity: ParsedAccount | null }>;
	async function fetchAccounts() {
		const accounts = await Promise.all(
			replying_to.map((x) => AccountsMananger.getByID(account, x.id))
		);
		fetched_accounts = replying_to.map((replying) => ({
			...replying,
			entity: accounts.find((entity) => entity?.id === replying.id) ?? null,
		}));
	}

	if (!readonly) {
		title = 'Replying to';
		hint = 'Your reply will go to the people in this conversation.';
	}

	function selectAwait(id: string) {
		if (readonly) {
			return;
		}

		// Update replying list in initiator component
		replying_to.forEach((a) => {
			if (a.id === id) {
				a.enable_reply = !a.enable_reply;
			}
		});

		// Update current component
		replying_to = replying_to;
	}

	function select(id: string) {
		if (readonly) {
			return;
		}

		// Update current component
		fetched_accounts.forEach((a) => {
			if (a.id === id) {
				a.enable_reply = !a.enable_reply;
			}
		});
		fetched_accounts = fetched_accounts;

		// Update replying list in initiator component
		replying_to.forEach((a) => {
			if (a.id === id) {
				a.enable_reply = !a.enable_reply;
			}
		});
		replying_to = replying_to;
	}
</script>

<Window {title}>
	<div class="wrapper">
		<div class="hint">{hint}</div>
		{#await fetchAccounts()}
			{#each replying_to as acc (acc.id)}
				<AccountSkeleton
					status_account={{
						username: acc.acct.split('@')[0],
						acct: acc.acct,
					}}
					checked={acc.enable_reply}
					disabled={readonly ||
						acc.id === account.entity.id ||
						acc.id === status_account.id}
					on:click={() => selectAwait(acc.id)}
				/>
			{/each}
		{:then _}
			{#each fetched_accounts as acc (acc.id)}
				{#if acc.entity}
					<AccountContainer
						{account}
						status_account={acc.entity}
						checked={acc.enable_reply}
						disabled={readonly ||
							acc.id === account.entity.id ||
							acc.id === status_account.id}
						on:click={() => select(acc.id)}
					/>
				{:else}
					<AccountSkeleton
						status_account={{
							username: acc.acct.split('@')[0],
							acct: acc.acct,
						}}
						checked={acc.enable_reply}
						disabled={readonly ||
							acc.id === account.entity.id ||
							acc.id === status_account.id}
						on:click={() => select(acc.id)}
					/>
				{/if}
			{/each}
		{/await}
		{#if !readonly}
			<div class="btn">
				<div>
					<Button style="small" on:clickTimeout={() => GlobalWindow.remove()}
						>Confirm</Button
					>
				</div>
			</div>
		{/if}
	</div>
</Window>

<style lang="scss">
	.wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 10px;
		padding: 0px 15px 10px;
		min-width: 500px;
		max-height: 70vh;
		overflow-y: auto;

		.hint {
			padding: 10px 0px 5px;
			opacity: 0.7;
		}

		.btn {
			display: flex;
			justify-content: flex-end;
		}
	}
</style>
