<script lang="ts">
	import Button from './Selector/Button.svelte';
	import Selector from './Selector/Selector.svelte';

	import { getSkinToneIndex } from '../../lib/componentFunctions/getSkinToneIndex';
	import { adjustTextContrast } from '../../lib/componentFunctions/adjustTextContrast';

	import { SkinToneDic, type PickerProps } from '../../types/picker.types';

	export let Props: PickerProps;

	let show: boolean = false;

	function changeSkinTone(selected_skin_tone: number) {
		const value = getSkinToneIndex(selected_skin_tone);
		Props.instance.onSkinToneChange(value);

		show = false;
	}
</script>

<Button bind:show>
	<div
		class={`skin-tone skin-tone-${Props.skinTone}`}
		class:little={show}
		title={Props.i18n.skins.choose}
	></div>
</Button>
{#if show}
	<Selector
		data={Object.entries(SkinToneDic).map(([name, id]) => ({ id, name }))}
		dir={Props.i18n.rtl ? 'rtl' : 'ltr'}
		x={'22px'}
		color={adjustTextContrast(Props)}
		let:data
		bind:show
		isChecked={(value) => Props.skinTone === value.id}
	>
		<button class="selection" tabindex="-1" on:click={() => changeSkinTone(data.id)}>
			<div class={`skin-tone skin-tone-${data.id}`}></div>
			<div>{Props.i18n.skins[(data.id + 1).toString()]}</div>
		</button>
	</Selector>
{/if}

<style lang="scss">
	button {
		all: unset;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 5px;

		&.selection {
			flex-grow: 1;
			justify-content: start;
		}
	}

	.skin-tone {
		position: relative;
		width: 16px;
		height: 16px;
		border-radius: 100%;
		overflow: hidden;
		transition-duration: 225ms;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		&::after {
			content: '';
			mix-blend-mode: overlay;
			background: linear-gradient(#ffffff33, #00000000);
			border: 1px solid #000000cc;
			border-radius: 100%;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			box-shadow:
				inset 0 -2px 3px #000,
				inset 0 1px 2px #fff;
		}

		&.skin-tone-0 {
			background-color: #ffc93a;
		}

		&.skin-tone-1 {
			background-color: #ffdab7;
		}

		&.skin-tone-2 {
			background-color: #e7b98f;
		}

		&.skin-tone-3 {
			background-color: #c88c61;
		}

		&.skin-tone-4 {
			background-color: #a46134;
		}

		&.skin-tone-5 {
			background-color: #5d4437;
		}
	}

	.little {
		width: 14px;
		height: 14px;
	}
</style>
