<script lang="ts">
	import type { Composer } from '../../types/composer';

	export let composer: Composer;

	const clear = composer.toggle.clear;
</script>

<div class="title-container">
	<div class="title caps-lock">Status</div>
	{#if $clear}
		<button class="clear" on:click> Clear </button>
	{/if}
</div>

<style lang="scss">
	.title-container {
		display: flex;
		flex-direction: row;
		align-items: flex-end;
		justify-content: space-between;
		padding: 20px 0px 5px;
		line-height: 20px;

		.title {
			font-weight: 500;
		}

		.clear {
			line-height: 15px;
			font-weight: 100;
		}
	}
</style>
