<script lang="ts">
	import { createEventDispatcher } from 'svelte';

	import Button from '../Global/Button/Button.svelte';
	import TwoStepButton from '../Global/Button/TwoStepButton.svelte';

	import type { Composer } from '../../types/composer';

	const eventDispatcher = createEventDispatcher();

	export let composer: Composer;
	export let style: string;

	const { account, publish_button_text, invalid, sending, lite } = composer;

	let account_options = $account.options;
	$: account_options = $account.options;
</script>

{#if $account_options.publishConfirmationStep}
	<TwoStepButton
		text={$publish_button_text + '?'}
		cancelable={true}
		flex_direction="row"
		lock={$invalid}
		{style}
	>
		<Button
			lock={$invalid || $sending}
			style="{style} {$sending ? 'waiting' : ''}"
			color="#1cd41c"
			on:clickTimeout={() => eventDispatcher('publish')}
			>{$publish_button_text + (lite || $sending ? '' : '!')}</Button
		>
	</TwoStepButton>
{:else}
	<Button
		lock={$invalid || $sending}
		style="{style} {$sending ? 'waiting' : ''}"
		on:clickTimeout={() => eventDispatcher('publish')}
		>{$publish_button_text + (lite || $sending ? '' : '!')}</Button
	>
{/if}
