<script lang="ts">
	import { transitionSlide } from '../../lib/Transitions/transitionOverride';

	import type { Composer } from '../../types/composer';

	export let composer: Composer;

	const { toggle, language, content_warning } = composer;
	const { content_warning: show_content_warning } = toggle;

	let element: HTMLInputElement;

	$: if (element) {
		element.focus();
	}
</script>

{#if $show_content_warning}
	<div class="content-warning" transition:transitionSlide={{ duration: 200 }}>
		<input
			type="text"
			lang={$language}
			spellcheck="true"
			placeholder="Write your warning here"
			bind:this={element}
			bind:value={$content_warning}
			on:keydown
		/>
	</div>
{/if}

<style lang="scss">
	.content-warning {
		width: 100%;
		background-color: rgb(var(--composer));
		border-radius: 10px;
		margin-bottom: 10px;

		input {
			all: unset;
			width: 100%;
			padding: 10px 15px;
			box-sizing: border-box;
		}
	}
</style>
