<script lang="ts">
	export let drag: boolean;
</script>

{#if drag}
	<div class="drag-n-drop">
		<div class="drop">Drop to add media</div>
	</div>
{/if}

<style lang="scss">
	.drag-n-drop {
		z-index: 5;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: grid;
		justify-items: center;
		align-items: center;

		&::before {
			z-index: -2;
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: var(--gradient);
			opacity: 0.3;
		}

		.drop {
			position: relative;
			padding: 50px;
		}
	}
</style>
