<script lang="ts">
	import ProfileSpinner from '../Spinner/ProfileSpinner.svelte';
</script>

<div class="loading">
	<div class="wrapper">
		<ProfileSpinner />
		Fetching status data
	</div>
</div>

<style lang="scss">
	.loading {
		z-index: 5;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		&::before {
			z-index: -1;
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgb(var(--background));
			opacity: 0.3;
		}

		.wrapper {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 1ch;
			margin-top: -25px;
		}
	}

	//
</style>
