<script lang="ts">
	import { createEventDispatcher } from 'svelte';

	import ContentRenderer from '../ContentRenderer/ContentRenderer.svelte';
	import Img from '../Global/Img.svelte';
	import DisplayName from '../Status/Header/DisplayName.svelte';

	import { rdOptionsAppearanceAnimationAnimateGifAvatar } from '../../stores/Options';

	import { transitionSlide } from '../../lib/Transitions/transitionOverride';

	import type { Composer } from '../../types/composer';

	const eventDispatcher = createEventDispatcher();

	export let composer: Composer;

	const { replying_to_status: status, edition, toggle, failed_remote_fetch } = composer;
	const { content_warning } = toggle;
</script>

{#if $status}
	<div
		class="replying-status-container"
		class:content-warning={$content_warning}
		transition:transitionSlide={{ duration: 300 }}
	>
		{#if $failed_remote_fetch}
			<div class="text failed">Failed to fetch status</div>
		{:else}
			<header>
				<div class="left">
					<div class="pp">
						<Img
							src={$rdOptionsAppearanceAnimationAnimateGifAvatar
								? $status.account.avatar
								: $status.account.avatar_static}
							alt="{$status.account.username} profile picture"
							width="30px"
							height="30px"
						/>
					</div>
					<DisplayName status_account={$status.account} show_lock={true} bold={false} />
				</div>
				{#if !$edition}
					<button class="close" on:click={() => eventDispatcher('removeStatus')}>
						<div class="fa fa-times" />
					</button>
				{/if}
			</header>
			<div class="text">
				<ContentRenderer content={$status.content} emojis={$status.emojis} />
			</div>
		{/if}
	</div>
{/if}

<style lang="scss">
	.replying-status-container {
		width: 100%;
		display: flex;
		flex-direction: column;
		padding: 10px;
		box-sizing: border-box;
		background-color: rgb(var(--header-inner));
		border-radius: 10px 10px 0px 0px;

		&.content-warning {
			border-radius: 10px 10px 10px 10px;
			margin-bottom: 10px;
		}

		header {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;

			.left {
				max-width: calc(100% - 60px);
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 10px;

				.pp {
					display: grid;
					align-items: center;
					justify-items: center;
					border-radius: 100%;
					overflow: hidden;
					flex-shrink: 0;
				}
			}
		}

		.text {
			max-height: 300px;
			padding: 10px 0px;
			box-sizing: border-box;
			white-space: pre-line;
			word-break: break-word;
			hyphens: auto;
			overflow: auto;

			&.failed {
				text-align: center;
			}
		}
	}
</style>
