<script lang="ts">
	import { GlobalWindowState, GlobalWindow, stGlobalWindow } from '../../stores/Window';

	import type { Composer } from '../../types/composer';

	export let composer: Composer;

	const { replying_to_status, replying_to_accounts, account, edition, failed_remote_fetch } =
		composer;

	function openWindow() {
		GlobalWindow.create({
			state: GlobalWindowState.Reply,
			special: false,
			account: $account,
			status_account: $replying_to_status!.account,
			replying_to: $replying_to_accounts,
			readonly: $edition,
		});
	}

	function reorder() {
		if (!$replying_to_status) {
			return;
		}

		const index = $replying_to_accounts.findIndex((x) =>
			$replying_to_status ? x.id === $replying_to_status.account.id : false
		);
		if (index === -1) {
			return;
		}
		const first_account = $replying_to_accounts.splice(index, 1)[0];

		$replying_to_accounts.unshift(first_account);
	}

	function update() {
		$replying_to_accounts = $replying_to_accounts;
	}

	$: if (!$stGlobalWindow) {
		update();
	}

	reorder();
</script>

<!-- Array<replying_to> is prefeteched in ./Composer.svelte for smooth transition -->
{#if $replying_to_accounts.length && !$failed_remote_fetch}
	<button class="reply" on:click={() => openWindow()}>
		Replying to
		{#each $replying_to_accounts as acc (acc.id)}
			{#if acc.enable_reply}
				{#if $replying_to_accounts.length === 1}
					<span>@{acc.acct}</span>
				{:else if $account?.entity.id !== acc.id}
					<span>@{acc.acct}</span>
				{/if}
			{/if}
		{/each}
	</button>
{/if}

<style lang="scss">
	.reply {
		display: flex;
		flex-wrap: wrap;
		gap: 3px;
		font-size: calc(var(--font-size) - 1px);
		margin: 0px 15px;
		padding: 10px 0px 5px;

		span {
			color: rgb(var(--accent));

			&:hover {
				filter: brightness(1.5);
			}
		}
	}
</style>
