<script lang="ts">
	import { afterUpdate, onMount } from 'svelte';

	import ButtonEmoji from './Emoji/Button.svelte';

	import { delimitChunk, triggerSelector } from '../../lib/ComponentFunctions/triggerSelector';

	import type { Composer } from '../../types/composer';

	export let composer: Composer;
	export let placeholder: string;
	export let textarea: HTMLTextAreaElement;

	const {
		account,
		language,
		text,
		search,
		found,
		selector,
		added_media,
		quote,
		lite,
		invalid,
		picked_emoji,
	} = composer;
	const { tag: search_tag, emoji: search_emoji, hashtag: search_hashtag } = search;
	const { tag: found_tag, emoji: found_emoji, hashtag: found_hashtag } = found;
	const {
		tag: show_selector_tag,
		emoji: show_selector_emoji,
		hashtag: show_selector_hashtag,
	} = selector;

	onMount(() => {
		setTimeout(() => {
			if ($quote) {
				textarea.setSelectionRange(0, 0);
			} else {
				const len = $text.length;
				textarea.setSelectionRange(len, len);
			}

			textarea.focus();
		});
	});

	$: if (textarea && $account) {
		textarea.focus();
	}

	/**
	 * Selector
	 */
	// #region

	function openTagSelector() {
		triggerSelector(textarea, '@', 1, (r, value) => {
			$show_selector_tag = r;
			$search_tag = value;
		});
	}

	function openEmojiSelector() {
		triggerSelector(textarea, ':', 2, (r, value) => {
			$show_selector_emoji = r;
			$search_emoji = value;
		});
	}

	function openHashtagSelector() {
		triggerSelector(textarea, '#', 1, (r, value) => {
			$show_selector_hashtag = r;
			$search_hashtag = value;
		});
	}

	$: {
		$text;
		openTagSelector();
		openEmojiSelector();
		openHashtagSelector();
	}

	// #endregion

	/**
	 * Write into textarea
	 */
	// #region

	function appendToTextarea(str: string) {
		if (!str || !textarea) {
			return;
		}

		// Split string at cursor location
		const cut = textarea.selectionStart;
		let before = textarea.value.slice(0, cut);
		const after = textarea.value.slice(cut);

		// Remove tag or emoji shortcut
		const { start, end } = delimitChunk(textarea);
		before = before.slice(0, start);

		// Merge found tag or emoji
		let value = before + str;

		// Add a trailing space if needed
		const char = $text.charAt(end);
		const add_space = char !== ' ';
		if (add_space) {
			value += ' ';
		}

		// Final merge
		value += after;

		$text = value;

		// Set cursor offset
		const removed_chars = end - start;
		const cursor_offset = str.length - removed_chars + (add_space ? 1 : 0);

		cursor_start = textarea.selectionStart + cursor_offset;
		cursor_end = textarea.selectionEnd + cursor_offset;
	}

	/**
	 * appendToTextarea	=> Modifies text and set cursor offset position
	 * beforeUpdate		=> Saves cursor position with offset
	 * DOM				=> Update
	 * afterUpdate		=> Applies saved cursor position
	 */

	let cursor_start = 0;
	let cursor_end = 0;

	afterUpdate(() => {
		if ($found_tag || $found_emoji || $picked_emoji) {
			$found_tag = '';
			$found_emoji = '';
			$picked_emoji = '';

			textarea.setSelectionRange(cursor_start, cursor_end);
			textarea.focus();
		}
	});

	$: appendToTextarea($found_tag);
	$: appendToTextarea($found_emoji);
	$: appendToTextarea($picked_emoji);
	$: appendToTextarea($found_hashtag);

	// #endregion

	/**
	 * Keyboard shortcut handlers
	 */
	// #region

	function clipboard(e: ClipboardEvent) {
		const files = e?.clipboardData?.files;
		if (files) {
			$added_media = Array.from(files);
		}
	}

	// #endregion
</script>

<div class="textarea">
	<textarea
		tabindex="0"
		class:lite
		{placeholder}
		lang={$language}
		spellcheck="true"
		bind:this={textarea}
		bind:value={$text}
		on:paste={clipboard}
		on:keydown
	/>
	{#if !lite}
		<ButtonEmoji {composer} />
	{/if}
</div>

<style lang="scss">
	.textarea {
		position: relative;
		display: flex;
		flex-direction: row;

		textarea {
			all: unset;
			width: calc(100% - 40px);
			height: 150px;
			padding: 10px 5px 10px 15px;
			box-sizing: border-box;
			white-space: pre-wrap;
			overflow-wrap: break-word;

			&.lite {
				width: 100%;
				padding: 10px 15px;
			}
		}
	}
</style>
