<script lang="ts">
	import { createEventDispatcher, onDestroy, tick } from 'svelte';

	import Header from '../Header/Container.svelte';
	import Status from '../../Status/Container.svelte';
	import ColumnLoading from '../../Global/ColumnLoading.svelte';
	import Quote from '../../Status/Quote.svelte';
	import TwitterEmbed from '../../Status/Embed/TwitterEmbed.svelte';

	import type { IndexedLayoutColumn } from '../../../stores/Columns/Layout';

	import VirtualScroll from '../../../lib/svelte-virtual-scroll-list/VirtualScroll.svelte';
	import type { ThreadColumn } from '../../../lib/Columns/ThreadColumn';
	import { KeyboardHandler } from '../../../lib/KeyboardHandler';

	import type { ThreadStatus, ThreadStack } from '../../../types/thread';

	const eventDispatcher = createEventDispatcher();

	export let props: IndexedLayoutColumn<ThreadColumn, ThreadStatus>;
	export let stack: ThreadStack;
	export let full_media_view: boolean;

	const { loading } = props.instance;

	const stThread = stack.thread ?? props.content;
	let container: HTMLElement;
	let virtual_list: VirtualScroll;
	let scrolled: boolean = false;

	let thread: Array<ThreadStatus>;
	$: thread = $stThread.get();

	async function scrollToSelected() {
		await tick();

		const index = thread.findIndex((x) => x.selected);
		if (index < 2) {
			scrolled = true;
			return;
		}

		await tick();

		scrolled = true;

		// prettier-ignore
		container 					// Current
			.children[0]			// Virtual root
			.children[index - 1]	// Status
			.scrollIntoView({
				block: 'start',
				behavior: 'instant',
			});
		container.scrollBy({
			top: -7,
			behavior: 'instant',
		});
	}

	$: if (!scrolled && virtual_list && thread.length > 1) {
		scrollToSelected();
	}

	const keyboard_event = `${props.instance.identifier}${props.instance.id}:CloseThread:Escape`;

	KeyboardHandler.subscribe(keyboard_event, 'Escape', (e) => {
		eventDispatcher('close');

		return true;
	});

	onDestroy(() => {
		KeyboardHandler.unsubscribe(keyboard_event, 'Escape');
	});
</script>

{#if !full_media_view}
	<Header
		column={props}
		stack_number={stack.id - 1}
		thread={true}
		minimize={false}
		on:previous
		on:close
	/>
{/if}
<div class="thread-container" class:full-media={full_media_view} bind:this={container}>
	<VirtualScroll
		data={thread}
		let:data
		start={thread.findIndex((x) => x.selected)}
		bind:this={virtual_list}
	>
		<Status
			account={props.account}
			raw_status={data.status}
			column={props.instance}
			thread_view={data.selected}
			thread_lines={data.lines}
			border={false}
			on:click={(e) => {
				if (data.id === -1) {
					return;
				}

				eventDispatcher('update', { original: e.detail.original, thread: data });
			}}
			on:clickQuote
			on:hashtag
		>
			<svelte:fragment slot="quote">
				<Quote
					column={stack.column_instance}
					account={props.account}
					status={data.status}
					on:clickQuote
				/>
			</svelte:fragment>
			<svelte:fragment slot="twitter">
				<TwitterEmbed
					column={props.instance}
					account={props.account}
					status={data.status}
				/>
			</svelte:fragment>
		</Status>
		<svelte:fragment slot="footer">
			<div class="spacer"></div>
		</svelte:fragment>
	</VirtualScroll>
</div>
{#if stack.loading ?? $loading}
	<ColumnLoading />
{/if}

<style lang="scss">
	.thread-container {
		position: relative;
		width: var(--column-width);
		display: block;
		overflow-x: hidden;
		overflow-y: auto;
		flex-grow: 1;

		&.full-media {
			:global(.virtual-scroll-root) {
				padding: 10px;
			}
		}

		.spacer {
			height: 100vh;
		}
	}
</style>
