<script lang="ts">
	import { onClickTimeoutTransition } from '../../../lib/UseClick/clickTimeout';
	import { notypecheck } from '../../../lib/Utils/js/notypecheck';
	import { Firefox } from '../../../lib/Utils/OS';

	export let icon: string | null = null;
	export let text: string;
	export let background_color: string = 'rgb(var(--background))';
	export let color: string = '#FFF';
	export let font_size: string = '1.2rem';
	export let search: boolean = false;
</script>

<button
	{...notypecheck({
		'on:clickTimeout': true,
	})}
	use:onClickTimeoutTransition
	on:clickTimeout
	class="btn-sidebar caps-lock"
	class:search
	style:color
	style="background-color:{background_color};border-color:{color};"
>
	<center style="pointer-events: none;">
		{#if icon}
			<div class="icon" style="background-image: url({icon})" />
		{:else}
			<div class="icon-container" class:firefox={Firefox}>
				<slot />
			</div>
		{/if}
		<div class="text" style:font-size={font_size}>{text}</div>
	</center>
</button>

<style lang="scss">
	.btn-sidebar {
		height: 45px;
		display: flex;
		flex-direction: row;
		overflow: hidden;
		flex-shrink: 0;
		flex-grow: 0;
		border-radius: 50px;
		margin: 0px 7.5px;
		background-color: rgb(var(--background));
		color: #fff;
		box-sizing: border-box;
		border: none;

		&:hover {
			filter: brightness(1.4);
		}

		&:active {
			filter: brightness(1.6);
		}

		&.search {
			border: 1px solid;

			.icon-container {
				padding: 13px 17px 13px 0px;

				&.firefox {
					padding: 10px 31px 10px 14px;
				}
			}
		}

		center {
			display: flex;
			flex-direction: row;
			margin: 0 auto;
			gap: 7.5px;

			.icon {
				min-width: 60px;
				height: 100%;
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
			}

			.icon-container {
				min-width: var(--sidebar-icon-width);
				height: 100%;
				padding: 13px 15px 13px 0px;
				box-sizing: border-box;
				display: grid;
				align-items: center;
				justify-items: center;

				&.firefox {
					padding: 10px 29px 10px 14px;
				}
			}

			.text {
				width: 90px;
				display: grid;
				align-items: center;
				justify-items: start;
				font-size: 1.2rem;
				transition: calc(0.2s * var(--transition-speed));
			}
		}
	}
</style>
