<script lang="ts">
	import { onDestroy, onMount } from 'svelte';
	/**
	 * //FIXME: This import EVERYTHING
	 * causing very long bundling time, useless files and a bigger module size...
	 * I can't find a config for bundling only the CSS part with its linter.
	 */
	import * as monaco from 'monaco-editor';
	import '../../../lib/MonacoInit';

	import {
		rdOptionsAppearanceCustomCSS,
		rdOptionsAppearanceTheme,
		stOptions,
	} from '../../../stores/Options';
	import { ThemeAvailable } from '../../../lib/ComponentFunctions/options/theme';
	import { NotificationModalType, notificationModal } from '../../../stores/NotificationsModal';

	import { ctrlKey } from '../../../lib/Utils/ctrlKey';
	import { CTRL } from '../../../lib/Utils/OS';

	let element: HTMLDivElement;
	let editor: monaco.editor.IStandaloneCodeEditor;

	onMount(() => {
		editor = monaco.editor.create(element, {
			value: $rdOptionsAppearanceCustomCSS,
			language: 'css',
			theme: $rdOptionsAppearanceTheme === ThemeAvailable.Light ? 'vs' : 'vs-dark',
			minimap: { enabled: false },
		});
	});

	function updateStyle(e: KeyboardEvent) {
		if (e.code === 'KeyS' && ctrlKey(e)) {
			e.preventDefault();

			$stOptions.appearance.customCSS = editor.getValue();

			return false;
		}
	}

	/**
	 * Tip notification
	 */
	// #region

	const id = notificationModal.create(
		NotificationModalType.Info,
		`Use ${CTRL} + S to preview your changes.`,
		true
	);

	onDestroy(() => {
		notificationModal.delete(id);
	});

	// #endregion
</script>

<div class="editor" bind:this={element} on:keydown={updateStyle} />

<style lang="scss">
	.editor {
		width: 100%;
		max-width: 100%;
		height: 100%;
		color: #fff;
		background-color: rgb(var(--composer));
		box-sizing: border-box;
		border-bottom-right-radius: 10px;

		:global(> div),
		:global(> div > div) {
			border-bottom-right-radius: 10px;
		}
	}
</style>
