<script lang="ts">
	import GitlabButton from '../../Global/GitlabButton.svelte';

	import { SettingsState } from '../../../types/settings';

	export let state: SettingsState | string = SettingsState.About;
	export let show_save: boolean;

	function isUppercase(c: string): boolean {
		return c === c.toUpperCase();
	}

	function enumToString(value: string) {
		let ret: string = '';

		let skip: boolean = false;

		for (let i = 0; i < value.length; i++) {
			const c = value.charAt(i);
			if (i !== 0) {
				if (isUppercase(c)) {
					if (skip) {
						ret += c;
						continue;
					}

					ret += ' ' + c;
					skip = true;
					continue;
				}
			}

			ret += c;
			skip = false;
		}

		return ret;
	}
</script>

<div class="menu">
	<div class="items">
		{#each Object.entries(SettingsState) as [key, value]}
			{#if typeof value === 'number'}
				<input
					id={'setting-page-' + key}
					type="radio"
					name="setting-page"
					value={key}
					checked={state === value}
					on:change={() => (state = value)}
				/>
				<label for={'setting-page-' + key}>
					{enumToString(key)}
				</label>
			{/if}
		{/each}
	</div>
	<div class="bottom" class:save={show_save}>
		<GitlabButton width={75}></GitlabButton>
	</div>
</div>

<style lang="scss">
	.menu {
		z-index: 1;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex-shrink: 0;

		.items {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			flex-shrink: 0;

			input[type='radio'] {
				all: unset;
				position: absolute;
				opacity: 0;
				width: 0px;
				height: 0px;
				transition: calc(0.2s * var(--transition-speed));
			}

			input:checked + label {
				background-color: rgb(var(--accent));
				color: rgb(var(--text-button));
			}

			label {
				width: 100%;
				padding: 15px 25px 15px 50px;
				cursor: pointer;
				box-sizing: border-box;
				text-align: end;
				transition: calc(0.2s * var(--transition-speed));

				&::after {
					content: attr(value);
				}

				&:disabled {
					opacity: 0.25;
				}
			}
		}

		.bottom {
			display: flex;
			flex-direction: column;
			align-items: center;

			&.save {
				position: relative;
				bottom: -55px;
			}
		}
	}
</style>
