<script lang="ts">
	import { createEventDispatcher } from 'svelte';

	import Button from '../../Global/Button/Button.svelte';
	import Account from '../../Composer/From/Account.svelte';

	import type { TootDeckAccount } from '../../../stores/Account/Accounts';

	import { transitionSlide } from '../../../lib/Transitions/transitionOverride';
	import { errorModal } from '../../../lib/errorModal';

	import type { ListAccount } from '../../../types/lists';

	const eventDispatcher = createEventDispatcher();

	export let account: TootDeckAccount;
	export let list: ListAccount;

	let selected_accounts = new Map<string, boolean>();
	let selected_accounts_size = 0;

	async function removeAccounts() {
		const ids = Array.from(selected_accounts.keys());
		if (!ids.length) {
			return;
		}

		const response = await account.mirrorAPI.Timeline.Lists.deleteAccounts(list.id, ids);
		if (!response) {
			errorModal('Unable to remove account from list.', undefined, true);
			return;
		}

		list.accounts = list.accounts.filter((x) => !ids.find((id) => x.id === id));
		selected_accounts = new Map<string, boolean>();
		selected_accounts_size = 0;

		eventDispatcher('update');
	}
</script>

<div class="list-accounts" transition:transitionSlide={{ axis: 'x', duration: 200 }}>
	<header>
		<div class="title">
			{list.title}'s accounts
		</div>
		<div>
			<Button
				style="small"
				lock={!selected_accounts_size}
				on:clickTimeout={() => removeAccounts()}>Remove</Button
			>
		</div>
	</header>
	<div class="accounts">
		{#if list.accounts.length}
			{#each list.accounts as acc (acc.id)}
				<div transition:transitionSlide={{ duration: 200 }}>
					<Account
						status_account={acc}
						selected={selected_accounts.get(acc.id)}
						on:click={() => {
							if (selected_accounts.has(acc.id)) {
								selected_accounts.delete(acc.id);
							} else {
								selected_accounts.set(acc.id, true);
							}

							selected_accounts_size = selected_accounts.size;
							list.accounts = list.accounts;
						}}
					/>
				</div>
			{/each}
		{:else}
			<div class="empty">This list have no accounts.</div>
		{/if}
	</div>
</div>

<style lang="scss">
	.list-accounts {
		width: var(--column-width);

		header {
			height: 55px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 10px;
			padding: 0px 10px;
			font-weight: bold;
			background-color: rgb(var(--header-inner));

			.title {
				flex-shrink: 0;
			}
		}

		.accounts {
			height: 100%;
			display: flex;
			flex-direction: column;
			padding: 10px;
			box-sizing: border-box;

			:global(> div) {
				display: flex;
				flex-direction: column;
			}

			:global(> div > button) {
				flex-grow: 1;
			}
		}
	}
</style>
