<script lang="ts">
	import AccountContainer from '../../Composer/From/Account.svelte';
	import ListsContainer from './ListsContainer.svelte';
	import AccountsList from './AccountsList.svelte';
	import Window from '../Window.svelte';
	import ColumnLoading from '../../Global/ColumnLoading.svelte';
	import CreateList from '../List/CreateList.svelte';

	import {
		stAccounts,
		stAccountDefault,
		type TootDeckAccount,
		Account,
	} from '../../../stores/Account/Accounts';
	import { NotificationModalType, notificationModal } from '../../../stores/NotificationsModal';
	import { stGlobalWindow, type GlobalWindowListManager } from '../../../stores/Window';

	import type { ListAccount } from '../../../types/lists';

	const gloabl_window = $stGlobalWindow as GlobalWindowListManager;

	let selected_account_id: string = gloabl_window.account
		? gloabl_window.account.mirrorAPI.handle_string
		: $stAccountDefault;
	let account: TootDeckAccount = gloabl_window.account ?? Account.get(selected_account_id)!;
	let lists: Array<ListAccount> = [];

	async function getLists(id: string) {
		if (promise) {
			return;
		}

		promise = true;

		selected_list = null;

		account = Account.get(id)!;
		const response = await account.mirrorAPI.Timeline.Lists.getAll();
		if (!response) {
			return;
		}

		lists = [];

		const accounts = await Promise.all(
			response.map((list) => account.mirrorAPI.Timeline.Lists.getAccounts(list.id))
		);
		for (const i in accounts) {
			if (!i) {
				continue;
			}
			const acc = accounts[i];
			const list = response[i];
			if (!acc) {
				notificationModal.create(
					NotificationModalType.Warn,
					`Failed to fetch accounts in list: ${list.title}.`,
					true
				);
				continue;
			}

			lists.push({
				...list,
				accounts: acc,
			});
		}

		lists = lists.map((list) => {
			if (!list.accounts) {
				list['accounts'] = [];
			}
			return list;
		});

		promise = false;
	}

	async function updateLists(id: string) {
		if (id === selected_account_id) {
			return;
		}

		account = Account.get(id)!;
		const response = await account.mirrorAPI.Timeline.Lists.getAll();
		if (!response) {
			return null;
		}

		selected_account_id = id;

		return response;
	}

	let promise: boolean = false;
	let lists_promise: Promise<void>;
	$: lists_promise = getLists(selected_account_id);

	let selected_list: ListAccount | null = null;
</script>

<Window title="Lists Manager">
	<div class="lists-manager">
		<div class="account-container">
			{#each $stAccounts as [id, acc] (id)}
				<AccountContainer
					status_account={acc.entity}
					display_size="full"
					checkmark={false}
					selected={id === selected_account_id}
					on:click={() => updateLists(id)}
				/>
			{/each}
		</div>
		<div class="list-lists-container deploy">
			<header>
				<CreateList {account} manager={true} bind:lists />
			</header>
			{#await lists_promise}
				<div class="loading">
					<ColumnLoading />
				</div>
			{:then _}
				{#if lists.length}
					<ListsContainer
						{account}
						bind:lists
						bind:selected_list
						loading={false}
						on:update={() => (selected_list = selected_list)}
					/>
				{:else}
					<div class="empty">You don't have any lists yet.</div>
				{/if}
			{/await}
		</div>
		{#if selected_list}
			<AccountsList {account} bind:list={selected_list} on:update={() => (lists = lists)} />
		{/if}
	</div>
</Window>

<style lang="scss">
	.lists-manager {
		display: flex;
		flex-direction: row;
		max-width: 100vw;

		.account-container {
			display: flex;
			flex-direction: column;
			gap: 10px;
			padding: 10px;
			box-sizing: border-box;
		}

		.list-lists-container {
			position: relative;
			min-width: 392.5px;
			height: 500px;
			max-height: 80vh;
			overflow-x: hidden;
			overflow-y: auto;

			&.deploy {
				flex-grow: 1;
				background-color: rgb(var(--header));

				header {
					padding: 10px 0px;
				}
			}

			.loading {
				position: absolute;
				bottom: 0;
				width: 100%;
				height: 10px;

				:global(> div) {
					width: 100%;
				}
			}

			:global(.empty) {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				height: calc(100% - 55px);
			}
		}
	}
</style>
