<script lang="ts">
	import { createEventDispatcher } from 'svelte';

	import ListOptions from './ListOptions.svelte';

	import type { TootDeckAccount } from '../../../stores/Account/Accounts';

	import { transitionFade, transitionSlide } from '../../../lib/Transitions/transitionOverride';
	import { errorModal } from '../../../lib/errorModal';

	import type { ListAccount } from '../../../types/lists';
	import { InstanceType } from '../../../types/megalodon';
	import type { Entity } from '../../../types/mastodonEntities';

	const eventDispatcher = createEventDispatcher();

	export let account: TootDeckAccount;
	export let list: ListAccount;
	export let active: boolean;

	let edit_title: boolean = false;
	let confirm_delete: boolean = false;

	let transiton_id = 0;

	function delayTransition() {
		return transiton_id++ * 50;
	}

	let input_value: string = list.title;

	async function updateList(args: {
		title?: string;
		replies_policy?: Entity.RepliesPolicy;
		exclusive?: boolean;
	}) {
		const response = await account.mirrorAPI.Timeline.Lists.update(list.id, args);
		if (!response) {
			errorModal('Unable to update list.', undefined, true);
			return;
		}

		if (args.title) {
			list.title = args.title;
			edit_title = false;
		}

		if (args.exclusive) {
			list.exclusive = args.exclusive;
		}

		if (args.replies_policy) {
			list.replies_policy = args.replies_policy;
		}

		eventDispatcher('update');
	}

	async function deleteList() {
		confirm_delete = false;

		const response = await account.mirrorAPI.Timeline.Lists.delete(list.id);
		if (!response) {
			errorModal('Unable to delete list.', undefined, true);
			return;
		}

		eventDispatcher('destroy');
	}

	let show_options: boolean = false;
</script>

<div
	class="list"
	in:transitionSlide|global={{ duration: 250, delay: delayTransition() }}
	out:transitionSlide={{ duration: 250 }}
>
	<button
		class="row"
		class:active
		on:click={() => eventDispatcher('click', { selected_list: list })}
	>
		<div class="left">
			<input
				class="title"
				class:active={edit_title}
				type="text"
				disabled={!edit_title}
				bind:value={input_value}
				on:click|stopPropagation={() => {}}
			/>
			<div class="len">
				{list.accounts.length}
				{list.accounts.length <= 1 ? 'account' : 'accounts'}
			</div>
		</div>
		<div class="right">
			{#if edit_title}
				<button
					style="color: rgb(var(--green));"
					on:click|stopPropagation={() => updateList({ title: input_value })}
				>
					<div class="fa fa-check"></div>
				</button>
			{:else}
				<button on:click|stopPropagation={() => (edit_title = true)}>
					<div class="fa fa-pencil"></div>
				</button>
			{/if}
			{#if account.mirrorAPI.instance_type === InstanceType.Mastodon}
				<button
					class:show={show_options}
					on:click|stopPropagation={() => (show_options = !show_options)}
				>
					<div class="fa fa-sliders"></div>
				</button>
			{/if}
			{#if confirm_delete}
				<div class="confirm-delete" in:transitionFade={{ duration: 200 }}>
					Delete ?
					<div class="inner">
						<button on:click|stopPropagation={() => deleteList()}>
							<div class="fa fa-check"></div>
						</button>
						<button
							class="fa fa-times"
							on:click|stopPropagation={() => (confirm_delete = false)}
						/>
					</div>
				</div>
			{:else}
				<button
					class="fa fa-trash"
					on:click|stopPropagation={() => (confirm_delete = true)}
				/>
			{/if}
		</div>
	</button>
	{#if show_options}
		<ListOptions
			{list}
			on:exclusive={(e) => updateList({ exclusive: e.detail })}
			on:repliesPolicy={(e) => updateList({ replies_policy: e.detail })}
		></ListOptions>
	{/if}
</div>

<style lang="scss">
	.list {
		display: flex;
		flex-direction: column;
		gap: 10px;
		margin: 2.5px 5px;
		border-radius: 5px;
		background-color: rgb(var(--light));

		.row {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}

		button {
			padding: 10px 15px;

			&:hover,
			&.active {
				background-color: rgb(var(--lighter));
			}
		}

		.left {
			display: flex;
			flex-direction: column;
			gap: 2px;
			flex-grow: 1;

			.title {
				all: unset;
				margin-right: 20px;
				border: 1px solid transparent;
				border-radius: 5px;
				box-sizing: border-box;

				&:disabled {
					pointer-events: none;
				}

				&.active {
					background-color: rgb(var(--composer));
					border: 1px solid rgb(var(--accent));
					cursor: text;
				}
			}

			.len {
				opacity: 0.7;
				font-size: calc(var(--font-size) + 1px);
			}
		}

		.right {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 20px;

			button {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				width: 30px;
				height: 30px;

				&:hover,
				&.show {
					border-radius: 100%;
					background-color: rgba(var(--text), 0.3);
				}
			}

			.confirm-delete {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				font-size: calc(var(--font-size) - 1px);

				.inner {
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;
					gap: 10px;
					font-size: calc(var(--font-size) + 3.5px);
					padding: 5px;

					button {
						&:first-child {
							color: rgb(var(--green));
						}

						&:last-child {
							color: rgb(var(--red));
						}
					}
				}
			}
		}
	}
</style>
