<script lang="ts">
	import { createEventDispatcher } from 'svelte';

	import InputCheckbox from '../../Global/Inputs/InputCheckbox.svelte';
	import InputRadioCheckbox from '../../Global/Inputs/InputRadioCheckbox.svelte';

	import { transitionSlide } from '../../../lib/Transitions/transitionOverride';

	import type { ListAccount } from '../../../types/lists';
	import type { Entity } from '../../../types/mastodonEntities';

	const eventDispatcher = createEventDispatcher();

	export let list: ListAccount;

	function convertForComponent(replies_policy: Entity.RepliesPolicy | null) {
		switch (replies_policy) {
			case 'none':
				return 'no one';
			case 'list':
				return 'members of the list';
			case 'followed':
				return 'any followed user';
		}

		return 'members of the list';
	}

	function convertForAPI(replies_policy: 'no one' | 'members of the list' | 'any followed user') {
		switch (replies_policy) {
			case 'no one':
				return 'none';
			case 'members of the list':
				return 'list';
			case 'any followed user':
				return 'followed';
		}
	}
</script>

<div class="list-options" transition:transitionSlide={{ duration: 200 }}>
	<InputCheckbox
		text="Hide these posts from home"
		checked={list.exclusive}
		on:click={() => eventDispatcher('exclusive', !list.exclusive)}
	></InputCheckbox>
	<InputRadioCheckbox
		title="Show replies to"
		items={['no one', 'members of the list', 'any followed user']}
		checked={convertForComponent(list.replies_policy)}
		on:change={(e) => eventDispatcher('repliesPolicy', convertForAPI(e.detail.value))}
	></InputRadioCheckbox>
</div>

<style lang="scss">
	.list-options {
		display: flex;
		flex-direction: column;
		padding: 0px 15px 10px;

		:global(label) {
			padding: 5px 0px 10px 0px !important;
		}

		:global(.radio-checkbox) {
			padding: 5px 0px !important;
		}

		:global(.radio-checkbox p) {
			text-align: left !important;
		}

		:global(.radio-checkbox label) {
			padding: 5px !important;
			margin-left: 10px;
		}
	}
</style>
