<script lang="ts">
	import InputCheckbox from '../../../Global/Inputs/InputCheckbox.svelte';
	import InputNumber from '../../../Global/Inputs/InputNumber.svelte';

	import {
		stOptions,
		rdOptionsBehaviorNotificationModalDismissAfter,
		rdOptionsBehaviorEmojiZoomOnHover,
		rdOptionsBehaviorEmojiPickerToggleWideEmoji,
		rdOptionsBehaviorEmojiPickerTopRow,
	} from '../../../../stores/Options';

	import { clamp } from '../../../../lib/Utils/number/clamp';
	import { isCheckboxChecked } from '../../../../lib/Utils/js/isCheckboxChecked';

	let dismiss_notifications_modal_time =
		+$rdOptionsBehaviorNotificationModalDismissAfter.toFixed(1);

	function dismissNotifications() {
		const time = +dismiss_notifications_modal_time;
		if (isNaN(time)) {
			return;
		}

		const clamped = +clamp(time, 0, 60).toFixed(1);

		$stOptions.behavior.notificationModal.dismissAfter = clamped;
		dismiss_notifications_modal_time = clamped;
	}
</script>

<div class="settings-section column">
	<h2>App</h2>
	<InputNumber
		text="Auto dismiss application notifications after"
		step="0.1"
		min="0"
		max="20"
		suffix="seconds"
		hint="(0 means disabled)"
		bind:value={dismiss_notifications_modal_time}
		on:change={dismissNotifications}
	/>
	<!-- <InputCheckbox
		text="Always animate expanded panel"
		checked={$rdOptionsBehaviorExpandedPanelCollapseOnChange}
		on:click={(e) =>
			($stOptions.behavior.expandedPanel.collapseOnChange = isCheckboxChecked(e))}
	/> -->
	<!-- <Checkbox
		text="Pause column scrolling on hover (Soon™)"
		checked={$rdOptionsBehaviorColumnsPauseOnHover}
	/>
	<Checkbox
		text={'Collapse read DMs (Soon™)'}
		checked={$rdOptionsBehaviorColumnsCollapseReadMessage}
		on:click={(e) => ($stOptions.behavior.columns.collapseReadMessage = isCheckboxChecked(e))}
	/> -->
	<InputCheckbox
		text="Zoom emojis on hover"
		checked={$rdOptionsBehaviorEmojiZoomOnHover}
		on:click={(e) => ($stOptions.behavior.emoji.zoomOnHover = isCheckboxChecked(e))}
	/>
</div>
<div class="settings-section column">
	<h2>Emoji picker</h2>
	<InputCheckbox
		text="Show emoji in full width"
		checked={$rdOptionsBehaviorEmojiPickerToggleWideEmoji}
		on:click={(e) => ($stOptions.behavior.emojiPicker.toggleWideEmoji = isCheckboxChecked(e))}
	/>
	<div style="margin-left: 1em;">
		<p>First row behavior</p>
		<InputCheckbox
			text="Frequently used"
			checked={$rdOptionsBehaviorEmojiPickerTopRow === 'frequently'}
			on:click={(e) =>
				($stOptions.behavior.emojiPicker.topRow = isCheckboxChecked(e)
					? 'frequently'
					: 'recently')}
		/>
		<InputCheckbox
			text="Recently used"
			checked={$rdOptionsBehaviorEmojiPickerTopRow === 'recently'}
			on:click={(e) =>
				($stOptions.behavior.emojiPicker.topRow = isCheckboxChecked(e)
					? 'recently'
					: 'frequently')}
		/>
	</div>
</div>
