<script lang="ts">
	import InputCheckbox from '../../../Global/Inputs/InputCheckbox.svelte';

	import {
		stOptions,
		rdOptionsBehaviorComposerReverseMediaOrder,
		rdOptionsBehaviorComposerStayOpen,
		rdOptionsBehaviorComposerSimultaneousUpload,
	} from '../../../../stores/Options';

	import { isCheckboxChecked } from '../../../../lib/Utils/js/isCheckboxChecked';
</script>

<div class="settings-section column">
	<h2>Composer</h2>
	<InputCheckbox
		text="Reverse media selection order in composer"
		checked={$rdOptionsBehaviorComposerReverseMediaOrder}
		on:click={(e) => ($stOptions.behavior.composer.reverseMediaOrder = isCheckboxChecked(e))}
	/>
	<InputCheckbox
		text="Composer stays open"
		checked={$rdOptionsBehaviorComposerStayOpen}
		on:click={(e) => ($stOptions.behavior.composer.stayOpen = isCheckboxChecked(e))}
	/>
	<InputCheckbox
		text="Upload media simultaneously"
		checked={$rdOptionsBehaviorComposerSimultaneousUpload}
		on:click={(e) => ($stOptions.behavior.composer.simultaneousUpload = isCheckboxChecked(e))}
	/>
</div>
