<script lang="ts">
	import InputCheckbox from '../../../Global/Inputs/InputCheckbox.svelte';
	import App from './App.svelte';
	import Column from './Column.svelte';
	import Composer from './Composer.svelte';
	import Debug from './Debug.svelte';
	import Notification from './Notification.svelte';
	import Profile from './Profile.svelte';
	import Search from './Search.svelte';
	import Status from './Status.svelte';
	import Thread from './Thread.svelte';

	import { rdOptionsBehaviorShowChangelog, stOptions } from '../../../../stores/Options';

	import { isCheckboxChecked } from '../../../../lib/Utils/js/isCheckboxChecked';
</script>

<Column></Column>
<Notification></Notification>
<Thread></Thread>
<Status></Status>
<Composer></Composer>
<Search></Search>
<Profile></Profile>
<App></App>
<div class="settings-section column">
	<InputCheckbox
		text="Show changelog when the app is updated"
		checked={$rdOptionsBehaviorShowChangelog}
		on:click={(e) => ($stOptions.behavior.showChangelog = isCheckboxChecked(e))}
	></InputCheckbox>
</div>
<Debug></Debug>

<style lang="scss">
	:global(.section) {
		display: flex;
		justify-content: center;
		padding: 10px;

		&.column {
			flex-direction: column;
		}

		&:not(:last-child) {
			border-bottom: 1px solid rgb(var(--accent));
		}
	}
</style>
