<script lang="ts">
	import { createEventDispatcher } from 'svelte';

	import InputText from '../../../Global/Inputs/InputText.svelte';
	import InputToArray from '../InputToArray/Container.svelte';
	import Collapse from '../../../Global/Collapse.svelte';
	import ItemsContainer from '../InputToArray/ItemsContainer.svelte';

	import { getRegex, type CustomMoyai } from '../../../../lib/ComponentFunctions/moyai';
	import { truncateLink } from '../../../../lib/Utils/truncateLink';
	import { transitionSlide } from '../../../../lib/Transitions/transitionOverride';
	import { ANCHOR_ARGS } from '../../../../lib/Constants/Anchor';

	const eventDispatcher = createEventDispatcher();

	export let sound: CustomMoyai = {
		name: '',
		src: '',
		find: '',
	};
	export let add_only: boolean = false;

	const add = !sound.name && !sound.src && !sound.find;

	let edit: boolean = false;
	let collapsed: boolean = true;
	let locked: boolean = false;

	let name: string = sound.name;
	$: nameChange(name);

	function nameChange(name: string) {
		sound.name = name;
		eventDispatcher('change');
	}

	let short_link = truncateLink(sound.src, 30);
	let src: string = sound.src;
	$: srcChange(src);

	function srcChange(src: string) {
		short_link = truncateLink(src, 30);
		sound.src = src;
		eventDispatcher('change');
	}

	let items: Array<string> = sound.find.split(',').filter((s) => s);
	$: itemsChange(items);

	function itemsChange(items: Array<string>) {
		sound.find = items.join(',');
		eventDispatcher('change');
	}

	let regex_error: boolean = false;
	let valid: boolean = false;
	$: {
		name;
		src;
		items;
		valid = validate();
	}

	function validate() {
		try {
			getRegex([
				{
					name,
					src,
					find: items.join(','),
				},
			]);
			regex_error = false;
		} catch (_) {
			regex_error = true;
			return false;
		}

		return !!name && !!src && !!items.length;
	}

	function toggleEdit() {
		if (!valid) {
			return;
		}

		if (edit && add) {
			eventDispatcher('add', {
				name,
				src,
				find: items.join(','),
			});
		}

		edit = !edit;

		if (edit) {
			collapsed = false;
			locked = true;
		} else {
			collapsed = true;
			locked = false;
		}
	}

	function trggerEdit() {
		if (edit) {
			return;
		}

		edit = true;
		collapsed = false;
		locked = true;
	}

	function remove() {
		if (edit && add) {
			edit = false;
			collapsed = true;
			locked = true;
		}

		eventDispatcher('remove');
	}

	$: {
		collapsed;
		resetInputs();
	}

	function resetInputs() {
		if (add_only && collapsed) {
			name = '';
			src = '';
			items = [];
		}
	}
</script>

<div class="custom-sound" class:edit class:collapsed transition:transitionSlide={{ duration: 100 }}>
	<Collapse bind:collapsed {locked}>
		<svelte:fragment slot="button-content">
			<div class="header">
				{#if edit}
					<div class="name input">
						<p>Entry name</p>
						<InputText bind:value={name} placeholder="Name"></InputText>
					</div>
				{:else if add}
					<button class="add" on:click={trggerEdit}>
						<div class="fa fa-plus"></div>
					</button>
				{:else}
					<div class="chevron">
						<div class="icon fa fa-chevron-right" class:collapsed></div>
						<p>{name}</p>
					</div>
				{/if}
				<div class="btns">
					{#if add}
						{#if edit}
							<button on:click|stopPropagation={toggleEdit}>
								<div class="check fa fa-check" class:valid></div>
							</button>
							<button
								class="remove"
								style:color="rgb(var(--text))"
								on:click|stopPropagation={() => {
									edit = false;
									collapsed = true;
								}}
							>
								<div class="fa fa-times"></div>
							</button>
						{/if}
					{:else}
						<button on:click|stopPropagation={toggleEdit}>
							{#if edit}
								<div class="check fa fa-check" class:valid></div>
							{:else}
								<div class="fa fa-pencil"></div>
							{/if}
						</button>
						<button class="remove" on:click|stopPropagation={remove}>
							<div class="fa fa-times"></div>
						</button>
					{/if}
				</div>
			</div>
		</svelte:fragment>
		{#if edit}
			<div class="attributes">
				<div class="src input">
					<p>sound url</p>
					<InputText bind:value={src} placeholder="URL"></InputText>
				</div>
				<InputToArray placeholder={'String or regex to find in notifications'} bind:items
				></InputToArray>
				{#if regex_error}
					<p class="error">Regex error</p>
				{/if}
			</div>
		{:else}
			<div class="attributes">
				<div class="src">
					<p>Sound url</p>
					<a class:ellipsis={short_link.truncated} href={src} {...ANCHOR_ARGS}>
						{short_link.trunc_anchor_text}
					</a>
				</div>
				<div class="trigger">
					<p>Matching</p>
					<ItemsContainer {items} deletable={false}></ItemsContainer>
				</div>
			</div>
		{/if}
	</Collapse>
</div>

<style lang="scss">
	.custom-sound {
		max-width: 600px;
		display: flex;
		flex-direction: column;

		&:not(:last-child) {
			border-bottom: 1px solid rgb(var(--text));
		}

		&.collapsed:hover {
			background-color: rgb(var(--composer));
		}

		.input {
			width: 100%;
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 1ch;
		}

		.header {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			padding: 5px 10px;
			gap: 1ch;

			.add {
				width: 100%;
				text-align: center;
			}

			.chevron {
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 1ch;

				.icon {
					transform: rotate(90deg);
					transition: calc(0.1s * var(--transition-speed));

					&.collapsed {
						transform: rotate(0);
					}
				}
			}

			.btns {
				display: flex;
				flex-direction: row;
				gap: 0.5ch;

				button {
					padding: 2.5px 5px;

					&.remove {
						color: rgb(var(--red));
					}

					&:hover {
						opacity: 0.8;
					}

					.check {
						color: rgb(var(--green));
						opacity: 0.5;

						&.valid {
							opacity: 1;
						}
					}
				}
			}
		}

		.attributes {
			display: flex;
			flex-direction: column;
			gap: 0.5ch;
			padding: 5px 10px 10px;

			.src {
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 1ch;
			}

			.trigger {
				width: 100%;
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 1ch;
			}
		}

		.error {
			color: rgb(var(--red));
			text-align: center;
			transform: translateY(-0.25em);
		}

		:global(.text) {
			flex-grow: 1;
		}
	}
</style>
