<script lang="ts">
	import InputCheckbox from '../../../Global/Inputs/InputCheckbox.svelte';
	import InputCheckboxCollapse from '../../../Global/Inputs/InputCheckboxCollapse.svelte';

	import {
		stDebug,
		stDebugLeaks,
		stDebugComposer,
		stDebugSearch,
	} from '../../../../stores/Options';

	import { awaitRender } from '../../../../lib/Utils/awaitRender';
	import { isCheckboxChecked } from '../../../../lib/Utils/js/isCheckboxChecked';
</script>

<div class="settings-section column">
	<h2>Debug</h2>
	<InputCheckboxCollapse
		text="Debug"
		checked={$stDebug}
		on:click={(e) => {
			const checked = isCheckboxChecked(e);
			if (!checked) {
				awaitRender(() => ($stDebugLeaks = checked));
			}
			$stDebug = checked;
		}}
	>
		<InputCheckbox
			text="Check leaks"
			checked={$stDebugLeaks}
			on:click={(e) => awaitRender(() => ($stDebugLeaks = isCheckboxChecked(e)))}
		/>
	</InputCheckboxCollapse>
	<InputCheckbox
		text="Debug composer"
		checked={$stDebugComposer}
		on:click={(e) => ($stDebugComposer = isCheckboxChecked(e))}
	/>
	<InputCheckbox
		text="Debug search"
		checked={$stDebugSearch}
		on:click={(e) => ($stDebugSearch = isCheckboxChecked(e))}
	/>
</div>
