<script lang="ts">
	import InputCheckboxCollapse from '../../../Global/Inputs/InputCheckboxCollapse.svelte';
	import InputNumber from '../../../Global/Inputs/InputNumber.svelte';
	import CustomSound from './CustomSound.svelte';

	import {
		rdOptionsBehaviorNotificationHighlightDuration,
		rdOptionsBehaviorNotificationHighlightNew,
		rdOptionsBehaviorNotificationPlayCustomSound,
		rdOptionsBehaviorNotificationPlayCustomSoundLimit,
		rdOptionsBehaviorNotificationPlayCustomSounds,
		rdOptionsBehaviorNotificationPlayCustomSoundVolume,
		stOptions,
	} from '../../../../stores/Options';

	import { isCheckboxChecked } from '../../../../lib/Utils/js/isCheckboxChecked';
	import { updateStoreNumber } from '../../../../lib/ComponentFunctions/updateStoreNumber';
	import { clamp } from '../../../../lib/Utils/number/clamp';

	let highlight_notifications_duration =
		+$rdOptionsBehaviorNotificationHighlightDuration.toFixed(1);
	function highlightNotifications() {
		return updateStoreNumber(
			highlight_notifications_duration,
			(v) => +clamp(v, 0, Infinity).toFixed(1),
			(v) => ($stOptions.behavior.notification.highlightDuration = v)
		);
	}

	let custom_sound_limit = +$rdOptionsBehaviorNotificationPlayCustomSoundLimit.toFixed(0);
	function customSoundLimit() {
		return updateStoreNumber(
			custom_sound_limit,
			(v) => +clamp(v, 0, Infinity).toFixed(0),
			(v) => ($stOptions.behavior.notification.playCustomSound.limit = v)
		);
	}

	let custom_sound_volume = +$rdOptionsBehaviorNotificationPlayCustomSoundVolume.toFixed(2);
	function customSoundVolume() {
		return updateStoreNumber(
			custom_sound_volume,
			(v) => +clamp(v, 0, 1).toFixed(2),
			(v) => ($stOptions.behavior.notification.playCustomSound.volume = v)
		);
	}
</script>

<div class="settings-section column">
	<h2>Notification</h2>
	<InputCheckboxCollapse
		text="Highlight new notifications"
		checked={$rdOptionsBehaviorNotificationHighlightNew}
		on:click={(e) => ($stOptions.behavior.notification.highlightNew = isCheckboxChecked(e))}
	>
		<InputNumber
			text="Highlight duration"
			step="0.1"
			min="0"
			suffix="seconds"
			bind:value={highlight_notifications_duration}
			on:change={highlightNotifications}
		/>
	</InputCheckboxCollapse>

	<InputCheckboxCollapse
		text="Play a custom sound when a particular string is found"
		checked={$rdOptionsBehaviorNotificationPlayCustomSound}
		on:click={(e) =>
			($stOptions.behavior.notification.playCustomSound.value = isCheckboxChecked(e))}
	>
		<InputNumber
			text="Limit"
			step="1"
			min="0"
			bind:value={custom_sound_limit}
			on:change={customSoundLimit}
		/>
		<div class="volume">
			<InputNumber
				text="Volume"
				min="0"
				max="1"
				step="0.01"
				bind:value={custom_sound_volume}
				on:change={customSoundVolume}
			></InputNumber>
			<input
				type="range"
				min="0"
				max="1"
				step="0.01"
				bind:value={custom_sound_volume}
				on:change={customSoundVolume}
			/>
		</div>
		{#each $rdOptionsBehaviorNotificationPlayCustomSounds.map( (v, i) => ({ v, i }) ) as { v, i } (v.name + i)}
			<CustomSound
				sound={v}
				on:change={() =>
					($stOptions.behavior.notification.playCustomSound.sounds =
						$stOptions.behavior.notification.playCustomSound.sounds)}
				on:remove={() => {
					const found = $rdOptionsBehaviorNotificationPlayCustomSounds[i];
					$stOptions.behavior.notification.playCustomSound.sounds =
						$stOptions.behavior.notification.playCustomSound.sounds.filter(
							(s) => !Object.is(s, found)
						);
				}}
			></CustomSound>
		{/each}
		<CustomSound
			add_only={true}
			on:add={(e) => {
				console.log(e.detail);
				$stOptions.behavior.notification.playCustomSound.sounds.push(e.detail);
				$stOptions.behavior.notification.playCustomSound.sounds =
					$stOptions.behavior.notification.playCustomSound.sounds;
			}}
		></CustomSound>
	</InputCheckboxCollapse>
</div>

<style lang="scss">
	.volume {
		display: flex;
		flex-direction: row;

		input[type='range'] {
			flex-grow: 1;
		}
	}
</style>
