<script lang="ts">
	import { writable } from 'svelte/store';

	import InputCheckbox from '../../../Global/Inputs/InputCheckbox.svelte';
	import InputRadio from '../../../Global/Inputs/InputRadio.svelte';

	import {
		rdOptionsBehaviorProfileShowMediaAsGrid,
		rdOptionsBehaviorProfileDefaultTab,
		stOptions,
	} from '../../../../stores/Options';

	import { isCheckboxChecked } from '../../../../lib/Utils/js/isCheckboxChecked';

	import { ActiveTab, ActiveTabs } from '../../../../types/profile';

	const c = convertToStore(ActiveTabs);

	function convertToStore(values: { [key: string]: ActiveTab }) {
		const ret: { [key: string]: boolean } = {};

		const keys = Object.keys(values);
		for (const tab of keys) {
			ret[tab] = false;
		}

		ret[keys[$rdOptionsBehaviorProfileDefaultTab]] = true;

		return writable(ret);
	}

	// @ts-ignore This always return an ActiveTab
	function convertToValue(values: { [key: string]: boolean }): ActiveTab {
		for (const [key, value] of Object.entries(values)) {
			if (value) {
				// @ts-ignore
				return ActiveTabs[key];
			}
		}
	}

	function updateOptions(tab: ActiveTab) {
		$stOptions.behavior.profile.defaultTab = tab;
	}

	$: updateOptions(convertToValue($c));
</script>

<div class="settings-section column">
	<h2>Profile</h2>
	<InputCheckbox
		text="Toggle grid view for media"
		checked={$rdOptionsBehaviorProfileShowMediaAsGrid}
		on:click={(e) => ($stOptions.behavior.profile.showMediaAsGrid = isCheckboxChecked(e))}
	/>
	<div class="checkboxes">
		<p>Default tab</p>
		<InputRadio bind:entries={$c} capitalize={false}></InputRadio>
	</div>
</div>

<style lang="scss">
	.checkboxes {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 1ch;
		margin-left: 1em;

		:global(.radio) {
			flex-grow: 1;
		}
	}
</style>
