<script lang="ts">
	import InputNumber from '../../../Global/Inputs/InputNumber.svelte';
	import InputCheckbox from '../../../Global/Inputs/InputCheckbox.svelte';
	import InputText from '../../../Global/Inputs/InputText.svelte';
	import InputCheckboxCollapse from '../../../Global/Inputs/InputCheckboxCollapse.svelte';
	import ItemsContainer from '../InputToArray/ItemsContainer.svelte';

	import {
		stOptions,
		rdOptionsBehaviorStatusHideThreshold,
		rdOptionsBehaviorStatusQuote,
		rdOptionsBehaviorStatusTwitterEmbed,
		rdOptionsBehaviorStatusTwitterEmbedExcluded,
		rdOptionsBehaviorStatusYoutubeEmbed,
		rdOptionsBehaviorStatusYoutubeEmbedPiped,
		rdOptionsBehaviorStatusYoutubeEmbedPipedHostname,
		rdOptionsBehaviorStatusDailymotionEmbed,
		rdOptionsBehaviorStatusShowInteractionsOnQuote,
	} from '../../../../stores/Options';

	import { clamp } from '../../../../lib/Utils/number/clamp';
	import { isCheckboxChecked } from '../../../../lib/Utils/js/isCheckboxChecked';
	import { transitionSlide } from '../../../../lib/Transitions/transitionOverride';
	import { updateStoreNumber } from '../../../../lib/ComponentFunctions/updateStoreNumber';

	let status_hide_threshold = +$rdOptionsBehaviorStatusHideThreshold.toFixed(0);
	function statusHideThreshold() {
		return updateStoreNumber(
			status_hide_threshold,
			(v) => +clamp(v, 0, Infinity).toFixed(0),
			(v) => ($stOptions.behavior.status.hideThreshold = v)
		);
	}

	let status_piped_hostname = $rdOptionsBehaviorStatusYoutubeEmbedPipedHostname;

	function statusPipedHostname() {
		try {
			const url = new URL(status_piped_hostname);
			$stOptions.behavior.status.youtubeEmbed.piped.hostname = url.origin;
		} catch (e) {}
	}
</script>

<div class="settings-section column">
	<h2>Status</h2>
	<InputNumber
		text="Collapse status bigger than"
		step="1"
		min="0"
		suffix="px"
		hint="(0 means disabled)"
		bind:value={status_hide_threshold}
		on:change={statusHideThreshold}
	/>
	<InputCheckbox
		text="Display fediverse links as quotes"
		checked={$rdOptionsBehaviorStatusQuote}
		on:click={(e) => ($stOptions.behavior.status.quote = isCheckboxChecked(e))}
	/>
	<InputCheckboxCollapse
		text="Display Twitter links as quotes"
		checked={$rdOptionsBehaviorStatusTwitterEmbed}
		on:click={(e) => ($stOptions.behavior.status.twitterEmbed.value = isCheckboxChecked(e))}
	>
		<div class="embed" transition:transitionSlide={{ duration: 200 }}>
			{#if $rdOptionsBehaviorStatusTwitterEmbedExcluded.length}
				<p>Embed are disabled for these accounts:</p>
				<ItemsContainer
					bind:items={$stOptions.behavior.status.twitterEmbed.exclude}
					deletable={true}
					value_key="acct"
				></ItemsContainer>
			{:else}
				<p class="tip">
					Excluded accounts will be shown here.<br />You can exclude accounts in the
					dropdown menu of statuses.
				</p>
			{/if}
		</div>
	</InputCheckboxCollapse>
	<InputCheckbox
		text="Show status interactions on quote"
		checked={$rdOptionsBehaviorStatusShowInteractionsOnQuote}
		on:click={(e) =>
			($stOptions.behavior.status.showInteractionsOnQuote = isCheckboxChecked(e))}
	/>
	<InputCheckboxCollapse
		text="Display embed for Youtube links"
		checked={$rdOptionsBehaviorStatusYoutubeEmbed}
		on:click={(e) => ($stOptions.behavior.status.youtubeEmbed.value = isCheckboxChecked(e))}
	>
		<p style="opacity: 0.7;margin-bottom: 5px;font-size: 14px;">
			SponsorBlock might reset the timestamp if one included in the link.
		</p>
		<InputCheckboxCollapse
			text="Use a piped instance"
			checked={$rdOptionsBehaviorStatusYoutubeEmbedPiped}
			on:click={(e) =>
				($stOptions.behavior.status.youtubeEmbed.piped.value = isCheckboxChecked(e))}
		>
			<div class="embed" transition:transitionSlide={{ duration: 200 }}>
				<InputText
					text="Piped instance"
					bind:value={status_piped_hostname}
					on:keydown={statusPipedHostname}
				/>
			</div>
		</InputCheckboxCollapse></InputCheckboxCollapse
	>
	<InputCheckbox
		text="Display embed for Dailymotion links"
		checked={$rdOptionsBehaviorStatusDailymotionEmbed}
		on:click={(e) => ($stOptions.behavior.status.DailymotionEmbed = isCheckboxChecked(e))}
	/>
</div>

<style lang="scss">
	.embed {
		display: flex;
		flex-direction: column;
		gap: 1ch;
		margin-left: 1em;

		.tip {
			opacity: 0.7;
		}
	}
</style>
