<script lang="ts">
	import InputCheckbox from '../../../Global/Inputs/InputCheckbox.svelte';

	import {
		rdOptionsBehaviorColumnThreadInsertStatusBeforeSelected,
		rdOptionsBehaviorColumnThreadOpenInAnotherColumn,
		stOptions,
	} from '../../../../stores/Options';

	import { isCheckboxChecked } from '../../../../lib/Utils/js/isCheckboxChecked';
</script>

<div class="settings-section column">
	<h2>Thread</h2>
	<InputCheckbox
		text="Open thread in a new column"
		checked={$rdOptionsBehaviorColumnThreadOpenInAnotherColumn}
		on:click={(e) =>
			($stOptions.behavior.column.thread.openInAnotherColumn = isCheckboxChecked(e))}
	></InputCheckbox>
	<InputCheckbox
		text="Insert new statuses before the selected one"
		checked={$rdOptionsBehaviorColumnThreadInsertStatusBeforeSelected}
		on:click={(e) =>
			($stOptions.behavior.column.thread.insertStatusBeforeSelected = isCheckboxChecked(e))}
	></InputCheckbox>
</div>
