<script lang="ts">
	import {
		notificationModal,
		type NotificationModalEntity,
	} from '../../stores/NotificationsModal';

	import { transitionSlide } from '../../lib/Transitions/transitionOverride';
	import { clamp } from '../../lib/Utils/number/clamp';

	export let modal: NotificationModalEntity;
	export let max: number;

	let progress: HTMLDivElement;
	let current: number = 0;

	export function finish() {
		notificationModal.delete(modal.id);
	}

	export function tick(value: number = ++current) {
		const percentage = clamp(+((value / max) * 100).toFixed(), 0, 100);
		progress.style.width = percentage + '%';

		if (percentage === 100) {
			finish();
		}
	}

	export function updateMax(new_max: number) {
		max = new_max;

		tick(current);
	}

	export function getID() {
		return modal.id;
	}
</script>

<div class="notification-loading" transition:transitionSlide|global={{ duration: 300 }}>
	<div class="text">{modal.text}</div>
	<button class="close" data-id={modal.id} on:click={() => notificationModal.delete(modal.id)}>
		<div class="icon fa fa-times" />
	</button>
	<div class="load">
		<div class="progress" bind:this={progress} />
	</div>
</div>

<style lang="scss">
	.notification-loading {
		position: relative;
		max-width: 700px;
		margin-bottom: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;
		pointer-events: all;
		background-color: rgb(var(--accent));
		color: rgb(var(--text-button));

		.close {
			display: grid;
			justify-content: center;
			align-content: center;
			flex-shrink: 0;

			.icon {
				width: 30px;
				font-size: 25px;
				pointer-events: none;
			}
		}

		.text {
			font-size: var(--font-size);
			hyphens: auto;
			padding: 15px 0px 15px 20px;
		}

		.load {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 5px;

			.progress {
				width: 0%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.523);
				transition: calc(0.1s * var(--transition-speed));
			}
		}
	}
</style>
