<script lang="ts">
	import { createEventDispatcher, onDestroy } from 'svelte';

	import { rdOptionsBehaviorNotificationModalDismissAfter } from '../../stores/Options';
	import {
		NotificationModalType,
		type NotificationModalEntity,
	} from '../../stores/NotificationsModal';

	import { transitionSlide } from '../../lib/Transitions/transitionOverride';

	const eventDispatcher = createEventDispatcher();

	export let modal: NotificationModalEntity;

	let progress: HTMLDivElement;
	let timeouts: Array<NodeJS.Timeout> = [];

	function triggerProgress() {
		if (timeouts.length) {
			return;
		}
		timeouts = [
			setTimeout(() => (progress.style.width = '100%')),
			setTimeout(
				() => eventDispatcher('click', modal.id),
				$rdOptionsBehaviorNotificationModalDismissAfter * 1000
			),
		];
	}

	onDestroy(() => {
		timeouts.forEach((t) => clearTimeout(t));
	});

	$: if (modal.dismissable && $rdOptionsBehaviorNotificationModalDismissAfter !== 0 && progress) {
		triggerProgress();
	}
</script>

<div
	class="notification"
	class:warn={modal.type === NotificationModalType.Warn}
	class:error={modal.type === NotificationModalType.Error}
	transition:transitionSlide|global={{ duration: 300 }}
>
	{#if modal.callback}
		<button
			class="text"
			on:click={() => {
				if (modal.callback) {
					modal.callback();
					eventDispatcher('click', modal.id);
				}
			}}>{modal.text}</button
		>
	{:else}
		<div class="text">{modal.text}</div>
	{/if}
	<button class="close" data-id={modal.id} on:click>
		<div class="icon fa fa-times" />
	</button>
	{#if modal.dismissable && $rdOptionsBehaviorNotificationModalDismissAfter !== 0}
		<div class="dismiss">
			<div
				class="progress"
				style:transition={`${$rdOptionsBehaviorNotificationModalDismissAfter}s linear;`}
				bind:this={progress}
			/>
		</div>
	{/if}
</div>

<style lang="scss">
	.notification {
		position: relative;
		max-width: 700px;
		margin-bottom: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;
		pointer-events: all;
		background-color: rgb(var(--accent));
		color: rgb(var(--text-button));

		&.error {
			background-color: rgb(var(--red));
		}

		&.warn {
			background-color: #ff9124;
		}

		.close {
			display: grid;
			justify-content: center;
			align-content: center;
			flex-shrink: 0;

			.icon {
				width: 30px;
				font-size: 25px;
				pointer-events: none;
			}
		}

		.text {
			hyphens: auto;
			white-space: pre-wrap;
			font-size: var(--font-size);
			padding: 15px 0px 15px 20px;
		}

		.dismiss {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 5px;

			.progress {
				width: 0%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.523);
			}
		}
	}
</style>
