<script lang="ts">
	import Img from '../../Global/Img.svelte';
	import SendingInfo from './SendingInfo.svelte';
	import Buttons from './Buttons/Container.svelte';

	import type { IterableMedia } from '../../../types/media';
	import type { ComposerSendingInfo } from '../../../types/composer';

	export let media: IterableMedia;
	export let info: ComposerSendingInfo | undefined = undefined;

	let failed_to_load: boolean = false;
</script>

<div class="img" class:failed={failed_to_load}>
	<Img src={media.src} alt={''} events={['error']} on:error={() => (failed_to_load = true)} />
	{#if failed_to_load}
		<div class="failed">Couldn't load media</div>
	{/if}
	<Buttons {media} on:click></Buttons>
	{#if info}
		<SendingInfo media={info}></SendingInfo>
	{/if}
</div>

<style lang="scss">
	:global(.theme-light) {
		.img {
			background-color: #696969;
		}
	}

	.img {
		position: relative;

		&:focus-visible {
			filter: invert(0.2);

			&::after {
				content: '';
			}
		}

		&.failed {
			cursor: default;
			pointer-events: none;
		}

		:global(img) {
			display: block;
			max-width: 100%;
			height: 100%;
			max-height: 50vh;
			object-fit: cover;
		}

		.failed {
			position: absolute;
			font-weight: bold;
		}
	}
</style>
