<script lang="ts">
	import { clamp } from '../../../lib/Utils/number/clamp';

	import type { ComposerSendingInfo } from '../../../types/composer';

	export let media: ComposerSendingInfo;

	let percentage: number = 0;
	$: percentage = clamp((media.sent_size / media.size || 1) * 100, 0, 100);
</script>

<div class="sending-info">
	{#if percentage !== 100}
		{#if percentage === 0}
			<div style:color="rgb(var(--favourite-color))">Pending</div>
		{:else}
			<div>{percentage.toFixed(2)}%</div>
			<div class="progress">
				<div class="bar" style:width={percentage.toFixed(2) + '%'}></div>
			</div>
		{/if}
	{:else}
		<div class="processed" class:true={media.processed}>
			{media.processed ? 'Processed' : 'Processing'}
		</div>
	{/if}
</div>

<style lang="scss">
	.sending-info {
		z-index: 1;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		&::before {
			content: '';
			z-index: -1;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgb(var(--background));
			opacity: 0.5;
		}

		.progress {
			position: relative;
			width: 80%;
			height: 4px;
			background-color: rgb(var(--text));

			.bar {
				position: relative;
				max-width: 100%;
				height: 100%;
				background-color: rgb(var(--accent));
				transition: calc(0.1s * var(--transition-speed));
			}
		}

		.processed {
			color: rgb(var(--red));

			&.true {
				color: rgb(var(--reblog-color));
			}
		}
	}
</style>
