<script lang="ts">
	import Window from '../Window.svelte';
	import Accounts from './Implementations/Accounts.svelte';
	import Domain from './Implementations/Domain.svelte';
	import AccountContainer from '../../Composer/From/Account.svelte';

	import {
		Account,
		stAccountDefault,
		stAccounts,
		type TootDeckAccount,
	} from '../../../stores/Account/Accounts';
	import { stGlobalWindow, type GlobalWindowFilters } from '../../../stores/Window';

	import { FilterState } from '../../../types/filters';

	const global_window = $stGlobalWindow as GlobalWindowFilters;

	let account: TootDeckAccount = Account.get($stAccountDefault);
	let state: FilterState = global_window.category;

	function title() {
		switch (state) {
			case FilterState.Words:
				return 'Filtered words';
			case FilterState.Muted:
				return 'Muted users';
			case FilterState.BlockedUsers:
				return 'Blocked users';
			case FilterState.BlockedDomains:
				return 'Blocked domains';
		}
	}
</script>

<Window title={title()}>
	<div class="filters">
		<div class="account-container">
			{#each $stAccounts as [id, acc] (id)}
				<AccountContainer
					status_account={acc.entity}
					display_size="full"
					checkmark={false}
					selected={id === account.mirrorAPI.handle_string}
					on:click={() => (account = Account.get(acc.mirrorAPI.handle_string))}
				/>
			{/each}
		</div>
		<div class="filters-list">
			{#if state === FilterState.Words}
				<!-- {#await getFilters() then filters}
					{#if filters}
						{#each filters as filter (filter.id)}
							<Json object={filter}></Json>
						{/each}
					{:else}
						Error
					{/if}
				{/await} -->
			{:else if state === FilterState.Muted || state === FilterState.BlockedUsers}
				<Accounts {account} {state}>
					<svelte:fragment slot="nothing">
						<div class="nothing">
							There are no {state === FilterState.Muted ? 'muted' : 'blocked'} accounts
							yet.
						</div>
					</svelte:fragment>
				</Accounts>
			{:else if state === FilterState.BlockedDomains}
				<Domain {account}>
					<svelte:fragment slot="nothing">
						<div class="nothing">There are no blocked domains yet.</div>
					</svelte:fragment>
				</Domain>
			{/if}
		</div>
	</div>
</Window>

<style lang="scss">
	.filters {
		display: flex;
		flex-direction: row;
		width: 600px;
		max-width: 800px;
		min-height: 500px;
		max-height: 80vh;

		.account-container {
			display: flex;
			flex-direction: column;
			gap: 10px;
			padding: 10px;
			box-sizing: border-box;
		}

		.filters-list {
			position: relative;
			width: 100%;
			display: flex;
			flex-direction: column;
			overflow-x: hidden;
			overflow-y: auto;

			.nothing {
				padding: 10px 20px;
				text-align: center;
			}
		}
	}
</style>
