<script lang="ts">
	import { stAccountDefault } from '../../../stores/Account/Accounts';
	import { GlobalWindowState, GlobalWindow } from '../../../stores/Window';

	import type { IColumnType } from '../../../lib/Columns/types/interfaces';
	import {
		TootDeckColumnIdentifier,
		TootDeckColumnType,
	} from '../../../lib/Columns/TootDeckColumnTypes';

	let id = 0;

	let items: Array<{
		id: number;
		type: IColumnType;
	}> = TootDeckColumnType.filter(
		(ct) =>
			!(
				(
					ct.identifier === TootDeckColumnIdentifier.Thread ||
					ct.identifier === TootDeckColumnIdentifier.Search ||
					ct.identifier === TootDeckColumnIdentifier.Trending ||
					ct.identifier === TootDeckColumnIdentifier.Mentions ||
					ct.identifier === TootDeckColumnIdentifier.Messages ||
					ct.identifier === TootDeckColumnIdentifier.Profile ||
					ct.identifier === TootDeckColumnIdentifier.Hashtag
				) // temp
			)
	).map((ct) => ({
		id: id++,
		type: ct,
	}));

	function whichAccount(type: IColumnType) {
		GlobalWindow.clear();
		GlobalWindow.create({
			state: GlobalWindowState.WhichAccount,
			special: false,
			selected_account_id: $stAccountDefault,
			selected_column_type: type,
			selected_column: null,
		});
	}
</script>

<div class="items-container">
	<div class="btn-container caps-lock">
		{#each items as item (item.id)}
			<button on:click={() => whichAccount(item.type)}>
				<div class="icon {item.type.icon}" />
				{item.type.name}
			</button>
		{/each}
	</div>
</div>

<style lang="scss">
	.items-container {
		display: flex;
		flex-direction: column;
		align-items: center;

		.btn-container {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: 10px;
			padding: 10px;
			box-sizing: border-box;
			max-width: 620px;

			button {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 20px;
				padding: 20px 10px;
				background-color: rgb(var(--header));
				user-select: none;
				border: 1px solid transparent;
				border-radius: 10px;

				&:hover {
					background-color: rgb(var(--lighter));
				}

				&:active {
					filter: brightness(1.4);
				}

				&:focus {
					border: 1px solid #fff;
				}

				.icon {
					font-size: 25px;
				}
			}
		}
	}

	@media (max-width: 620px) {
		.items-container .btn-container {
			max-width: 470px;
		}
	}

	@media (max-width: 470px) {
		.items-container .btn-container {
			max-width: 320px;
		}
	}
</style>
