<script lang="ts">
	import AddColumn from './AddColumn.svelte';
	import Window from '../Window.svelte';
	import Button from '../../Global/Button/Button.svelte';

	import { stGlobalWindow, GlobalWindowState, GlobalWindow } from '../../../stores/Window';
	import { Layout } from '../../../stores/Columns/Layout';

	import type { IColumnType } from '../../../lib/Columns/types/interfaces';

	let title: string;
	let component: ConstructorOfATypedSvelteComponent;
	let column_type: IColumnType | null = null;
	let selected_account_id: string | null = null;

	function init() {
		if ($stGlobalWindow?.state === GlobalWindowState.WhichAccount) {
			column_type = $stGlobalWindow.selected_column_type;
			selected_account_id = $stGlobalWindow.selected_account_id;
			title = `Add a ${column_type!.name} column`;
		} else if ($stGlobalWindow?.state === GlobalWindowState.NewColumn) {
			title = 'Choose a column type to add';
			selected_account_id = null;
		} else {
			title = '';
		}
	}

	$: if ($stGlobalWindow?.state) {
		init();
	}

	$: component = column_type?.component ?? AddColumn;

	/**
	 * Add new column
	 */
	function newColumn() {
		if (!column_type) {
			return;
		}

		if (
			$stGlobalWindow?.state === GlobalWindowState.WhichAccount &&
			$stGlobalWindow.selected_column
		) {
			Layout.add($stGlobalWindow.selected_column);
			GlobalWindow.clear();
		}
	}

	let add_column_button_enable: boolean = true;
	let button_enable: boolean;

	function updateButtonState(state: boolean) {
		if (typeof button_enable === 'boolean') {
			add_column_button_enable = state;
		}
	}

	$: updateButtonState(button_enable);
</script>

<Window {title}>
	<div class="column-picker">
		<svelte:component this={component} bind:add_column_button_enable={button_enable} />
		{#if column_type}
			<div class="buttons">
				<div class="btn">
					<Button
						style="small"
						on:clickTimeout={() => {
							column_type = null;
							add_column_button_enable = true;
						}}>Back</Button
					>
				</div>
				<div class="btn">
					<Button
						style="small"
						lock={!add_column_button_enable}
						on:clickTimeout={() => {
							if (add_column_button_enable) newColumn();
						}}>Add column</Button
					>
				</div>
			</div>
		{/if}
	</div>
</Window>

<style lang="scss">
	.column-picker {
		position: relative;
		display: flex;
		flex-direction: column;

		.buttons {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			padding: 0px 10px 10px 10px;
		}
	}
</style>
