<button class="selector-button" on:click>
	<slot />
</button>

<style lang="scss">
	.selector-button {
		position: relative;
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 2.5px;
		background-color: rgb(var(--composer));
		color: #fff;
		padding: 5px 10px;
		border-style: solid;
		border-color: transparent;
		border-radius: 10px;
		overflow-y: auto;
		overflow-x: hidden;
		box-sizing: border-box;
	}
</style>
