<script lang="ts">
	import ThreadContainer from './Thread/Container.svelte';

	import type { IndexedLayoutColumn } from '../../stores/Columns/Layout';

	import type { StandardColumn } from '../../lib/Columns/StandardColumn';

	export let props: IndexedLayoutColumn<StandardColumn<any>, any>;
	export let minimize: boolean = false;

	const options = props.options;
</script>

<div class="wrapper" class:collapse={$options.collapsed}>
	<ThreadContainer bind:props {minimize} />
</div>

<style lang="scss">
	.wrapper {
		width: var(--column-width);
		min-height: 100%;
		position: relative;
		flex-shrink: 0;
		overflow: hidden;
		transition: calc(0.25s * var(--transition-speed));

		&.collapse {
			width: var(--column-header-height);
		}
	}
</style>
