<script lang="ts">
	import { tick } from 'svelte';
	import { get } from 'svelte/store';

	import StatusContainer from '../Status/Container.svelte';
	import Follow from '../Notification/Follow.svelte';
	import Notification from '../Notification/Notification.svelte';
	import ColumnLoading from '../Global/ColumnLoading.svelte';
	import Quote from '../Status/Quote.svelte';
	import TwitterEmbed from '../Status/Embed/TwitterEmbed.svelte';

	import { initColumnWithData, type IndexedLayoutColumn } from '../../stores/Columns/Layout';
	import { rdOptionsAppearanceBorderStatus } from '../../stores/Options';

	import VirtualScroll from '../../lib/svelte-virtual-scroll-list/VirtualScroll.svelte';
	import type { StandardNotificationsColumn } from '../../lib/Columns/StandardNotificationColumn';
	import type { NextContent } from '../../lib/Columns/types/return';

	import type { ParsedNotification } from '../../types/contentParsed';
	import { Entity } from '../../types/mastodonEntities';

	export let props: IndexedLayoutColumn<StandardNotificationsColumn, ParsedNotification>;
	export let virtuallist: VirtualScroll;

	const options = props.options;
	const performance_mode = props.performance_mode;

	let stInitialized = props.instance.initialized;
	let content = props.content;
	$: {
		stInitialized = props.instance.initialized;
		if ($stInitialized) {
			content = props.content;
		}
	}

	let previous: Promise<NextContent> | null = null;
	let immediately_previous: Promise<void> | null = null;
	let nothing_more: boolean = false;

	async function getPrevious() {
		if (previous) {
			return;
		}

		previous = props.instance.previousContent();

		nothing_more = (await previous) === true;

		await tick();
		if (virtuallist) {
			// timeout needs because sometimes when you scroll down `scroll` event fires twice
			setTimeout(() => virtuallist.scrollToOffset(virtuallist.getOffset() - 10));
		}

		previous = null;
	}

	async function getImmediatelPrevious() {
		if (immediately_previous) {
			return;
		}

		immediately_previous = props.instance.immediatelyPreviousContent();
		await immediately_previous;

		await tick();
		if (virtuallist) {
			// timeout needs because sometimes when you scroll down `scroll` event fires twice
			setTimeout(() => virtuallist.scrollToOffset(virtuallist.getOffset()));
		}

		immediately_previous = null;
	}
</script>

<div class="notifications-container">
	{#if $content.length}
		<VirtualScroll
			data={$content}
			let:data
			bottomThreshold={750}
			bind:this={virtuallist}
			on:scroll={() => props.instance.setTop(false)}
			on:top={() => props.instance.setTop(true)}
			on:bottom={() => getPrevious()}
		>
			{#if data.type !== 'TootDeck:btn:previous'}
				<Notification
					account={props.account}
					notification={data}
					border={$rdOptionsAppearanceBorderStatus}
					performance_mode={$performance_mode}
				>
					{#if data.status}
						<StatusContainer
							account={props.account}
							raw_status={data.status}
							column={props.instance}
							notification={data.type !== Entity.NotificationType.Mention}
							border={false}
							performance_mode={$performance_mode}
							on:click
							on:clickQuote
							on:hashtag
						>
							<svelte:fragment slot="quote">
								<!-- performance_mode needs to be static here to prevent mass updates when the mode is disabled -->
								{#if !get(performance_mode)}
									<Quote
										column={props.instance}
										account={props.account}
										status={data.status}
										on:clickQuote
									/>
								{/if}
							</svelte:fragment>
							<svelte:fragment slot="twitter">
								<!-- performance_mode needs to be static here to prevent mass updates when the mode is disabled -->
								{#if !get(performance_mode)}
									<TwitterEmbed
										column={props.instance}
										account={props.account}
										status={data.status}
									/>
								{/if}
							</svelte:fragment>
						</StatusContainer>
					{:else}
						<Follow account={props.account} notification={data} />
					{/if}
				</Notification>
			{:else}
				<button class="find-previous" on:click={() => getImmediatelPrevious()}>. . .</button
				>
			{/if}
			<svelte:fragment slot="footer">
				{#if nothing_more}
					<div class="empty">
						<div>No more notifications.</div>
					</div>
				{:else}
					<button class="find-previous" on:click={() => getPrevious()}>Load more</button>
				{/if}
			</svelte:fragment>
		</VirtualScroll>
	{:else if $stInitialized}
		<div class="empty">
			<div>No recent notifications.</div>
			<div>New notifications will appear here.</div>
			<button
				class="refresh"
				on:click={() =>
					initColumnWithData(props.account, props.identifier, props.instance.params)}
				>Refresh</button
			>
		</div>
	{/if}
</div>
{#if !$options.collapsed && (!$stInitialized || previous)}
	<ColumnLoading />
{/if}

<style lang="scss">
	.notifications-container {
		position: relative;
		width: var(--column-width);
		height: calc(100% - var(--column-header-height));
		display: flex;
		flex-direction: column;
		overflow-anchor: none;

		:global(> div) {
			height: 100% !important;
		}

		.empty {
			height: auto;
		}
	}
</style>
