<script lang="ts">
	import ContentRenderer from '../../ContentRenderer/ContentRenderer.svelte';

	import { getUserDisplayName } from '../../../lib/ComponentFunctions/getUserDisplayName';

	import type { ParsedAccount } from '../../../types/contentParsed';

	export let status_account: ParsedAccount;
	export let show_lock: boolean;
	export let bold: boolean;
	export let bigger_emoji: boolean = false;
</script>

<div class="tn">
	<span class="inner" class:bold>
		<ContentRenderer
			content={getUserDisplayName(status_account)}
			emojis={status_account.emojis}
			{bigger_emoji}
		/>
	</span>
	{#if show_lock && status_account.locked}
		<div class="icon fa fa-lock" />
	{/if}
</div>

<style lang="scss">
	.tn {
		max-width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		max-height: 1.5em;
		gap: 0.5ch;

		.inner {
			flex-shrink: 1;
			max-width: 100%;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			word-break: break-all;
		}

		.icon:before {
			vertical-align: -0.1em;
		}

		.bold {
			font-weight: bold;
		}
	}
</style>
