<script lang="ts">
	import ProfilePicture from './ProfilePicture.svelte';
	import DisplayName from './DisplayName.svelte';
	import Infos from './Infos.svelte';

	import type { TootDeckAccount } from '../../../stores/Account/Accounts';
	import {
		rdOptionsAppearanceExtraRemovePrefixHandle,
		stDebugLeaks,
		rdOptionsAppearanceExtraRemovePrefixHandleItems,
	} from '../../../stores/Options';

	import { UUIDToColor } from '../../../lib/Utils/UUIDToColor';
	import { removeFediPrefixFromHandle } from '../../../lib/Utils/handle/removeFediPrefixFromHandle';

	import type { ParsedStatus } from '../../../types/contentParsed';

	export let account: TootDeckAccount;
	export let status: ParsedStatus;
	export let notification: boolean;
	export let thread_view: boolean;
	export let quote: boolean;
	export let performance_mode: boolean;
	export let edit: boolean;

	let language: string = '';
	$: language = status.language?.toLocaleUpperCase() ?? '';
</script>

<header class:notification>
	<button class="header" on:click|stopPropagation>
		{#if !quote}
			<div class="avatar">
				{#if !notification}
					<ProfilePicture
						{account}
						status_account={status.account}
						width="36px"
						height="36px"
					/>
				{/if}
			</div>
		{/if}
		<div class="user">
			<div class="wrapper">
				<div
					class="left"
					style={$stDebugLeaks
						? `background-color:${UUIDToColor(status.account.tootdeck.uuid)};`
						: undefined}
				>
					{#if !$stDebugLeaks}
						<DisplayName status_account={status.account} show_lock={true} bold={true} />
					{:else}
						{status.account.tootdeck.uuid}
					{/if}
				</div>
				<div class="right hidden">
					<Infos {account} {status} {thread_view} {performance_mode} {edit}></Infos>
				</div>
			</div>
			<div class="username">
				{#if $rdOptionsAppearanceExtraRemovePrefixHandle}
					<span class="visible-when-hover">@{status.account.acct}</span>
					<span class="hidden-when-hover"
						>@{removeFediPrefixFromHandle(
							$rdOptionsAppearanceExtraRemovePrefixHandleItems,
							status.account.acct
						)}</span
					>
				{:else}
					<span>@{status.account.acct}</span>
				{/if}
			</div>
		</div>
	</button>
	<div class="visible">
		<Infos {account} {status} {thread_view} {performance_mode} {edit}></Infos>
	</div>
</header>

<style lang="scss">
	$pp-size: 36px;

	:global(.theme-light) {
		header {
			button {
				&:hover {
					.avatar {
						filter: brightness(1.1);
					}
				}
			}
		}
	}

	header {
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 7.5px;
		color: rgb(var(--text));
		// width: 100%;

		&.notification {
			padding-left: $pp-size;
		}

		button {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 7.5px;
			overflow: hidden;

			.visible-when-hover {
				display: none;
			}

			&:hover {
				.avatar {
					filter: brightness(0.7);
				}

				.user {
					opacity: 0.7;
				}

				.username {
					.hidden-when-hover {
						display: none;
					}

					.visible-when-hover {
						display: inline-block;
					}
				}
			}

			.user {
				display: flex;
				flex-direction: column;
				overflow: hidden;

				.wrapper {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: center;
					gap: 7.5px;
					max-height: 1.5em;

					.left {
						overflow: hidden;
					}

					.right {
						flex-shrink: 0;
					}
				}

				.username {
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					opacity: 0.7;
				}
			}
		}

		.hidden {
			opacity: 0;
			pointer-events: none;
		}

		.visible {
			position: absolute;
			right: 0;
			top: 1px;
			opacity: 0.7;
		}
	}
</style>
