<script lang="ts">
	import Time from './Time.svelte';

	import type { TootDeckAccount } from '../../../stores/Account/Accounts';
	import {
		rdOptionsAppearanceStatusMetadataLanguage,
		rdOptionsAppearanceStatusMetadataVisibilty,
	} from '../../../stores/Options';

	import type { ParsedStatus } from '../../../types/contentParsed';
	import { Entity } from '../../../types/mastodonEntities';

	export let account: TootDeckAccount;
	export let status: ParsedStatus;
	export let thread_view: boolean;
	export let performance_mode: boolean;
	export let edit: boolean;

	let language: string = '';
	$: language = status.language?.toLocaleUpperCase() ?? '';
</script>

<div class="infos">
	{#if !thread_view}
		<Time {account} {status} {performance_mode} {edit} />
	{/if}
	{#if $rdOptionsAppearanceStatusMetadataLanguage && language}
		<div class="language">{language}</div>
	{/if}
	{#if $rdOptionsAppearanceStatusMetadataVisibilty && !thread_view}
		{#if status.tootdeck.is_twitter_embed}
			<div class="icon fa fa-twitter" title="Twitter" />
		{:else if status.visibility === Entity.Visibility.Public}
			<div class="icon fa fa-globe" title={Entity.Visibility.Public} />
		{:else if status.visibility === Entity.Visibility.Unlisted}
			<div class="icon fa fa-unlock" title={Entity.Visibility.Unlisted} />
		{:else if status.visibility === Entity.Visibility.Private}
			<div class="icon fa fa-lock" title={Entity.Visibility.Private} />
		{:else if status.visibility === Entity.Visibility.Direct}
			<div class="icon direct fa fa-at" title={Entity.Visibility.Direct} />
		{/if}
	{/if}
</div>

<style lang="scss">
	.infos {
		flex-shrink: 0;
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 0.5ch;

		.language {
			font-weight: bold;
		}

		.icon {
			margin-top: 1px;
		}

		.direct {
			color: rgb(var(--accent));
		}
	}
</style>
