<script lang="ts">
	import Img from '../../Global/Img.svelte';

	import type { TootDeckAccount } from '../../../stores/Account/Accounts';
	import {
		rdOptionsAppearanceAnimationAnimateGifAvatar,
		rdOptionsAppearanceExtraMutualIndicator,
	} from '../../../stores/Options';

	import { isMutual } from '../../../lib/Utils/isMutual';

	import type { ParsedAccount } from '../../../types/contentParsed';

	export let account: TootDeckAccount;
	export let status_account: ParsedAccount;
	export let width: string;
	export let height: string;
	export let mutual_size: string = 'inherit';

	let mutual: boolean;
	$: mutual = isMutual(account, status_account);
</script>

<div class="pp" style:width style:height style:font-size={mutual_size}>
	<Img
		src={$rdOptionsAppearanceAnimationAnimateGifAvatar
			? status_account.avatar
			: status_account.avatar_static}
		alt={status_account.username + ' profile picture'}
		{width}
		{height}
	/>
	{#if $rdOptionsAppearanceExtraMutualIndicator && mutual}
		<div class="mutual">
			<div class="heart-icon">
				<span class="path1"></span>
				<span class="path2"></span>
			</div>
		</div>
	{/if}
</div>

<style lang="scss">
	.pp {
		position: relative;

		:global(img) {
			border-radius: 100%;
		}

		.mutual {
			position: absolute;
			bottom: 0;
			right: 0.01em;
			width: 1em;
			height: 1em;
			font-size: 1em;
		}
	}
</style>
