<script lang="ts">
	import Container from '../Window.svelte';
	import HorizontalBarSpinner from '../../Spinner/HorizontalBarSpinner.svelte';
	import Account from './Account.svelte';
	import ColumnLoading from '../../Global/ColumnLoading.svelte';

	import type { TootDeckAccount } from '../../../stores/Account/Accounts';

	import VirtualScroll from '../../../lib/svelte-virtual-scroll-list/VirtualScroll.svelte';
	import { parseRemoteAccounts } from '../../../lib/ComponentFunctions/remote/parseRemoteAccounts';

	import type { ParsedAccount } from '../../../types/contentParsed';
	import type { Entity } from '../../../types/mastodonEntities';

	export let account: TootDeckAccount;
	export let show_hint: boolean;
	export let remote_fetched: boolean;
	export let title: string;
	export let getter: () => Promise<Array<Entity.Account> | null>;

	let waiting: boolean = false;
	let accounts: Array<ParsedAccount> = [];

	async function getNext() {
		if (waiting) {
			return;
		}

		waiting = true;

		return getter()
			.then((r) => (r ? parseRemoteAccounts(account, r) : null))
			.then((r) => {
				if (!r) {
					return;
				}

				accounts.push(...r);
				accounts = accounts;
			})
			.then(() => (waiting = false));
	}
</script>

<Container {title}>
	<div class="flex-column">
		{#await getNext()}
			<div class="loading">
				<HorizontalBarSpinner></HorizontalBarSpinner>
			</div>
		{:then _}
			<div class="accounts-list-container">
				{#if show_hint}
					<div class="hint">
						<slot name="hint"></slot>
					</div>
				{/if}
				{#if accounts?.length}
					<VirtualScroll
						data={accounts}
						let:data
						bottomThreshold={300}
						on:bottom={() => getNext()}
					>
						<Account {account} status_account={data} remote={remote_fetched}></Account>
					</VirtualScroll>
				{:else}
					<div class="nothing">
						<slot name="nothing"></slot>
					</div>
				{/if}
				{#if waiting}
					<ColumnLoading></ColumnLoading>
				{/if}
			</div>
		{/await}
	</div>
</Container>

<style lang="scss">
	.flex-column {
		display: flex;
		flex-direction: column;

		.loading {
			width: var(--column-width);
		}

		.hint,
		.loading {
			padding: 10px 20px;
			font-size: calc(var(--font-size) - 1px);
			text-align: center;
			opacity: 0.7;
		}

		.accounts-list-container {
			max-width: calc(var(--column-width) * 1.5);
			max-height: 80vh;
			display: flex;
			flex-direction: column;
			overflow-x: hidden;
			overflow-y: auto;
			background-color: rgb(var(--column));
			color: rgb(var(--text));
			border-radius: 0px 0px 10px 10px;

			.nothing {
				padding: 10px 20px;
				text-align: center;
			}
		}
	}
</style>
