<script lang="ts">
	import Button from '../../../Global/Button/Button.svelte';
	import InputText from '../../../Global/Inputs/InputText.svelte';
	import ItemsContainer from './ItemsContainer.svelte';

	import { transitionSlide } from '../../../../lib/Transitions/transitionOverride';

	export let placeholder: string;
	export let items: Array<string>;

	let value: string = '';

	function addItem() {
		items.push(value);

		items = items;

		value = '';
	}

	function enter(e: KeyboardEvent) {
		if (e.code === 'Enter') {
			addItem();
		}
	}
</script>

<div class="input-to-array" transition:transitionSlide={{ duration: 300 }}>
	<div class="input">
		<InputText {placeholder} bind:value on:keydown={enter}></InputText>
		<div>
			<Button style="small" on:clickTimeout={() => addItem()}>Add</Button>
		</div>
	</div>
	<ItemsContainer bind:items deletable={true}></ItemsContainer>
</div>

<style lang="scss">
	.input-to-array {
		max-width: 600px;
		display: flex;
		flex-direction: column;
		gap: 1ch;
		margin: 5px 10px;

		.input {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 1ch;

			:global(.text) {
				flex-grow: 1;
			}
		}
	}
</style>
