<script lang="ts">
	export let item: string;
	export let deletable: boolean;
</script>

<div class="item">
	{item}
	{#if deletable}
		<button class="remove fa fa-times" on:click />
	{/if}
</div>

<style lang="scss">
	.item {
		min-width: 35px;
		min-height: 35px;
		display: flex;
		flex-direction: row;
		align-items: center;
		background-color: rgb(var(--background));
		border: 1px solid rgb(var(--accent));
		border-radius: 15px;
		padding: 0px 10px;
		cursor: default;

		.remove {
			display: grid;
			justify-content: center;
			align-content: center;
			margin-left: 5px;
			height: 35px;
			font-size: 22.5px;
			flex-shrink: 0;

			&:hover {
				color: rgb(var(--accent));
			}
		}
	}
</style>
