<script lang="ts">
	export let text: string;
	export let small: boolean;
	export let checked: boolean;
	export let disabled: boolean = false;

	const id = window.crypto.randomUUID();
</script>

{#if !disabled}
	<input type="checkbox" {id} {checked} on:click />
{/if}
<label for={id} class="checkbox" class:small class:checked class:disabled>{text}</label>

<style lang="scss">
	input[type='checkbox'] {
		display: none;
	}

	label {
		cursor: pointer;
		user-select: none;

		&:hover {
			filter: brightness(1.4);
		}

		&:not(.small) {
			border-radius: 10px;
			border: 1px solid rgb(var(--accent));
			padding: 5px 7.5px;
			transition: calc(0.1s * var(--transition-speed));

			&.checked {
				background-color: rgb(var(--accent));
			}
		}

		&.small {
			position: relative;
			padding: 5px;

			&::after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				border-bottom: 2px solid rgb(var(--text), 0.2);
			}

			&:hover::after {
				border-bottom: 2px solid rgb(var(--text));
			}

			&.checked {
				color: rgb(var(--accent));

				&::after {
					border-bottom: 2px solid rgb(var(--accent));
				}
			}
		}

		&.disabled {
			filter: grayscale(1);
			cursor: default;
		}
	}
</style>
