<script lang="ts">
	import Checkbox from './Checkbox.svelte';

	export let choices: { [key: string]: boolean };
	export let removed_choices: { [key: string]: boolean } = {};
	export let multiple: boolean;
	export let small: boolean;

	let entries: Array<[string, boolean]>;
	$: entries = Object.entries(choices);
</script>

<div class="multi-checkbox">
	{#each entries as [value, checked] (value)}
		<Checkbox
			text={value}
			{small}
			{checked}
			disabled={removed_choices[value]}
			on:click={() => {
				if (multiple) {
					choices[value] = !checked;
				} else {
					entries.forEach(([k]) => (choices[k] = false));
					choices[value] = !checked;
				}
			}}
		></Checkbox>
	{/each}
</div>

<style lang="scss">
	.multi-checkbox {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 1ch;
		overflow: hidden;
		word-break: break-word;
	}
</style>
