<script lang="ts">
	import Img from '../../Global/Img.svelte';
	import DisplayName from '../../Status/Header/DisplayName.svelte';
	import IntersectionObserver from '../../Global/IntersectionObserver.svelte';

	import { stRefreshAccount } from '../../../stores/Account/Accounts';
	import { rdOptionsAppearanceAnimationAnimateGifAvatar } from '../../../stores/Options';

	import type { ParsedAccount } from '../../../types/contentParsed';

	export let account: ParsedAccount;
</script>

<IntersectionObserver>
	<div class="account-container">
		<button class="account" on:click>
			<div
				class="banner"
				style="background-color:{account.header.includes('missing.png')
					? '#000'
					: 'transparent'};"
			>
				<Img
					src={account.header}
					alt={`${account.username} header picture`}
					width="100px"
				/>
			</div>
			<div class="left">
				<div class="pp">
					<Img
						src={$stRefreshAccount && $rdOptionsAppearanceAnimationAnimateGifAvatar
							? account.avatar
							: account.avatar_static}
						alt="{account.username} profile picture"
						width="45px"
						height="45px"
					/>
				</div>
				<div class="user">
					{#if $stRefreshAccount}
						<DisplayName status_account={account} show_lock={true} bold={true} />
					{/if}
					<div class="username">
						@{account.acct}
					</div>
				</div>
			</div>
		</button>
	</div>
</IntersectionObserver>

<style lang="scss">
	.account-container {
		height: 55px;
		display: flex;
		flex-direction: column;
		user-select: none;

		&:hover .header .banner {
			opacity: 0.7;
		}

		.account {
			position: relative;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			background-repeat: no-repeat;
			background-position: center;
			color: var(--text);
			transition: calc(0.2s * var(--transition-speed));

			.banner,
			& {
				border-radius: 5px;
			}

			.banner {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				overflow: hidden;
				filter: brightness(0.7);
				transition: calc(0.2s * var(--transition-speed));

				:global(img) {
					width: 100%;
				}
			}

			.left {
				width: 100%;
				height: 100%;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: flex-start;
				gap: 10px;
				padding: 5px 10px 5px 5px;
				backdrop-filter: blur(10px);

				.pp {
					width: 45px;
					height: 45px;

					:global(img) {
						border-radius: 100%;
					}
				}

				.user {
					max-width: 100%;
					text-shadow: 1px 1px 0px black;
					overflow: hidden;

					.username {
						overflow: hidden;
						text-overflow: ellipsis;
						opacity: 0.9;
					}
				}
			}
		}
	}
</style>
