<script lang="ts">
	import InputRadio from '../../Global/Inputs/InputRadio.svelte';

	import { rdOptionsBehaviorSearchToggleAdvancedView } from '../../../stores/Options';

	import type { Search } from '../../../types/search';

	export let search: Search;
	const { props } = search;
	const { view } = props;

	$: {
		$view = {
			simple: $rdOptionsBehaviorSearchToggleAdvancedView === false,
			advanced: $rdOptionsBehaviorSearchToggleAdvancedView === true,
		};
	}
</script>

<div class="advanced-view-container">
	<InputRadio bind:entries={$view} capitalize={true}></InputRadio>
</div>

<style lang="scss">
	.advanced-view-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
</style>
