<script lang="ts">
	import { transitionSlide } from '../../../lib/Transitions/transitionOverride';

	import type { Search } from '../../../types/search';

	export let search: Search;
	const { account, toggle, show, props, values, output } = search;
	const { type, has, is, language, from, before, me, during, after, in: _in, query } = values;
	const { searched, search_result } = props;
	const { language_selector: show_language_selector, tag_selector: show_tag_selector } = show;

	function getEnabledValue(value: { [k: string]: boolean }) {
		return Object.entries(value)
			.map(([k, v]) => (v ? k : ''))
			.join('');
	}
</script>

<div transition:transitionSlide={{ duration: 200 }}>
	account = {$account.mirrorAPI.handle_string}<br />
	<br />
	props<br />
	<span class="tab"></span>
	searched = <span class:true={$searched}>{$searched}</span><br />
	<span class="tab"></span>
	search_result<br />
	<span class="tab"></span>
	<span class="tab"></span>
	accounts = {$search_result.accounts.length}<br />
	<span class="tab"></span>
	<span class="tab"></span>
	hashtags = {$search_result.hashtags.length}<br />
	<span class="tab"></span>
	<span class="tab"></span>
	statuses = {$search_result.statuses.length}<br />
	<br />
	toggle<br />
	<span class="tab"></span>
	type = <span class:true={$toggle.type}>{$toggle.type}</span><br />
	<span class="tab"></span>
	has = <span class:true={$toggle.has}>{$toggle.has}</span><br />
	<span class="tab"></span>
	is = <span class:true={$toggle.is}>{$toggle.is}</span><br />
	<span class="tab"></span>
	language = <span class:true={$toggle.language}>{$toggle.language}</span><br />
	<span class="tab"></span>
	from = <span class:true={$toggle.from}>{$toggle.from}</span><br />
	<span class="tab"></span>
	before = <span class:true={$toggle.before}>{$toggle.before}</span><br />
	<span class="tab"></span>
	during = <span class:true={$toggle.during}>{$toggle.during}</span><br />
	<span class="tab"></span>
	after = <span class:true={$toggle.after}>{$toggle.after}</span><br />
	<span class="tab"></span>
	in = <span class:true={$toggle.in}>{$toggle.in}</span><br />
	<br />
	values<br />
	<span class="tab"></span>
	has = {getEnabledValue($has)}<br />
	<span class="tab"></span>
	is = {getEnabledValue($is)}<br />
	<span class="tab"></span>
	language = {$language}<br />
	<span class="tab"></span>
	from<br />
	<span class="tab"></span>
	<span class="tab"></span>
	acct = {$from.acct}<br />
	<span class="tab"></span>
	<span class="tab"></span>
	id = {$from.id}<br />
	<span class="tab"></span>
	me = <span class:true={$me}>{$me}</span><br />
	<span class="tab"></span>
	before = <span class:null={$before === null}>{$before}</span><br />
	<span class="tab"></span>
	during = <span class:null={$during === null}>{$during}</span><br />
	<span class="tab"></span>
	after = <span class:null={$after === null}>{$after}</span><br />
	<span class="tab"></span>
	in = {getEnabledValue($_in)}<br />
	<br />
	show<br />
	<span class="tab"></span>
	language selector =
	<span class:true={$show_language_selector}>{$show_language_selector}</span><br />
	<span class="tab"></span>
	tag selector = <span class:true={$show_tag_selector}>{$show_tag_selector}</span><br />
	<br />
	additional<br />
	<span class="tab"></span>
	account_id = {$from.id}<br />
	<span class="tab"></span>
	type = {$toggle.type ? getEnabledValue($type) : ''}<br />
	<span class="tab"></span>
	resolve = <span class:true={$output.includes('http')}>{$output.includes('http')}</span><br />
	<br />
	query = {$query}<br />
	output = {$output}<br />
</div>

<style lang="scss">
	span {
		color: rgb(var(--red));

		&.true {
			color: rgb(var(--reblog-color));
		}

		&.null {
			color: rgb(166, 97, 194);
		}

		&.tab {
			padding-left: 2em;
		}
	}
</style>
