<script lang="ts">
	import { createEventDispatcher } from 'svelte';

	import { ANCHOR_ARGS } from '../../../lib/Constants/Anchor';

	import type { Entity } from '../../../types/mastodonEntities';

	const eventDispatcher = createEventDispatcher();

	export let hashtag: Entity.Tag;

	function onClick(e: MouseEvent) {
		e.preventDefault();

		eventDispatcher('hashtag', { hashtag: hashtag.name });
	}
</script>

<div class="hashtag">
	<a href={hashtag.url} {...ANCHOR_ARGS} on:click={onClick}>#{hashtag.name}</a>
	{#if hashtag.history}
		<p>
			{hashtag.history.map((h) => Number.parseInt(h.uses)).reduce((a, b) => a + b)} posts in the
			past days
		</p>
	{/if}
</div>

<style lang="scss">
	.hashtag {
		padding: 10px;
		display: flex;
		flex-direction: column;
		gap: 0.5ch;

		&:not(:last-child) {
			border-bottom: 2px solid rgb(var(--lighter));
		}
	}
</style>
