<script lang="ts">
	import { createEventDispatcher } from 'svelte';

	import { stSearchHistoryUpdate } from '../../../stores/Search';
	import { rdOptionsBehaviorSearchQuerySearchInHistory } from '../../../stores/Options';

	import { getEnabledValue } from '../../../lib/ComponentFunctions/searchInit';

	import type { Search, SearchHistory } from '../../../types/search';

	const eventDispatcher = createEventDispatcher();

	export let search: Search;
	const { account, values } = search;
	const { query } = values;

	let raw_history: Array<[string, SearchHistory]>;
	let filtered_history: Array<[string, SearchHistory]>;
	$: {
		$stSearchHistoryUpdate;
		raw_history = Array.from($account.searchHistory.getAll());
	}

	$: filtered_history = $rdOptionsBehaviorSearchQuerySearchInHistory
		? raw_history.filter(
				([key, h]) => !$query || h.values.query.toLowerCase().includes($query.toLowerCase())
			)
		: raw_history;

	function format(h: SearchHistory) {
		const { toggle, values } = h;
		const { after, before, during, from, has, in: _in, is, language, me, query, type } = values;

		let value = '';

		if (query) {
			value = `${query}<br>`;
		}

		const type_value = getEnabledValue(type);
		if (type_value) {
			value += `<span>type:</span>${type_value}  `;
		}

		const has_value = getEnabledValue(has);
		if (toggle.has && has_value) {
			value += `<span>has:</span>${has_value}  `;
		}

		const is_value = getEnabledValue(is);
		if (toggle.is && is_value) {
			value += `<span>is:</span>${is_value}  `;
		}

		if (toggle.language) {
			value += `<span>language:</span>${language}  `;
		}

		if (toggle.from) {
			if (me) {
				value += `<span>from:</span>me  `;
			} else if (from.acct) {
				value += `<span>from:</span>${from.acct}  `;
			}
		}

		if (toggle.before && before) {
			value += `<span>before:</span>${before}  `;
		}

		if (toggle.during && during) {
			value += `<span>during:</span>${during}  `;
		}

		if (toggle.after && after) {
			value += `<span>after:</span>${after}  `;
		}

		const in_value = getEnabledValue(_in);
		if (toggle.in && in_value) {
			value += `<span>in:</span>${in_value}  `;
		}

		return value.trim();
	}

	let show: boolean = false;
</script>

<div class="recent-search">
	<button class="title" on:click={() => (show = !show)}>
		<p class="caps-lock">Recent search</p>
		<div class="icon fa fa-chevron-left" class:rotate={show}></div>
	</button>
	<div class="history-container" class:show>
		{#if filtered_history.length}
			{#each filtered_history as [key, h] (key)}
				<button class="history" on:click={() => eventDispatcher('history', h)}>
					<p>{@html format(h)}</p>
					<button on:click|stopPropagation={() => $account.searchHistory.delete(key)}>
						<div class="fa fa-times"></div>
					</button>
				</button>
			{/each}
		{:else}
			<div class="history disabled">No recent searches</div>
		{/if}
	</div>
</div>

<style lang="scss">
	.recent-search {
		display: flex;
		flex-direction: column;
		border: 1px solid rgb(var(--lighter));
		border-radius: 10px;
		background-color: rgb(var(--background));
		overflow-x: hidden;

		.title {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			padding: 10px 15px;

			.icon {
				transition: calc(0.1s * var(--transition-speed));

				&.rotate {
					transform: rotate(-90deg);
				}
			}
		}

		.history-container {
			display: flex;
			flex-direction: column;
			max-height: 0px;
			overflow-x: hidden;
			overflow-y: auto;
			transition: calc(0.1s * var(--transition-speed));

			&.show {
				max-height: calc(6 * 2.1em);
			}

			.history {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;
				padding: 0.5em 15px;

				&:hover:not(.disabled) {
					background-color: rgb(var(--lighter));
				}

				&.disabled {
					cursor: default;
				}

				p {
					white-space: pre-wrap;
					overflow: hidden;
					text-overflow: ellipsis;
					margin-right: 0.5ch;

					:global(span) {
						opacity: 0.5;
					}
				}
			}
		}
	}
</style>
