<script lang="ts">
	import ColumnLoading from '../../Global/ColumnLoading.svelte';

	export let value: 'accounts' | 'hashtags' | 'statuses';
	export let waiting: { accounts: boolean; hashtags: boolean; statuses: boolean };
	export let nothing_more: { accounts: boolean; hashtags: boolean; statuses: boolean };
</script>

{#if waiting[value]}
	<ColumnLoading></ColumnLoading>
{:else if nothing_more[value]}
	<div class="empty">
		<div>No more {value}.</div>
	</div>
{:else}
	<button class="find-previous" on:click>Load more</button>
{/if}
