<!-- from https://cssloaders.github.io/ -->
<div class="profile-spinner" />

<style lang="scss">
	@keyframes profile-spinner-rotation {
		0% {
			transform: rotate(0deg) scale(0.75);
		}
		100% {
			transform: rotate(360deg) scale(0.75);
		}
	}

	.profile-spinner {
		width: 48px;
		height: 48px;
		border: 3px solid rgb(var(--icons));
		border-radius: 50%;
		display: inline-block;
		position: relative;
		box-sizing: border-box;
		animation: profile-spinner-rotation 1s linear infinite;

		&::after {
			content: '';
			box-sizing: border-box;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%) scale(1.25);
			width: 48px;
			height: 48px;
			border-radius: 50%;
			border: 3px solid transparent;
			border-bottom-color: rgb(var(--accent));
		}
	}
</style>
