<script lang="ts">
	import { ExpandedPanel, stExpandedPanel } from '../../stores/ExpandedPanel';
</script>

{#if $stExpandedPanel.length > 1}
	<button class="previous" on:click={() => ExpandedPanel.previous()}>
		<div class="icon fa fa-chevron-left"></div>
	</button>
{/if}

<style lang="scss">
	.previous {
		line-height: 5px;
		display: grid;
		justify-content: center;
		align-content: center;
		width: 35px;
		height: 35px;
		font-size: 17px;
		flex-shrink: 0;
		padding-top: 3px;
		transform: translateX(5px);

		&:hover > .icon {
			transform: translateX(-5px);
		}

		.icon {
			transition: calc(0.2s * var(--transition-speed));
		}
	}
</style>
