<script lang="ts">
	import { onDestroy } from 'svelte';
	import Button from './Button.svelte';

	export let text: string;
	export let css_class: string = '';
	export let style: string = 'default';
	export let cancelable: boolean;
	export let cancel_text: string = 'Cancel';
	export let flex_direction: 'column' | 'column-reverse' | 'row' | 'row-reverse';
	export let lock: boolean = false;

	let clicked: boolean = false;
	let block_click: boolean = false;
	let time: NodeJS.Timeout;

	onDestroy(() => clearTimeout(time));
</script>

<div class="two-step-btn">
	{#if !clicked}
		<Button
			{css_class}
			{style}
			{lock}
			color={text === 'Log Out' ? 'rgb(var(--red))' : undefined}
			on:clickTimeout={() => {
				clicked = true;
				block_click = true;
				time = setTimeout(() => {
					block_click = false;
				}, 350);
			}}>{text}</Button
		>
	{:else}
		<div class="inner" style="flex-direction:{flex_direction};" class:block-click={block_click}>
			{#if cancelable}
				<Button
					{css_class}
					{style}
					on:clickTimeout={() => {
						clicked = false;
					}}>{cancel_text}</Button
				>
			{/if}
			<slot />
		</div>
	{/if}
</div>

<style lang="scss">
	.two-step-btn {
		overflow: hidden;

		.inner {
			display: flex;
			gap: 10px;

			&.block-click {
				pointer-events: none;
			}
		}
	}
</style>
