<script lang="ts">
	import StandardContent from './StandardContent.svelte';

	import type { ParsedAction } from '../../../lib/ContentParser/anchorsParser';
	import type { ParsedNode } from '../../../lib/ContentParser/flattenHTML';

	export let element: ParsedNode;
	export let bigger_emoji: boolean;
	export let onClick: (e: MouseEvent, action?: ParsedAction) => boolean;
</script>

{#if element.blockquote}
	<svelte:element this={element.tag}>
		<div class="blockquote">
			{#each element.blockquote as { id, nodes } (id)}
				{#each nodes as blockquote (blockquote.id)}
					<StandardContent element={blockquote} {bigger_emoji} {onClick}
					></StandardContent>
				{/each}
			{/each}
		</div>
	</svelte:element>
{/if}
