<script lang="ts">
	import ContentRenderer from '../../ContentRenderer/ContentRenderer.svelte';

	import { convertNativeEmoji } from '../../../lib/ContentParser/flattenHTML';

	export let emoji: string;

	const content = convertNativeEmoji(emoji);
</script>

<ContentRenderer {content}></ContentRenderer>
