<script lang="ts">
	import { onMount } from 'svelte';

	import { getIconFromCategory } from '../lib/componentFunctions/getIconFromCategory';

	import { NavIcons, SearchIcons } from '../assets/Icons';
	import { getDefaultCategories } from '../config/defaultCategories';

	import type { EmojiIndexed } from '../types/emoji.types';
	import type { Dictionary, IconStyle, PickerProps } from '../types/picker.types';

	export let Props: PickerProps;

	/** Receive current scrolled category from EmojisGrid.svelte */
	export let scrolled_catergory: string = 'frequent';
	/** Dispatch clicked catergory to EmojisGrid.svelte */
	export let scroll_to_category: string = 'frequent';

	export let found_emojis: Array<EmojiIndexed> | null;

	/**
	 * UI/UX
	 */
	// #region

	let bottom_border: HTMLDivElement;

	function moveBottomBorder(id: string) {
		bottom_border.style.left = categories_offsets[id].left + 'px';
		bottom_border.style.width = categories_offsets[id].width + 'px';
	}

	function moveToCategory(e: MouseEvent) {
		const target = e.currentTarget as HTMLElement;
		const id = target.dataset.id!;

		if (found_emojis) {
			found_emojis = null;
		}

		moveBottomBorder(id);
		scrolled_catergory = id;
		scroll_to_category = id;
	}

	let nav_element: HTMLElement;
	let categories_offsets: Dictionary<{ left: number; width: number }> = {};

	function getCategoriesOffset() {
		const buttons = (Array.from(nav_element.childNodes) as Array<HTMLElement>).filter(
			(button) => button.dataset?.id
		);

		for (const category of getDefaultCategories()) {
			const element = buttons.find((button) => button.dataset.id === category);
			if (!element) {
				continue;
			}

			const { width } = getComputedStyle(element);

			categories_offsets[category] = {
				left: element.offsetLeft - 1,
				width: parseFloat(width),
			};
		}
	}

	onMount(() => {
		getCategoriesOffset();
		moveBottomBorder('frequent');
	});

	$: if (bottom_border) {
		moveBottomBorder(scrolled_catergory);
	}

	let icon_style: IconStyle;
	$: icon_style = Props.theme === 'dark' ? 'solid' : 'outline';

	// #endregion
</script>

<nav bind:this={nav_element}>
	{#if found_emojis}
		<button class="selected" title="Search">
			{@html getIconFromCategory(SearchIcons, icon_style, 'loupe')}
		</button>
	{:else}
		<button
			class:selected={scrolled_catergory === 'frequent'}
			title={Props.topRow === 'frequently'
				? Props.i18n.categories['frequent']
				: Props.i18n.categories['recent']}
			data-id={'frequent'}
			on:click|stopPropagation={(e) => moveToCategory(e)}
		>
			{@html getIconFromCategory(NavIcons, icon_style, 'frequent')}
		</button>
	{/if}
	{#if Props.dataset.customCategories.length}
		<button
			class:selected={scrolled_catergory === 'custom'}
			title={Props.i18n.categories['custom']}
			data-id={'custom'}
			on:click|stopPropagation={(e) => moveToCategory(e)}
		>
			{@html getIconFromCategory(NavIcons, icon_style, 'custom')}
		</button>
	{/if}
	{#each Props.dataset.categories as category (category.id)}
		<button
			class:selected={scrolled_catergory === category.id}
			title={Props.i18n.categories[category.id]}
			data-id={category.id}
			on:click|stopPropagation={(e) => moveToCategory(e)}
		>
			{@html getIconFromCategory(NavIcons, icon_style, category.id)}
		</button>
	{/each}
	<div class="bottom" bind:this={bottom_border}></div>
</nav>

<style lang="scss">
	nav {
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		width: 100%;
		height: 42px;
		padding: 12px;
		box-sizing: border-box;

		&::before {
			content: '';
			position: absolute;
			bottom: -2px;
			left: 0;
			height: 2px;
			width: 100%;
			background: linear-gradient(to bottom, #ffffff1a, transparent);
		}

		button {
			all: unset;
			display: flex;
			flex-grow: 1;
			width: 18px;
			height: 18px;
			cursor: pointer;
			color: rgba(var(--text-color), 0.65);
			transition: color 225ms cubic-bezier(0.4, 0, 0.2, 1);
			box-sizing: border-box;

			&:hover {
				color: rgb(var(--text-color));
			}

			&.selected {
				color: rgb(var(--accent));
			}

			:global(svg) {
				fill: currentColor;
				width: 100%;
				height: 100%;
			}
		}

		.bottom {
			z-index: 200;
			position: absolute;
			left: 10px;
			bottom: 0;
			width: 11%;
			height: 3px;
			border-radius: 3px 3px 0 0;
			background-color: rgb(var(--accent));
			transition: 225ms cubic-bezier(0.4, 0, 0.2, 1);
			box-sizing: border-box;
		}
	}
</style>
