<script lang="ts">
	import EmojisGrid from './EmojisGrid/EmojisGrid.svelte';
	import Navigation from './Navigation.svelte';
	import Preview from './Preview/Preview.svelte';
	import Search from './Search.svelte';

	import type { EmojiIndexed } from '../types/emoji.types';
	import type { PickerProps } from '../types/picker.types';

	export let Props: PickerProps;

	const { update } = Props;

	let last_update: number = 0;

	$: {
		$update;
		reloadPicker();
	}

	function reloadPicker() {
		if (last_update !== $update) {
			Props = Props.instance.getProps();
			last_update = $update;
		}
	}

	let scrolled_catergory: string;
	let scroll_to_category: string;
	let hovered_emoji: EmojiIndexed;
	let found_emojis: Array<EmojiIndexed> | null;
</script>

{#if Props.dataset}
	<Navigation {Props} {scrolled_catergory} bind:scroll_to_category bind:found_emojis></Navigation>
	<Search {Props} bind:found_emojis></Search>
	<EmojisGrid
		{Props}
		bind:scrolled_catergory
		{scroll_to_category}
		bind:hovered_emoji
		{found_emojis}
	></EmojisGrid>
	<Preview {Props} emoji={hovered_emoji}></Preview>
{/if}
