<script lang="ts">
	import { onDestroy } from 'svelte';

	import Nav from '../components/Dashboard/Nav.svelte';
	import Summary from '../components/Dashboard/Summary.svelte';
	import Workers from '../components/Dashboard/Workers.svelte';
	import Footer from '../components/Dashboard/Footer.svelte';
	import Charts from '../components/Dashboard/Charts/Container.svelte';
	import Users from '../components/Dashboard/Users/Container.svelte';
	import Redis from '../components/Dashboard/Redis/Container.svelte';

	import { stAdmin } from '../stores/Account/Auth';
	import { rdOptionsAppearanceAccentColor } from '../stores/Options';

	import { TootDeckAPI } from '../lib/APIs/TootDeckAPI/TootDeckAPI';
	import { DashboardWebsocket } from '../lib/Websocket/DashboardWebsocket';

	import { Dashboard } from '../types/dashboard';

	export let ready: boolean = false;

	/**
	 * Websocket
	 */
	// #region

	const ws = new DashboardWebsocket();

	ws.addListener('reconnect', () => {
		fetchData();
		fetchUsersStats();
	});

	ws.addListener('error', (e) => {
		console.log(e);
	});

	ws.addListener('data', (data) => mergeData(data));

	if ($stAdmin) {
		ws.addListener('user', (user) => mergeUsers(user));
		ws.addListener('status', (status) => mergeUsers(status));
	}

	// #endregion

	/**
	 * Users
	 */
	// #region

	let users: Dashboard.Stats.Users = {
		sockets: {
			dashboard: 0,
			frontend: 0,
			instances: 0,
			total: 0,
		},
		users: [],
	};

	async function mergeUsers(data: {
		sockets: Dashboard.Stats.Socket;
		account: Dashboard.Stats.Account;
	}) {
		const { sockets, account } = data;

		users.sockets = sockets;

		for (const user of users.users) {
			if (user.main.handle === account.handle) {
				if (account?.jobs_count !== undefined) {
					user.main.jobs_count = account.jobs_count;
				}

				if (account?.status !== undefined) {
					user.main.status = account.status;
				}

				break;
			}

			for (const secondary of user.secondary) {
				if (secondary.handle === account.handle) {
					if (account?.jobs_count !== undefined) {
						secondary.jobs_count = account.jobs_count;
					}

					break;
				}
			}
		}

		users = users;
	}

	async function fetchUsersStats() {
		if (!$stAdmin) {
			return;
		}

		const stats = await TootDeckAPI.Dashboard.usersStats();
		if (!stats) {
			return;
		}

		users = stats;
	}

	fetchUsersStats();

	// #endregion

	/**
	 * Data
	 */
	// #region

	const default_value: Dashboard.Data = {
		jobs: {
			processed: 0,
			failed: 0,
		},
		requests_made: 0,
		queue_size: 0,
		max_concurrency: 0,
		workers: [],
	};

	let data: Dashboard.Data = default_value;

	function mergeData(new_data: Dashboard.WebsocketData) {
		if (!new_data) {
			return;
		}

		const { worker, ...global } = new_data;

		data = {
			...global,
			workers: data.workers.map((w) => {
				if (w.uuid === worker.uuid) {
					return worker;
				}

				return w;
			}),
		};
	}

	export async function fetchData() {
		const response = await TootDeckAPI.Dashboard.data();
		if (response) {
			data = response;
		}

		if (!ready) {
			ready = true;
		}
	}

	fetchData();

	// #endregion

	/**
	 * Polling
	 */
	// #region

	let poll: boolean = false;

	$: {
		poll;
		togglePolling();
	}

	function togglePolling() {
		if (poll) {
			ws.start();
			startDateInterval();
		} else {
			ws.stop();
			stopDateInterval();
		}
	}

	const query = new URLSearchParams(window.location.search);
	if (query.get('poll') !== null) {
		poll = true;
	}

	// #endregion

	/**
	 * Dashboard inital state
	 */
	// #region

	let state: Dashboard.State = Dashboard.State.Home;
	let forced_state = query.get('state');

	if ($stAdmin && forced_state !== null) {
		switch (forced_state) {
			case Dashboard.StateConvert.Home:
				state = Dashboard.State.Home;
				break;
			case Dashboard.StateConvert.RedisInteractions:
				state = Dashboard.State.RedisInteractions;
				break;
			case Dashboard.StateConvert.RedisInstances:
				state = Dashboard.State.RedisInstances;
				break;
			case Dashboard.StateConvert.RedisExcludedDomains:
				state = Dashboard.State.RedisExcludedDomains;
				break;
			case Dashboard.StateConvert.RedisTwitterEmbed:
				state = Dashboard.State.RedisTwitterEmbed;
				break;
		}
	}

	// #endregion

	/**
	 * Date
	 */
	// #region

	let date: Date = getDate();
	let interval_date: NodeJS.Timeout;

	function startDateInterval() {
		interval_date = setInterval(() => (date = getDate()), 1000);
	}

	function getDate() {
		return new Date();
	}

	function stopDateInterval() {
		clearInterval(interval_date);
	}

	onDestroy(() => {
		clearTimeout(interval_date);
	});

	// #endregion
</script>

<svelte:head>
	<title>Dashboard{data?.queue_size ? ` (${data.queue_size})` : ''}</title>
	<meta name="theme-color" content={$rdOptionsAppearanceAccentColor} />
</svelte:head>

{#if data}
	<main>
		<Nav bind:state bind:poll />
		<div class="wrapper">
			{#if state === Dashboard.State.Home}
				<Summary {data} sockets={users.sockets} />
				{#if $stAdmin}
					<Users users={users.users}></Users>
				{/if}
				<Workers now={date} max_concurrency={data.max_concurrency} workers={data.workers} />
				<Charts now={date}></Charts>
			{:else if state === Dashboard.State.RedisInteractions || state === Dashboard.State.RedisInstances || state === Dashboard.State.RedisExcludedDomains || state === Dashboard.State.RedisTwitterEmbed}
				<Redis {state}></Redis>
			{/if}
		</div>
		<Footer now={date} />
	</main>
{/if}

<style lang="scss">
	main {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		overflow-y: auto;
		overflow-x: hidden;

		.wrapper {
			width: calc(100% - 20px);
			max-width: 1315px;
			display: flex;
			flex-direction: column;
			flex-grow: 1;
		}
	}
</style>
