<script lang="ts">
	import Img from '../components/Global/Img.svelte';
	import Button from '../components/Global/Button/Button.svelte';

	import { NotificationModalType, notificationModal } from '../stores/NotificationsModal';
	import type { DisconnectReason } from '../stores/Account/Auth';

	import { TootDeckAPI } from '../lib/APIs/TootDeckAPI/TootDeckAPI';
	import { isURL } from '../lib/Utils/url/isURL';
	import { BYPASS_DEV_MODE, VERSION } from '../lib/Constants/Version';
	import { GITLAB_REPO_GLOBAL, TOOTDECK_REPOSITORY } from '../lib/Constants/Repositories';
	import { ANCHOR_ARGS } from '../lib/Constants/Anchor';

	let input: HTMLInputElement;
	let invalid: boolean = false;
	let waiting: boolean = false;

	function flash() {
		waiting = false;
		invalid = true;
		setTimeout(() => {
			invalid = false;
		}, 750);
	}

	async function login() {
		waiting = true;

		const value = input.value;
		if (!value || !isURL(value, VERSION === 'dev' && !BYPASS_DEV_MODE)) {
			return flash();
		}

		const redirect_url = await TootDeckAPI.OAuth.authorize(value);
		if (!redirect_url) {
			return flash();
		}

		window.location.href = redirect_url;
	}

	const disconnect_reason = window.localStorage.getItem('disconnect_reason') as DisconnectReason;
	if (disconnect_reason) {
		window.localStorage.removeItem('disconnect_reason');

		switch (disconnect_reason) {
			case 'expired':
				notificationModal.create(
					NotificationModalType.Error,
					'Your session has expired.',
					true
				);
				break;
			case 'disconnect':
				notificationModal.create(
					NotificationModalType.Error,
					"You've been disconnected.",
					true
				);
				break;
		}
	}
</script>

<svelte:head>
	<meta name="theme-color" content="#6364ff" />
</svelte:head>

<section>
	<header>
		<div class="left">
			<div class="logo">
				<Img src="tootdeck.svg" alt="TootDeck logo" width="30px" height="30px" />
			</div>
			<p>TootDeck</p>
		</div>
		<div class="right">
			<a href={GITLAB_REPO_GLOBAL || TOOTDECK_REPOSITORY} {...ANCHOR_ARGS}>Source code</a>
		</div>
	</header>
	<div class="login">
		<div>
			<h2>Log in with your instance</h2>
			<input
				type="text"
				name="domain"
				placeholder="Instance domain (ex: example.social)"
				class:invalid
				bind:this={input}
				on:keydown={(e) => {
					if (e.code === 'Enter') {
						login();
					}
				}}
			/>
			<hr />
			<Button
				style={'big' + (waiting ? ' waiting' : '')}
				timeout={750}
				on:clickTimeout={login}>Log In</Button
			>
		</div>
	</div>
	<footer>Only supports MastodonAPI compliant instances.</footer>
</section>

<style lang="scss">
	:global(.theme-light) {
		section::before {
			filter: contrast(1) grayscale(0.33);
		}
	}

	@keyframes flash {
		0%,
		20% {
			color: rgb(var(--red));
		}
		100% {
			color: rgb(var(--text));
		}
	}

	section {
		position: relative;
		width: 100%;
		max-width: 1000px;
		height: 100%;
		margin: 0 auto;

		&::before {
			z-index: -2;
			content: '';
			width: 100%;
			height: 100%;
			position: fixed;
			top: 0;
			left: 0;
			background-image: url('/unsplash.com_photos_slJUHpQEC0k.webp');
			filter: contrast(2) grayscale(0.33);
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
		}

		&::after {
			z-index: -2;
			content: '';
			width: 100%;
			height: 100%;
			position: fixed;
			top: 0;
			left: 0;
			background: rgb(var(--accent));
			background: var(--gradient);
			opacity: 0.75;
			filter: saturate(0.8);
		}

		header {
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			padding: 20px;
			user-select: none;
			box-sizing: border-box;

			&:before {
				z-index: -1;
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 60px;
			}

			.left {
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 10px;

				.logo {
					position: relative;
					width: 30px;
					height: 30px;

					:global(img) {
						z-index: 1;
						position: absolute;
					}

					&:after {
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						width: 30px;
						height: 30px;
						background-image: url('tootdeck.svg');
						background-size: cover;
						background-repeat: no-repeat;
						background-position: center;
						filter: saturate(0) contrast(10) blur(0.5px);
					}
				}

				p {
					font-weight: 700;
					font-size: 1.5em;
					color: #fff;
					text-shadow: #0000009c 1px 1px 0px;
				}
			}

			.right {
				a {
					font-size: 1em;
					font-weight: 500;
					text-decoration: none;
					color: #fff;
				}
			}
		}

		.login {
			z-index: 1;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) scale(0.8);
			display: grid;
			justify-items: center;
			width: 660px;
			background: rgb(var(--composer));
			border-radius: 10px;

			@media (max-width: 600px) {
				transform: translate(-50%, -50%) scale(0.7);
			}

			div {
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				gap: 10px;
				padding: 40px 40px;
				box-sizing: border-box;

				h2 {
					font-size: 1.75rem;
					margin-bottom: 25px;
				}

				input {
					box-sizing: border-box;
					width: 100%;
					background-color: rgb(var(--light));
					padding: 0.75rem 1rem;
					font-size: 1.4rem;
					border: none;
					border-radius: 5px;

					&:focus {
						outline: 1px solid rgb(var(--accent));
					}

					&.invalid,
					&.invalid:placeholder-shown {
						animation: 0.75s flash ease-out;
					}
				}

				hr {
					width: 15px;
					margin: 5px 0;
					border: 1px solid #575757;
				}
			}
		}

		footer {
			position: absolute;
			left: 0;
			bottom: 20px;
			width: 100%;
			user-select: none;
			text-align: center;
			color: #fff;
		}
	}
</style>
