<script lang="ts">
	import Wait from '../../../Spinner/RemoteSpinner.svelte';

	import type { TootDeckAccount } from '../../../../stores/Account/Accounts';

	import {
		unfollow as libUnfollow,
		follow as libFollow,
	} from '../../../../lib/ComponentFunctions/interactions/follow';
	import { getUpdateRelationship } from '../../../../lib/ComponentFunctions/updateRelationship';
	import { remoteFetchAccount } from '../../../../lib/ComponentFunctions/remoteFetch';
	import { addFullHandle } from '../../../../lib/ComponentFunctions/addFullHandle';

	import type { ParsedAccount } from '../../../../types/contentParsed';
	import type { Entity } from '../../../../types/mastodonEntities';

	export let account: TootDeckAccount;
	export let status_account: ParsedAccount;

	let relation: Entity.Relationship | undefined;
	let remote_account: ParsedAccount;
	let error: boolean = false;

	async function fetchRelationshp(id: string) {
		const fetch_relationship = await account.mirrorAPI.Accounts.getRelationships([id]);
		if (!fetch_relationship || !fetch_relationship.length) {
			return null;
		}

		const relationship = fetch_relationship[0];

		getUpdateRelationship(account, addFullHandle(account, remote_account), relationship);

		return relationship;
	}

	async function isFollowing() {
		const remote = await remoteFetchAccount(account, status_account);
		if (!remote) {
			error = true;
			return;
		}
		remote_account = remote;

		const relationship_id = remote_account.id;
		const relationship = await fetchRelationshp(relationship_id);
		if (!relationship) {
			error = true;
			return;
		}

		// Final value
		relation = relationship;
	}

	async function click() {
		if (relation?.following) {
			await libUnfollow(account, remote_account, relation);
		} else {
			await libFollow(account, remote_account, relation);
		}

		relation = relation;
	}
</script>

<button
	class:invert={relation?.following}
	class:error
	on:click={() => {
		if (!error) {
			click();
		}
	}}
>
	{#await isFollowing()}
		<Wait />
	{:then _}
		{#if error}
			Unavailable
		{:else if relation?.following}
			<div class="fa fa-user-times" />
			Unfollow
		{:else}
			<div class="fa fa-user" />
			Follow
		{/if}
	{/await}
</button>

<style lang="scss">
	.invert {
		background-color: rgb(var(--red)) !important;
	}

	.error,
	.error:hover {
		filter: grayscale(1) !important;
		cursor: default;
	}
</style>
