<script lang="ts">
	import Img from '../../Global/Img.svelte';
	import NativeEmoji from '../../ContentRenderer/Renderer/NativeEmoji.svelte';

	import { rdOptionsAppearanceAnimationAnimateGifEmoji } from '../../../stores/Options';
	import type { TootDeckAccount } from '../../../stores/Account/Accounts';

	import { compactBigNumber } from '../../../lib/Utils/number/compactBigNumber';
	import { StaticEmojiCache } from '../../../lib/Emoji/StaticEmojiCache';

	import type { EmojiReaction } from '../../../types/contentParsed';

	export let account: TootDeckAccount;
	export let reaction: EmojiReaction;

	let img: HTMLImageElement;
</script>

{#if reaction.url}
	{#if $rdOptionsAppearanceAnimationAnimateGifEmoji}
		<Img
			bind:img
			src={reaction.url}
			alt={reaction.name}
			class={'emoji emoji-custom'}
			events={['error']}
			on:error={() => (img.src = 'px.png')}
		/>
	{:else}
		{#await StaticEmojiCache.get(account, reaction) then static_url}
			<Img
				bind:img
				src={static_url}
				alt={reaction.name}
				class={'emoji emoji-custom'}
				events={['error']}
				on:error={() => (img.src = 'px.png')}
			/>
		{/await}
	{/if}
{:else}
	<NativeEmoji emoji={reaction.name}></NativeEmoji>
{/if}
<div class="count">{compactBigNumber(reaction.count)}</div>

<style lang="scss">
	.count {
		user-select: none;
		padding: 0px 5px;
		text-align: right;
	}
</style>
