<script lang="ts">
	import { getContext } from 'svelte';
	import type { Writable } from 'svelte/store';

	import Inner from './Inner.svelte';

	import type { TootDeckAccount } from '../../../stores/Account/Accounts';
	import { rdOptionsBehaviorInstance } from '../../../stores/Options';

	import {
		createEmojiReaction,
		removeEmojiReaction,
	} from '../../../lib/ComponentFunctions/emojiReaction/emojiReaction';
	import { emojiReactionReached } from '../../../lib/ComponentFunctions/emojiReaction/emojiReactionReached';
	import { supportEmojiReactions } from '../../../lib/ComponentFunctions/emojiReaction/supportEmojiReactions';

	import type { EmojiReaction, ParsedStatus } from '../../../types/contentParsed';

	export let account: TootDeckAccount;
	export let status: ParsedStatus;
	export let reaction: EmojiReaction;

	const context = getContext('PickerProps') as {
		update: Writable<number>;
		account: TootDeckAccount;
		status: ParsedStatus;
		position: { x: number; y: number };
	};

	async function create() {
		const created = await createEmojiReaction(account, status, reaction.name);

		if (context && created) {
			context.status = created;
			context.update.set(-1);
		}
	}

	async function remove() {
		const removed = await removeEmojiReaction(account, status, reaction.name);

		if (context && removed) {
			context.status = removed;
			context.update.set(-1);
		}
	}
</script>

{#if supportEmojiReactions(account, $rdOptionsBehaviorInstance)}
	{#if !emojiReactionReached(account, status)}
		<!-- Limit not reached -->
		<button
			class="emoji-reaction"
			class:me={reaction.me}
			on:click={() => (reaction.me ? remove() : create())}
		>
			<Inner {account} {reaction}></Inner>
		</button>
	{:else if reaction.me}
		<!-- Limit reached and it's your reaction -->
		<button class="emoji-reaction" class:me={reaction.me} on:click={() => remove()}>
			<Inner {account} {reaction}></Inner>
		</button>
	{:else}
		<!-- Limit reached -->
		<div class="emoji-reaction">
			<Inner {account} {reaction}></Inner>
		</div>
	{/if}
{:else}
	<div class="emoji-reaction">
		<Inner {account} {reaction}></Inner>
	</div>
{/if}

<style lang="scss">
	button {
		&:hover:before {
			filter: brightness(1.5);
		}
	}

	.emoji-reaction {
		max-width: 100%;
		position: relative;
		display: flex;
		flex-direction: row;
		align-items: center;
		background-color: rgba(var(--composer), var(--background-opacity));
		padding: 5px;
		border-radius: 10px;

		&.me::before {
			background-color: rgb(var(--lighter));
			filter: brightness(1.5);
		}
	}
</style>
