<script lang="ts">
	import Img from '../../../../Global/Img.svelte';

	export let src: string;
	export let title: string;
	export let alt: string;
	export let width: string;
	export let selected: boolean;
</script>

<button class="inage-radio" on:click>
	<Img {src} {alt} {title} {width} />
	{#if selected}
		<div class="checkmark">
			<div class="icon fa fa-check" />
		</div>
	{/if}
</button>

<style lang="scss">
	.inage-radio {
		position: relative;

		.checkmark {
			position: absolute;
			bottom: 0;
			right: 0;
			width: 1.5em;
			height: 1.5em;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 14px;
			color: #fff;
			background-color: rgb(var(--accent));
			border-radius: 20px;
			overflow: hidden;

			.icon {
				margin-top: 5px;
			}
		}
	}
</style>
