<button class="remove" on:click>
	<div class="fa fa-times" />
</button>

<style lang="scss">
	.remove {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		flex-grow: 0;
		border-radius: 5px;
		padding: 5px;
		font-size: calc(var(--font-size) + 1px);
	}
</style>
