<script lang="ts">
	import InputText from '../../Global/Inputs/InputText.svelte';

	import { stAccountsSameInstance } from '../../../stores/Account/Accounts';
	import type { IndexedLayoutColumn } from '../../../stores/Columns/Layout';

	import type { IStandardColumn } from '../../../lib/Columns/StandardColumn';
	import { addFullHandleIfNecessary } from '../../../lib/ComponentFunctions/addFullHandle';

	export let column: IndexedLayoutColumn<IStandardColumn, any>;

	const options = column.options;

	let title = $options.override_title.value?.title ?? column.title;
	let handle =
		$options.override_title.value?.handle ??
		addFullHandleIfNecessary($stAccountsSameInstance, column.account);
	$: {
		$options.override_title.value = {
			title,
			handle,
		};
	}
</script>

<InputText bind:value={title}></InputText>
<InputText bind:value={handle}></InputText>
