<script lang="ts">
	import SoundOption from './SoundOption.svelte';
	import CustomName from './CustomName.svelte';
	import InputCheckboxCollapse from '../../Global/Inputs/InputCheckboxCollapse.svelte';
	import OptionsNotification from './Notifications/OptionsNotification.svelte';

	import { stLayout, type IndexedLayoutColumn } from '../../../stores/Columns/Layout';

	import { transitionSlide } from '../../../lib/Transitions/transitionOverride';
	import { swap } from '../../../lib/Utils/js/swap';
	import type { IStandardColumn } from '../../../lib/Columns/StandardColumn';
	import { TootDeckColumnIdentifier } from '../../../lib/Columns/TootDeckColumnTypes';
	import type { StandardNotificationsColumn } from '../../../lib/Columns/StandardNotificationColumn';

	export let column: IndexedLayoutColumn<IStandardColumn, any>;

	const options = column.options;

	function moveColumn(direction: -1 | 1) {
		const index = $stLayout.findIndex((c) => c.id === column.id);

		if (direction === -1 && index) {
			swap($stLayout, index, index - 1);
		}

		if (direction === 1 && index !== $stLayout.length - 1) {
			swap($stLayout, index, index + 1);
		}

		$stLayout = $stLayout;
	}

	function columnIsNotification() {
		return column.instance as StandardNotificationsColumn;
	}
</script>

<div class="options" transition:transitionSlide={{ duration: 200 }}>
	<div class="wrapper">
		{#if column.identifier === TootDeckColumnIdentifier.Notifications}
			<OptionsNotification column={columnIsNotification()}></OptionsNotification>
		{/if}
		{#if !column.using_links}
			<SoundOption {column} />
		{/if}
		<InputCheckboxCollapse
			text="Custom title"
			checked={$options.override_title.toggle}
			on:click={() => ($options.override_title.toggle = !$options.override_title.toggle)}
		>
			<CustomName {column}></CustomName>
		</InputCheckboxCollapse>
	</div>
	<div class="btn-container">
		<div class="move">
			{#if $stLayout.findIndex((c) => c.id === column.id) !== 0}
				<button class="btn move" on:click={() => moveColumn(-1)}>
					<div class="fa fa-chevron-left" />
				</button>
			{/if}
			{#if $stLayout.findIndex((c) => c.id === column.id) !== $stLayout.length - 1}
				<button class="btn move" on:click={() => moveColumn(1)}>
					<div class="fa fa-chevron-right" />
				</button>
			{/if}
		</div>
		<div class="right">
			<button class="btn erase" on:click={() => column.instance.clear()}>
				<div class="fa fa-eraser" />
				Clear
			</button>
			<button class="btn remove" on:click={() => column.instance.destroy()}>
				<div class="fa fa-times" />
				Remove
			</button>
		</div>
	</div>
</div>

<style lang="scss">
	.options {
		position: relative;
		display: flex;
		flex-direction: column;
		padding: 0px 10px 10px 10px;
		// background-color: rgb(var(--header-inner));

		.wrapper {
			padding-bottom: 5px;

			:global(label) {
				padding: 5px;
			}

			:global(.checkbox label) {
				padding: 5px;
			}
		}

		.btn-container {
			width: 100%;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			gap: 10px;

			.btn {
				display: flex;
				flex-direction: row;
				align-items: center;
				color: rgb(var(--icons));

				&:hover {
					filter: brightness(1.4);
				}

				&.move {
					width: 25px;
					height: 25px;
					display: grid;
					justify-items: center;
					align-items: center;
				}

				&.erase,
				&.remove {
					gap: 5px;
					font-size: 13px;
				}
			}

			.move,
			.right {
				display: flex;
				flex-direction: row;
				align-items: center;
			}

			.right {
				gap: 10px;
			}
		}
	}
</style>
