<script lang="ts">
	import { Layout, type IndexedLayoutColumn, stLayout } from '../../../stores/Columns/Layout';
	import {
		rdOptionsAppearanceColumnHeaderBtnClear,
		rdOptionsAppearanceColumnHeaderBtnCollapse,
		rdOptionsAppearanceColumnHeaderBtnDelete,
	} from '../../../stores/Options';

	import type { StandardColumn } from '../../../lib/Columns/StandardColumn';
	import { TootDeckConfig } from '../../../lib/TootDeckConfig';

	export let column: IndexedLayoutColumn<StandardColumn<any>, any>;

	const { content, options, performance_mode } = column;

	function clearContent() {
		$content.clear();
		$content = $content;
	}

	async function changeCollapseState() {
		const value = !$options.collapsed;
		$options.collapsed = value;

		const index = $stLayout.findIndex((x) => x.id === column.instance.id);
		if (index === -1) {
			return;
		}

		TootDeckConfig.saveOne(`columns.${index}.params.options.collapsed`, value);
	}
</script>

<div class="btn-container">
	{#if $performance_mode}
		<div
			class="btn performance"
			title={'Performance mode.\nAnimations and quotes are disabled.'}
		>
			<div class="fa fa-bolt" />
		</div>
	{/if}
	{#if !$options.collapsed && $rdOptionsAppearanceColumnHeaderBtnClear}
		<button class="btn erase fa fa-eraser" title="clear" on:click={() => clearContent()} />
	{/if}
	{#if $rdOptionsAppearanceColumnHeaderBtnCollapse || $options.collapsed}
		{#if $options.collapsed}
			<button class="btn collapse" title="expand" on:click={() => changeCollapseState()}>
				<div class="fa fa-plus" />
			</button>
		{:else}
			<button class="btn collapse" title="collapse" on:click={() => changeCollapseState()}>
				<div class="fa fa-minus" />
			</button>
		{/if}
	{/if}
	{#if !$options.collapsed && column.using_links}
		<button
			class="btn erase fa fa-refresh"
			title="refresh"
			on:click={() => column.instance.nextContent()}
		/>
	{/if}
	{#if !$options.collapsed}
		<button class="btn option fa fa-sliders" title="options" on:click />
	{/if}
	{#if !$options.collapsed && $rdOptionsAppearanceColumnHeaderBtnDelete}
		<button
			class="btn remove fa fa-times"
			title="remove"
			on:click={() => Layout.delete(column.id)}
		/>
	{/if}
</div>

<style lang="scss">
	.btn-container {
		position: relative;
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 10px;
		color: rgb(var(--text));

		.btn {
			display: grid;
			justify-items: center;
			align-items: center;
			width: 20px;
			font-size: calc(var(--font-size) + 1px);

			&:hover {
				filter: drop-shadow(0px 0px 1px #ffffff);
			}

			&.collapse {
				margin-top: 1px;
			}
		}
	}
</style>
