<script lang="ts">
	import type { TootDeckAccount } from '../../../stores/Account/Accounts';

	import { onClickTimeout } from '../../../lib/UseClick/clickTimeout';
	import { notypecheck } from '../../../lib/Utils/js/notypecheck';
	import { errorModal } from '../../../lib/errorModal';

	export let account: TootDeckAccount;
	export let lists: any;
	export let manager: boolean;

	let input_value: string;

	async function createList() {
		if (!input_value) {
			return;
		}

		const response = await account.mirrorAPI.Timeline.Lists.create(input_value);
		if (!response) {
			errorModal('Unable to create list.', undefined, true);
			return;
		}

		if (manager) {
			lists = [...lists, { ...response, accounts: [] }];
		} else {
			lists = [...lists, { ...response, length: 0, in_list: false }];
		}

		input_value = '';
	}
</script>

<div class="create-list">
	<input type="text" placeholder="New list title" bind:value={input_value} />
	<button
		{...notypecheck({
			'on:clickTimeout': true,
		})}
		class="btn"
		use:onClickTimeout
		on:clickTimeout={() => createList()}>Create</button
	>
</div>

<style lang="scss">
	.create-list {
		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: 10px;

		input {
			all: unset;
			padding: 0 10px;
			box-sizing: border-box;
			background-color: rgb(var(--composer));
			border: 1px solid rgb(var(--accent));
			cursor: text;
			border-radius: 5px;
		}

		.btn {
			padding: 5px 10px;
			background-color: rgb(var(--accent));
			border-radius: 5px;
		}
	}
</style>
