<script lang="ts">
	import { createEventDispatcher } from 'svelte';

	import ButtonPublish from '../../Composer/ButtonPublish.svelte';
	import Img from '../../Global/Img.svelte';

	import { stRefreshAccount } from '../../../stores/Account/Accounts';
	import { ExpandedPanel, ExpandedPanelState } from '../../../stores/ExpandedPanel';
	import { rdOptionsAppearanceAnimationAnimateGifAvatar } from '../../../stores/Options';

	import type { Composer } from '../../../types/composer';

	const eventDispatcher = createEventDispatcher();

	export let composer: Composer;
	const { account, toggle } = composer;
	const { clear } = toggle;

	function hide() {
		eventDispatcher('hide');
	}

	function openFullComposer() {
		ExpandedPanel.update({
			state: ExpandedPanelState.ComposerWithData,
			composer,
		});

		hide();
	}
</script>

<div class="btn-container">
	<div class="left">
		<button class="close" title="Close composer" on:click={() => hide()}>
			<div class="icon fa fa-times" />
		</button>
		<button class="expand" title="Open in full composer" on:click={() => openFullComposer()}>
			<div class="icon fa fa-external-link" />
		</button>
		{#if $clear}
			<button class="clear" title="Clear composer" on:click={() => eventDispatcher('clear')}>
				<div class="icon fa fa-trash" />
			</button>
		{/if}
	</div>
	<div class="right">
		<button
			class="pp"
			title="Change account in full composer"
			on:click={() => openFullComposer()}
		>
			<Img
				src={$stRefreshAccount && $rdOptionsAppearanceAnimationAnimateGifAvatar
					? $account.entity.avatar
					: $account.entity.avatar_static}
				alt="{$account.entity.username} profile picture"
				width="35px"
				height="35px"
			/>
		</button>
		<div class="btn">
			<ButtonPublish {composer} style="small" on:publish />
		</div>
	</div>
</div>

<style lang="scss">
	.btn-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		.left,
		.right {
			height: 35px;
			display: flex;
			align-items: center;
			gap: 10px;
		}

		.left {
			color: rgb(var(--icons));

			.close,
			.expand,
			.clear {
				width: 30px;
				display: grid;
				justify-content: center;
				align-content: center;
				font-size: 25px;
			}

			.close,
			.clear {
				margin-top: -3px;
			}
		}

		.right {
			.pp {
				width: 35px;
				height: 35px;
				flex-shrink: 0;

				:global(img) {
					border-radius: 100%;
				}
			}
		}
	}
</style>
