<script lang="ts">
	import Commit from './Commit.svelte';

	import { type ParsedCommit } from '../../../lib/Changelog';
	import {
		GITLAB_REPO_BACKEND,
		GITLAB_REPO_FRONTEND,
		GITLAB_REPO_GLOBAL,
	} from '../../../lib/Constants/Repositories';
	import { ANCHOR_ARGS } from '../../../lib/Constants/Anchor';

	export let repository: 'global' | 'backend' | 'frontend';
	export let commits: Array<ParsedCommit> | undefined;
	export let found_commit: boolean | undefined;

	function getURL() {
		switch (repository) {
			case 'global':
				return GITLAB_REPO_GLOBAL + '/-/commits/main';
			case 'backend':
				return GITLAB_REPO_BACKEND + '/-/commits/main';
			case 'frontend':
				return GITLAB_REPO_FRONTEND + '/-/commits/main';
		}
	}
</script>

<div class="repository">
	{#if commits}
		{#each commits as commit (commit.id)}
			<Commit {commit}></Commit>
		{/each}
		{#if !found_commit}
			<p>
				More changes are available{' '}
				<a href={getURL()} {...ANCHOR_ARGS}>here</a>
			</p>
		{/if}
	{:else}
		<p>Failed to load the changelog.</p>
	{/if}
</div>

<style lang="scss">
	.repository {
		display: flex;
		flex-direction: column;
		gap: 1ch;
	}
</style>
