<script lang="ts">
	import { onDestroy } from 'svelte';

	import Media from './Media.svelte';
	import WithThread from './WithThread.svelte';

	import { rdOptionsAppearanceAnimationMediaViewerMediaChange } from '../../../stores/Options';
	import {
		stGlobalWindow,
		GlobalWindow,
		type GlobalWindowFullMedia,
		GlobalWindowState,
	} from '../../../stores/Window';

	import { onClickTimeout } from '../../../lib/UseClick/clickTimeout';
	import { transitionFade } from '../../../lib/Transitions/transitionOverride';
	import { notypecheck } from '../../../lib/Utils/js/notypecheck';
	import { KeyboardHandler } from '../../../lib/KeyboardHandler';

	import type { Entity } from '../../../types/mastodonEntities';

	/**
	 * Sideshow
	 */
	let id: number = 0;
	let media: Array<Entity.Attachment & { id_nbr: number }> = [];

	$: setValues($stGlobalWindow as GlobalWindowFullMedia);

	function setValues(win: GlobalWindowFullMedia) {
		if (!win) {
			return;
		}

		const global_window = $stGlobalWindow as GlobalWindowFullMedia;
		media = global_window.media.map((media, index) => ({
			...media,
			id_nbr: index,
		}));
		id = global_window.clicked;
	}

	function left() {
		if (id > 0) {
			--id;
		}
	}

	function right() {
		if (id < media.length - 1) {
			++id;
		}
	}

	/**
	 * Keyboard handling
	 */
	let key_press: boolean = false;

	KeyboardHandler.subscribe('Window:FullMedia:ArrowLeft', 'ArrowLeft', (e) => {
		e.preventDefault();
		key_press = true;
		left();
		return true;
	});

	KeyboardHandler.subscribe('Window:FullMedia:ArrowRight', 'ArrowRight', (e) => {
		e.preventDefault();
		key_press = true;
		right();
		return true;
	});

	onDestroy(() => {
		KeyboardHandler.unsubscribe('Window:FullMedia:ArrowLeft', 'ArrowLeft');
		KeyboardHandler.unsubscribe('Window:FullMedia:ArrowRight', 'ArrowRight');
	});

	/**
	 * click outside
	 */
	let full_media_container: HTMLButtonElement;

	function clickOutsite(e: MouseEvent) {
		const target = e.target as HTMLElement;
		if (target?.parentElement === full_media_container || target === full_media_container) {
			GlobalWindow.remove();
		}
	}

	/**
	 * User options
	 */
	let btn_timeout: number = 200;

	$: if ($rdOptionsAppearanceAnimationMediaViewerMediaChange) {
		btn_timeout = 0;
	} else {
		btn_timeout = 200;
	}
</script>

<svelte:window on:keyup={() => (key_press = false)} />

<div class="full-media" transition:transitionFade={{ duration: 100 }}>
	<div class="media">
		<button class="btn close" on:click={() => GlobalWindow.remove()}>
			<div class="fa fa-times" />
		</button>
		<button
			class="btn left"
			class:disabled={id === 0}
			{...notypecheck({
				'on:clickTimeout': true,
			})}
			use:onClickTimeout={btn_timeout}
			on:clickTimeout={() => left()}
		>
			<div class="fa fa-chevron-left" />
		</button>
		<button
			class="btn right"
			class:disabled={id === media.length - 1}
			{...notypecheck({
				'on:clickTimeout': true,
			})}
			use:onClickTimeout={btn_timeout}
			on:clickTimeout={() => right()}
		>
			<div class="fa fa-chevron-right" />
		</button>
		<button class="media-container" bind:this={full_media_container} on:click={clickOutsite}>
			{#each media as m (m.id)}
				<Media media={m} {id} {key_press}></Media>
			{/each}
		</button>
	</div>
	{#if $stGlobalWindow?.state === GlobalWindowState.FullMediaWithThread}
		<WithThread />
	{/if}
</div>

<style lang="scss">
	.full-media {
		z-index: 10;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #0000002a;
		overflow: hidden;
		display: flex;
		flex-direction: row;

		.media {
			position: relative;
			width: 100%;

			.btn {
				z-index: 2;
				position: absolute;
				width: 60px;
				height: 100%;
				font-size: 45px;
				text-align: center;

				&.left {
					left: 0;
				}

				&.right {
					right: 0;
				}

				&.close {
					z-index: 3;
					top: 0;
					right: 0;
					height: 60px;
				}

				&.disabled {
					opacity: 0;
					cursor: default;
				}
			}
		}
	}
</style>
