<script lang="ts">
	import IntersectionObserver from 'svelte-intersection-observer';

	import Img from '../../Global/Img.svelte';

	import { rdOptionsAppearanceAnimationMediaViewerMediaChange } from '../../../stores/Options';

	import { Entity } from '../../../types/mastodonEntities';
	import { ANCHOR_ARGS } from '../../../lib/Constants/Anchor';

	export let media: Entity.Attachment & { id_nbr: number };
	export let id: number;
	export let key_press: boolean = false;

	let failed_to_load: boolean = false;
	let loaded: boolean = false;
	let element: HTMLVideoElement | HTMLImageElement;
	let intersecting: boolean = false;

	function load() {
		loaded = true;
	}

	function error(e: Event | CustomEvent<Event>) {
		const target = (e.target ?? (e as CustomEvent<Event>).detail.target) as
			| HTMLImageElement
			| HTMLVideoElement;
		if (target && media.remote_url && media.remote_url !== target.src) {
			element.src = media.remote_url;
			return;
		}

		load();
		failed_to_load = true;
	}

	$: if (element?.tagName === 'VIDEO') {
		(element as HTMLVideoElement).volume = 0.2;
	}

	$: if (element?.tagName === 'VIDEO') {
		if (intersecting) {
			(element as HTMLVideoElement).play().catch(() => {});
		} else {
			(element as HTMLVideoElement).pause();
		}
	}
</script>

<IntersectionObserver {element} bind:intersecting threshold={0}>
	<div
		class="media"
		class:keyboard={key_press}
		class:left={media.id_nbr < id}
		class:right={media.id_nbr > id}
		style:transition={$rdOptionsAppearanceAnimationMediaViewerMediaChange
			? 'calc(0.3s * var(--transition-speed))'
			: '0s'}
	>
		{#if failed_to_load}
			<div class="failed">
				<b>Couldn't load media</b>
				<p>
					[ <a href={media.remote_url} {...ANCHOR_ARGS}>original</a> ]
				</p>
			</div>
		{:else}
			{#if media.type === Entity.AttachmentType.Gifv || media.type === Entity.AttachmentType.Video}
				<video
					src={media.url}
					poster={media.preview_url}
					autoplay={false}
					loop={media.type === Entity.AttachmentType.Gifv}
					controls={media.type !== Entity.AttachmentType.Gifv}
					bind:this={element}
					on:error={error}
				/>
			{:else}
				<Img
					src={media.url}
					alt={media.description}
					events={['load', 'error']}
					on:load={load}
					on:error={error}
				/>
			{/if}
			{#if media.description}
				<button class="alt">
					<div class="default caps-lock">alt</div>
					<div class="enabled">
						{media.description}
					</div>
				</button>
			{/if}
		{/if}
	</div>
</IntersectionObserver>

<style lang="scss">
	.media {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		display: grid;
		align-items: center;
		justify-items: center;
		user-select: none;
		opacity: 1;

		&.keyboard {
			transition: 0s !important;
		}

		&.left {
			left: -100vw;
			opacity: 0;
		}

		&.right {
			left: 100vw;
			opacity: 0;
		}

		.failed {
			display: flex;
			flex-direction: column;
			padding: 0px 40px;
			height: 150px;
			text-align: center;
			align-items: center;
			justify-content: center;
			background-color: rgb(var(--background));

			a {
				width: 100%;
			}
		}

		:global(img),
		video {
			max-width: 100%;
			max-height: 100vh;
		}

		.alt {
			position: absolute;
			bottom: 20px;
			display: flex;
			justify-content: center;
			border-color: #696969;
			border-radius: 5px;
			background-color: #000000;
			max-height: calc(100% - 40px);
			color: #fff;

			&:focus {
				.default {
					display: none;
				}
				.enabled {
					display: block;
				}
			}

			.default,
			.enabled {
				padding: 5px 10px;
				border-radius: 5px;
				pointer-events: all;
			}

			.default {
				margin: 5px;
				display: block;
				flex-grow: 0;
			}

			.enabled {
				max-width: 800px;
				display: none;
				user-select: text;
				overflow: auto;
				box-sizing: border-box;
				white-space: pre-wrap;
			}
		}
	}
</style>
