<script lang="ts">
	import { setContext } from 'svelte';

	import Thread from '../../Column/Thread/Thread.svelte';

	import {
		stGlobalWindow,
		GlobalWindow,
		type GlobalWindowFullMediaWithThread,
	} from '../../../stores/Window';
	import type { TootDeckAccount } from '../../../stores/Account/Accounts';
	import type { IndexedLayoutColumn } from '../../../stores/Columns/Layout';

	import { createAndInsertThreadColumn } from '../../../lib/ComponentFunctions/thread/createThreadColumn';
	import { QuoteManager } from '../../../lib/Managers/QuoteManager';
	import type { ThreadColumn } from '../../../lib/Columns/ThreadColumn';

	import type { ThreadStack, ThreadStatus } from '../../../types/thread';
	import type { ParsedStatus } from '../../../types/contentParsed';

	/**
	 * Sideshow
	 */
	let column: ThreadColumn;
	let props: IndexedLayoutColumn<ThreadColumn, ThreadStatus>;
	let stack: ThreadStack;
	let account: TootDeckAccount;
	let status_id: string;
	$: setValues($stGlobalWindow as GlobalWindowFullMediaWithThread);

	function setValues(win: GlobalWindowFullMediaWithThread) {
		if (!win || !win.column) {
			return;
		}

		const global_window = $stGlobalWindow as GlobalWindowFullMediaWithThread;
		column = global_window.column;
		props = { ...column.props, id: 0 } as IndexedLayoutColumn<ThreadColumn, ThreadStatus>;
		stack = {
			id: 0,
			loading: false,
			thread: column.props.content,
			column_instance: column,
		};
		account = column.account;
		status_id = global_window.status_id;

		/**
		 * Used in
		 * - src/components/Status/Media/MediaContainer.svelte
		 */
		const _ = setContext<string | undefined>('FullMediaWithThread', status_id);
	}

	/**
	 * Thread events handler
	 */
	// #region

	async function openNewColumn(status: ParsedStatus) {
		createAndInsertThreadColumn(account, status, 0);

		GlobalWindow.clear();
	}

	async function selectStatus(e: CustomEvent<MouseEvent>) {
		const { thread } = e.detail as any as {
			original: MouseEvent;
			thread: ThreadStatus;
		};

		openNewColumn(thread.status);
	}

	function clickQuote(
		e: CustomEvent<{
			original: MouseEvent;
			url?: string;
			status?: ParsedStatus;
		}>
	) {
		const { url, status } = e.detail;
		if (!url && !status) {
			return;
		}

		if (status) {
			openNewColumn(status);
			return;
		}

		if (url) {
			const entity = QuoteManager.getSync(column, url);
			if (entity !== 'DEAD') {
				openNewColumn(entity!);
				return;
			}
		}
	}

	// #endregion
</script>

<div class="thread">
	{#key status_id}
		<Thread
			{props}
			{stack}
			full_media_view={true}
			on:update={selectStatus}
			on:clickQuote={clickQuote}
			on:close={() => GlobalWindow.remove()}
		></Thread>
	{/key}
</div>

<style lang="scss">
	.thread {
		flex-shrink: 0;
		z-index: 1;
		position: relative;
		height: 100%;
		background-color: rgb(var(--background));
		overflow-y: auto;
	}
</style>
