<script lang="ts">
	import InputText from '../../Global/Inputs/InputText.svelte';

	export let text: string;
	export let exec: (text: string) => Promise<boolean>;

	let btn_text = text;
	let input_text: string = '';
	let show_input: boolean = false;

	$: {
		input_text;
		submitText();
	}

	function submitText() {
		if (show_input) {
			btn_text = 'Send';

			if (!input_text) {
				btn_text = 'Cancel';
			}
			return;
		}

		btn_text = text;
	}

	async function click() {
		if (show_input && input_text) {
			show_input = false;

			await exec(input_text).then((r) => {
				btn_text = r ? 'Successfully sent' : 'Failed to send';

				setTimeout(() => {
					btn_text = text;
					input_text = '';
				}, 3000);
			});
			return;
		}

		show_input = !show_input;

		submitText();
	}
</script>

<div class="button-input">
	{#if show_input}
		<InputText bind:value={input_text} placeholder="Message"></InputText>
	{/if}
	<button on:click={() => click()}>{btn_text}</button>
</div>

<style lang="scss">
	.button-input {
		display: flex;
		flex-direction: row;
		gap: 1ch;

		:global(.text) {
			width: 300px;
		}

		button {
			background-color: rgb(var(--background));
			border: 1px solid rgb(var(--accent));
			padding: 10px 15px;
			border-radius: 5px;
		}
	}
</style>
