<script lang="ts">
	import Section from '../Section.svelte';
	import User from './User.svelte';
	import ButtonInput from './ButtonInput.svelte';

	import { TootDeckAPI } from '../../../lib/APIs/TootDeckAPI/TootDeckAPI';

	import type { Dashboard } from '../../../types/dashboard';

	export let users: Array<Dashboard.Stats.User>;

	function alphaSort(a: Dashboard.Stats.User, b: Dashboard.Stats.User) {
		return a.main.handle.toLowerCase() < b.main.handle.toLowerCase() ? -1 : 1;
	}

	function sort(u: Array<Dashboard.Stats.User>) {
		const multi = u.filter((x) => x.secondary.length !== 0).sort(alphaSort);
		const single = u.filter((x) => x.secondary.length === 0).sort(alphaSort);

		return [...multi, ...single];
	}
</script>

<Section
	name={'Users'}
	note={'The provided data may be inaccurate.\nData is not persistent and will be reset at the next server restart.'}
>
	<ButtonInput text="Broadcast a message" exec={TootDeckAPI.Dashboard.broadcastMessage}
	></ButtonInput>
	<div class="users">
		<div class="title">
			<p></p>
			<p>Handle</p>
			<p>Status</p>
			<p>Jobs</p>
			<p>Total</p>
		</div>
		{#each sort(users) as user (user.main.handle)}
			<User {user}></User>
		{/each}
	</div>
</Section>

<style lang="scss">
	.title {
		flex-shrink: 0;
		display: grid;
		grid-template-columns: 1.5em 1fr 100px 150px 150px;
		grid-template-rows: 1fr;
		grid-column-gap: 0px;
		grid-row-gap: 0px;
		padding: 10px 15px;
		font-weight: bold;
	}

	.users {
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	:global(.button-input) {
		position: absolute;
		top: -60px;
		right: 0;
	}
</style>
