<script lang="ts">
	import { addThousandSeparator } from '../../../lib/Utils/number/addThousandSeparator';
	import { transitionSlide } from '../../../lib/Transitions/transitionOverride';

	import type { Dashboard } from '../../../types/dashboard';

	export let user: Dashboard.Stats.User;

	let collapsed: boolean = true;

	function calcTotal(data: Dashboard.Stats.User) {
		const accounts = [data.main, ...data.secondary];
		return accounts.reduce((previous, current) => ({
			handle: '',
			jobs_count: previous.jobs_count + current.jobs_count,
		})).jobs_count;
	}
</script>

<button class="user" on:click={() => (collapsed = !collapsed)}>
	<div class="wrapper">
		{#if user.secondary.length}
			<div class="chevron" class:collapsed>
				<div class="icon fa fa-chevron-right" />
			</div>
		{:else}
			<p></p>
		{/if}
		<p class="handle">{user.main.handle}</p>
		<p class="status" class:online={user.main.status}>
			{user.main.status ? 'Online' : 'Offline'}
		</p>
		<p>{addThousandSeparator(user.main.jobs_count)}</p>
		<p>{addThousandSeparator(calcTotal(user))}</p>
	</div>
	{#if !collapsed}
		<div class="secondary" transition:transitionSlide={{ duration: 200 }}>
			{#each user.secondary as secondary (secondary)}
				<div>
					<p></p>
					<p class="handle">{secondary.handle}</p>
					<p></p>
					<p>{addThousandSeparator(secondary.jobs_count)}</p>
					<p></p>
				</div>
			{/each}
		</div>
	{/if}
</button>

<style lang="scss">
	.user {
		display: flex;
		flex-direction: column;
		box-sizing: border-box;

		&:nth-child(even) {
			background-color: rgb(var(--composer));
		}

		.wrapper {
			display: grid;
			flex-shrink: 0;
			grid-template-columns: 1.5em 1fr 100px 150px 150px;
			grid-template-rows: 1fr;
			grid-column-gap: 0px;
			grid-row-gap: 0px;
			padding: 10px 15px;

			.chevron {
				margin-right: 0.5em;
				transform: rotate(90deg);
				transition: calc(0.2s * var(--transition-speed));

				&.collapsed {
					transform: rotate(0);
				}
			}

			.handle {
				overflow: hidden;
				text-overflow: ellipsis;
			}

			.status {
				color: rgb(var(--favourite-color));

				&.online {
					color: rgb(var(--reblog-color));
				}
			}
		}

		.secondary {
			display: flex;
			flex-direction: column;

			div {
				display: grid;
				flex-shrink: 0;
				grid-template-columns: 1.5em 1fr 0px 150px 150px;
				grid-template-rows: 1fr;
				grid-column-gap: 0px;
				grid-row-gap: 0px;
				padding: 10px 15px;
			}
		}
	}
</style>
