<script lang="ts">
	import {
		rdOptionsBehaviorStatusYoutubeEmbedPiped,
		rdOptionsBehaviorStatusYoutubeEmbedPipedHostname,
	} from '../../../stores/Options';

	export let href: string;

	function getEmbedLink(id: string, use_piped: boolean, piped_instance: string) {
		return use_piped ? piped_instance + '/embed/' + id : 'https://www.youtube.com/embed/' + id;
	}

	function convertToEmbed(href: string, use_piped: boolean, piped_instance: string): string {
		const url = new URL(href);
		const pathname = url.pathname.split('/');
		pathname.shift();
		const t = url.searchParams.get('t') ?? '';
		const timecode = t ? '?start=' + t : '';

		switch (pathname[0]) {
			case 'watch':
				const v = url.searchParams.get('v');
				return getEmbedLink(v! + timecode, use_piped, piped_instance);
			case 'shorts':
				return getEmbedLink(pathname[1] + timecode, use_piped, piped_instance);
			default:
				return getEmbedLink(pathname[0] + timecode, use_piped, piped_instance);
		}
	}
</script>

{#if !$rdOptionsBehaviorStatusYoutubeEmbedPiped || ($rdOptionsBehaviorStatusYoutubeEmbedPiped && $rdOptionsBehaviorStatusYoutubeEmbedPipedHostname)}
	<iframe
		src={convertToEmbed(
			href,
			$rdOptionsBehaviorStatusYoutubeEmbedPiped,
			$rdOptionsBehaviorStatusYoutubeEmbedPipedHostname
		)}
		title="YouTube video player"
		class:shorts={href.includes('shorts')}
		frameborder="0"
		referrerpolicy="no-referrer"
		allowfullscreen
	></iframe>
{:else}
	<div class="invalid">Invalid piped instance</div>
{/if}

<style lang="scss">
	iframe {
		margin: 2.5px 0px 0px;
		border: none;
		border-radius: 10px;
		aspect-ratio: 16/9;

		&.shorts {
			aspect-ratio: 9/16;
		}
	}

	.invalid {
		position: relative;
		width: 100%;
		box-sizing: border-box;
		background-color: rgba(var(--column), calc(var(--background-opacity) * 0.75));
		border: 1px solid #4e4e4e;
		border-radius: 15px;
		cursor: pointer;
		overflow: hidden;
		padding: 10px 15px;
		color: rgb(var(--red));
	}
</style>
