<script lang="ts">
	import Image from '../../../Status/Media/Image.svelte';
	import Player from '../../../Status/Media/Player.svelte';
	import IntersectionObserver from '../../../Global/IntersectionObserver.svelte';

	import { GlobalWindow, GlobalWindowState } from '../../../../stores/Window';
	import type { TootDeckAccount } from '../../../../stores/Account/Accounts';

	import { createThreadColumn } from '../../../../lib/ComponentFunctions/thread/createThreadColumn';

	import type { Attachment, ParsedStatus } from '../../../../types/contentParsed';
	import { Entity } from '../../../../types/mastodonEntities';

	export let account: TootDeckAccount;
	export let status: ParsedStatus;

	const media: Array<Attachment> = status.media_attachments;
	const show: boolean = status.tootdeck.media_attachments_show;
	const content_warning: string = status.spoiler_text;

	let failed_to_load: boolean = false;

	function openFull(id: string) {
		if (failed_to_load) {
			return;
		}

		GlobalWindow.create({
			state: GlobalWindowState.FullMediaWithThread,
			special: true,
			clicked: media.findIndex((attachement) => attachement.id === id),
			media,
			column: createThreadColumn(account, status),
			status_id: status.id,
		});
	}
</script>

{#each media as m (m.id)}
	<IntersectionObserver>
		{#if m.type === Entity.AttachmentType.Image || m.type === Entity.AttachmentType.Gifv || m.type === Entity.AttachmentType.Unknown}
			<Image
				media={m}
				media_count={media.length}
				{show}
				profile={true}
				{content_warning}
				on:openFull={() => openFull(m.id)}
				on:openAlt={() => openFull(m.id)}
			/>
		{:else}
			<Player
				media={m}
				media_count={media.length}
				{show}
				profile={true}
				{content_warning}
				on:openFull={() => openFull(m.id)}
				on:openAlt={() => openFull(m.id)}
			/>
		{/if}
	</IntersectionObserver>
{/each}
