<script lang="ts">
	import Dropdown from '../../../Dropdown/Default/Dropdown.svelte';
	import Img from '../../../Global/Img.svelte';
	import DisplayName from '../../../Status/Header/DisplayName.svelte';

	import type { TootDeckAccount } from '../../../../stores/Account/Accounts';
	import { rdOptionsAppearanceAnimationAnimateGifAvatar } from '../../../../stores/Options';

	import type { ParsedAccount } from '../../../../types/contentParsed';

	export let account: TootDeckAccount;
	export let status_account: ParsedAccount;

	let dropdown_header_element: HTMLDivElement;
	let dropdown_header_show: boolean = false;

	$: if (dropdown_header_element) {
		dropdown_header_element.style.top = '50px';
		dropdown_header_element.style.right = '50px';
	}
</script>

<header class="banner" style="background-image: url({status_account.header})">
	<div class="profile">
		<Img
			class="pp"
			src={$rdOptionsAppearanceAnimationAnimateGifAvatar
				? status_account.avatar
				: status_account.avatar_static}
			alt="{status_account.username} profile picture"
			width="35px"
			height="35px"
		/>
		<DisplayName {status_account} show_lock={true} bold={true} bigger_emoji={true} />
	</div>
</header>
{#if dropdown_header_show}
	<Dropdown
		{account}
		{status_account}
		profile_header={true}
		bind:dropdown_element={dropdown_header_element}
		transition={{
			fn: 'scale',
			origin: 'top right',
		}}
		on:clickOutside={() => setTimeout(() => (dropdown_header_show = false))}
	/>
{/if}

<style lang="scss">
	:global(.theme-light) {
		.profile {
			.banner {
				&::after {
					opacity: 0.2;
				}
			}
		}
	}

	.banner {
		z-index: 2;
		min-height: var(--column-header-height);
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

		&::after {
			z-index: -1;
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #000;
			opacity: 0.5;
		}

		.profile {
			width: 100%;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			overflow: hidden;
			text-overflow: ellipsis;

			:global(img:not(.emoji)) {
				border-radius: 100%;
			}

			:global(.tn) {
				$pp: 35px;
				$close-btn: 35px;
				$additional-space: 10px;
				max-width: calc(100% - ($pp + $close-btn + $additional-space));
				font-size: calc(var(--font-size) + 6px);
				padding: 0px 10px;
				box-sizing: border-box;
			}
		}
	}
</style>
