<script lang="ts">
	import { createEventDispatcher, onDestroy, onMount } from 'svelte';
	import type { Dictionary } from 'emoji-mart-svelte';

	import { ActiveTabs } from '../../../../types/profile';

	const eventDispatcher = createEventDispatcher();

	export let active: number;

	let nav_element: HTMLElement;
	let bottom_border: HTMLDivElement;
	let offsets: Dictionary<{ left: number; width: number }> = {};

	function moveBottomBorder(id: number) {
		bottom_border.style.left = offsets[id].left + 'px';
		bottom_border.style.width = offsets[id].width + 'px';
	}

	function getOffsets() {
		const buttons = (Array.from(nav_element.children[1].children) as Array<HTMLElement>).filter(
			(button) => button.dataset?.id
		);

		for (const id of Object.values(ActiveTabs)) {
			const element = buttons.find((button) => +button.dataset.id! === id);
			if (!element) {
				continue;
			}

			const { width } = getComputedStyle(element);

			offsets[id] = {
				left: element.offsetLeft - 1,
				width: parseFloat(width),
			};
		}
	}

	$: if (nav_element) {
		moveBottomBorder(active);
	}

	onMount(() => {
		getOffsets();
		moveBottomBorder(active);

		nav_element.parentElement!.addEventListener('scroll', isStickyTriggered, { passive: true });
	});

	onDestroy(() => {
		nav_element.parentElement!.removeEventListener('scroll', isStickyTriggered);
	});

	let sticky: boolean = false;

	function isStickyTriggered(e: Event) {
		const target = e.target as HTMLDivElement;
		if (!target) {
			return;
		}

		sticky = nav_element.offsetTop <= target.scrollTop;
	}
</script>

<nav class:sticky bind:this={nav_element}>
	<div>
		{#if sticky}
			<slot></slot>
		{/if}
	</div>
	<div class="btn-container" class:sticky>
		<button
			data-id={ActiveTabs.Posts}
			class:active={active === ActiveTabs.Posts}
			on:click={() => eventDispatcher('click', ActiveTabs.Posts)}
		>
			Posts
		</button>
		<button
			data-id={ActiveTabs.Replies}
			class:active={active === ActiveTabs.Replies}
			on:click={() => eventDispatcher('click', ActiveTabs.Replies)}
		>
			Posts and replies
		</button>
		<button
			data-id={ActiveTabs.Pinned}
			class:active={active === ActiveTabs.Pinned}
			on:click={() => eventDispatcher('click', ActiveTabs.Pinned)}
		>
			Pinned
		</button>
		<button
			data-id={ActiveTabs.Media}
			class:active={active === ActiveTabs.Media}
			on:click={() => eventDispatcher('click', ActiveTabs.Media)}
		>
			Media
		</button>
		<div class="bottom" bind:this={bottom_border}></div>
	</div>
</nav>

<style lang="scss">
	nav {
		z-index: -1;
		position: sticky;
		top: -1px;
		height: calc(var(--column-header-height) * 2);

		&.sticky {
			z-index: 10;
		}

		.btn-container {
			height: var(--column-header-height);
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			gap: 0.5ch;
			backdrop-filter: blur(10px);

			&:not(.sticky) {
				transform: translateY((var(--column-header-height)));
			}

			button {
				text-align: center;
				opacity: 0.8;
				text-shadow: 1px 1px 0px black;

				&.active {
					opacity: 1;
					cursor: default;
				}
			}

			.bottom {
				z-index: 200;
				position: absolute;
				left: 10px;
				bottom: 0;
				width: 11%;
				height: 3px;
				background-color: rgb(var(--accent));
				transition: calc(0.1s * var(--transition-speed)) cubic-bezier(0.4, 0, 0.2, 1);
				box-sizing: border-box;
				overflow: hidden;
			}
		}
	}
</style>
