<script lang="ts">
	import { tick } from 'svelte';

	import StatusContainer from '../../../Status/Container.svelte';
	import ColumnLoading from '../../../Global/ColumnLoading.svelte';
	import Quote from '../../../Status/Quote.svelte';
	import TwitterEmbed from '../../../Status/Embed/TwitterEmbed.svelte';
	import MediaContainer from './MediaContainer.svelte';

	import { type LayoutColumn } from '../../../../stores/Columns/Layout';
	import {
		rdOptionsAppearanceBorderStatus,
		rdOptionsBehaviorProfileShowMediaAsGrid,
	} from '../../../../stores/Options';

	import type { NextContent } from '../../../../lib/Columns/types/return';
	import { getRebloggedStatus } from '../../../../lib/ComponentFunctions/getRebloggedStatus';
	import { QuoteManager } from '../../../../lib/Managers/QuoteManager';
	import { getColumnPosition } from '../../../../lib/ComponentFunctions/columns/getColumnPosition';
	import { createAndInsertThreadColumn } from '../../../../lib/ComponentFunctions/thread/createThreadColumn';
	import type { ProfileColumn } from '../../../../lib/Columns/TootDeckColunms/ProfileColumn';

	import type { ParsedStatus } from '../../../../types/contentParsed';
	import { ActiveTab } from '../../../../types/profile';

	export let props: LayoutColumn<ProfileColumn, ParsedStatus>;
	export let active: ActiveTab;

	const options = props.options;

	let stInitialized = props.instance.initialized;
	let content = props.content;
	$: {
		stInitialized = props.instance.initialized;
		if ($stInitialized) {
			content = props.content;
		}
	}

	let previous: Promise<NextContent> | null = null;
	let nothing_more: boolean = false;

	$: {
		active;
		nothing_more = false;
	}

	async function getPrevious() {
		if (previous) {
			return;
		}

		previous = props.instance.previousContent();

		nothing_more = (await previous) === true;

		await tick();

		previous = null;
	}

	function scroll(e: Event) {
		const target = e.target as HTMLDivElement;
		if (!target) {
			return;
		}

		// on bottom
		if (!previous && target.scrollHeight - (target.scrollTop + target.clientHeight) < 750) {
			getPrevious().then(() => {
				if (nothing_more) {
					return;
				}

				target.scrollTo({
					behavior: 'instant',
					top: target.scrollTop - 1,
				});
			});
		}
	}

	/**
	 * Click handler
	 */
	// #region

	async function handleClick(status: ParsedStatus) {
		const column_index = getColumnPosition(props.instance);
		await createAndInsertThreadColumn(props.account, status, column_index);
	}

	function click(
		e: CustomEvent<{
			original: MouseEvent;
			status: ParsedStatus;
		}>
	) {
		const { status } = e.detail;
		handleClick(status);
	}

	function clickQuote(
		e: CustomEvent<{
			original: MouseEvent;
			url?: string;
			status?: ParsedStatus;
		}>
	) {
		const { url, status } = e.detail;
		if (!url && !status) {
			return;
		}

		if (status) {
			handleClick(status);
			return;
		}

		if (url) {
			const entity = QuoteManager.getSync(props.instance, url);
			if (entity !== 'DEAD') {
				handleClick(entity!);
				return;
			}
		}
	}

	// #endregion
</script>

<div class="profile-container" on:scroll={scroll}>
	<slot></slot>
	{#if active === ActiveTab.Media && $rdOptionsBehaviorProfileShowMediaAsGrid}
		<div class="media">
			{#each $content.get() as status (status.id)}
				<MediaContainer account={props.account} {status}></MediaContainer>
			{/each}
		</div>
	{:else}
		{#each $content.get() as status (status.id)}
			<StatusContainer
				account={props.account}
				raw_status={status}
				column={props.instance}
				border={$rdOptionsAppearanceBorderStatus}
				force_disable_animation={true}
				on:click={click}
				on:clickQuote={clickQuote}
			>
				<svelte:fragment slot="quote">
					<Quote
						column={props.instance}
						account={props.account}
						status={getRebloggedStatus(status)}
						on:clickQuote={clickQuote}
					/>
				</svelte:fragment>
				<svelte:fragment slot="twitter">
					<TwitterEmbed
						column={props.instance}
						account={props.account}
						status={getRebloggedStatus(status)}
					/>
				</svelte:fragment>
			</StatusContainer>
		{/each}
	{/if}
	{#if $stInitialized}
		{#if !$content.length}
			<div class="empty" style="padding: 50px 0px;">
				<div>No statuses.</div>
			</div>
		{:else if nothing_more}
			<div class="empty">
				<div>No more statuses.</div>
			</div>
		{:else}
			<button class="find-previous" on:click={() => getPrevious()}>Load more</button>
		{/if}
	{/if}
</div>
{#if !$options.collapsed && (!$stInitialized || previous)}
	<ColumnLoading />
{/if}

<style lang="scss">
	.profile-container {
		position: relative;
		width: 100%;
		height: 100%;
		overflow-anchor: none;
		will-change: transform;
		overflow-y: scroll;

		.empty {
			height: auto;
		}

		.media {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-column-gap: 0px;
			grid-row-gap: 0px;

			:global(.intersection-observer) {
				aspect-ratio: 1;
				width: 100%;
				overflow: hidden;
			}

			:global(video) {
				transform: none !important;
			}

			:global(.image-container),
			:global(.video-container) {
				aspect-ratio: 1;
			}
		}
	}
</style>
