<script lang="ts">
	import { dndzone } from 'svelte-dnd-action';

	import { stLayout } from '../../stores/Columns/Layout';
	import ButtonIcon from './Buttons/ButtonIcon.svelte';

	import { stAccountsSameInstance } from '../../stores/Account/Accounts';

	import { notypecheck } from '../../lib/Utils/js/notypecheck';
	import type { IColumn } from '../../lib/Columns/types/interfaces';
	import { scrollRight } from '../../lib/Utils/scroll';
	import { clamp } from '../../lib/Utils/number/clamp';
	import { KeyboardHandler } from '../../lib/KeyboardHandler';
	import { isInput } from '../../lib/Utils/isInput';
	import { addFullHandleIfNecessary } from '../../lib/ComponentFunctions/addFullHandle';

	let items = mapIDs($stLayout);
	$: items = mapIDs($stLayout);

	function mapIDs(layout: Array<IColumn>) {
		return layout.map((column) => ({ id: column.id, column: column }));
	}

	function handleDndConsider(e: any) {
		items = e.detail.items;
	}

	function handleDndFinalize(e: any) {
		items = e.detail.items;
		$stLayout = items.map((value) => value.column);
	}

	function scrollToColumn(column: IColumn) {
		const index = $stLayout.findIndex((c) => Object.is(c, column))!;

		const container = document.querySelector('.columns-container')!;
		const container_scroll_width = container.scrollWidth;
		const container_width = container.clientWidth;
		const container_scrollable = container_scroll_width - container_width;

		const column_element = container?.children[index] as HTMLDivElement;
		const column_offset = column_element.offsetLeft;

		scrollRight(container, clamp(column_offset, 0, container_scrollable), 500);
	}

	function scrollToColumnIndex(index: number): boolean {
		const column = index ? items[index - 1]?.column : items.at(-1)?.column;
		if (!column) {
			return false;
		}

		scrollToColumn(column);

		return true;
	}

	for (let i = 0; i < 10; i++) {
		KeyboardHandler.subscribe(`Sidebar:scrollToColumn:${i}`, `Numpad${i}`, (e) =>
			isInput(e) ? false : scrollToColumnIndex(i)
		);
	}
</script>

<div class="scrollable-container">
	<div
		class="scrollable"
		{...notypecheck({
			'on:consider': true,
			'on:finalize': true,
		})}
		use:dndzone={{
			items: items,
			type: 'sidebar',
			dropFromOthersDisabled: true,
			dropTargetStyle: { border: 'none' },
		}}
		on:consider={handleDndConsider}
		on:finalize={handleDndFinalize}
	>
		{#each items as item (item.id)}
			<ButtonIcon
				title={item.column.name}
				account={addFullHandleIfNecessary(
					$stAccountsSameInstance,
					item.column.props.account
				)}
				on:clickTimeout={() => scrollToColumn(item.column)}
			>
				<div class="icon {item.column.icon}" />
			</ButtonIcon>
		{/each}
	</div>
</div>

<style lang="scss">
	.scrollable-container {
		flex-grow: 1;
		overflow: hidden;

		.scrollable {
			display: flex;
			flex-direction: column;
			overflow: auto;
			scrollbar-width: none;
			height: 100%;

			&::-webkit-scrollbar {
				width: 0;
			}

			.icon {
				display: grid;
				justify-items: center;
				align-items: center;
				font-size: 20px;
			}
		}
	}
</style>
