<script lang="ts">
	import ContentRenderer from '../ContentRenderer/ContentRenderer.svelte';

	import type { ParsedStatus } from '../../types/contentParsed';
	import { Entity } from '../../types/mastodonEntities';

	export let status: ParsedStatus;
	export let show_cw: boolean;

	function toggleCW() {
		show_cw = !show_cw;
	}
</script>

<button
	class="content-warning"
	class:show={show_cw}
	class:direct={status.visibility === Entity.Visibility.Direct}
	on:click|stopPropagation={() => toggleCW()}
>
	<div class="text">
		<ContentRenderer content={status.spoiler_text} emojis={status.emojis} bigger_emoji={true} />
	</div>
	<div class="info">
		<p>{show_cw ? 'Hide' : 'Show'}</p>
		{#if status.poll}
			<div class="poll-preview">
				<div class="icon fa fa-tasks" />
				<div class="text">Poll</div>
			</div>
		{/if}
	</div>
</button>

<style lang="scss">
	.content-warning {
		position: relative;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		flex-wrap: wrap;
		gap: 5px;
		padding: 5px 10px;
		font-weight: 500;
		border-left: 3px solid rgb(var(--accent));
		backdrop-filter: blur(15px);
		background-color: rgba(var(--lighter), 0.5);

		&:not(.direct) {
			margin-top: 5px;
		}

		&.direct.show {
			margin-bottom: 5px;
		}

		.text {
			width: 100%;
			overflow: hidden;
			word-break: break-word;
		}

		.info {
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			opacity: 0.8;
			font-size: calc(var(--font-size) - 2px);

			.poll-preview {
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;
				gap: 5px;
				margin-bottom: -1px;
			}
		}
	}
</style>
