<script lang="ts">
	import ContentRenderer from '../ContentRenderer/ContentRenderer.svelte';

	import { rdOptionsAppearanceCustomValueReblog } from '../../stores/Options';

	import { getUserDisplayName } from '../../lib/ComponentFunctions/getUserDisplayName';

	import type { ParsedStatus } from '../../types/contentParsed';

	export let raw_status: ParsedStatus;
	export let thread_view: boolean;

	let last_update: number;
	let status: ParsedStatus;
	$: renderNeeded(raw_status);

	function renderNeeded(current: ParsedStatus) {
		if (!current.tootdeck || !current.account.tootdeck) {
			console.error('Fatal: tootdeck  is undefined', current);
			return;
		}

		if (current.tootdeck.update !== last_update) {
			status = current;
			last_update = current.tootdeck.update;
		}
	}
</script>

<!-- {raw_status.local_id} -->
{#if !thread_view}
	<!-- Reblog indicator -->
	{#if raw_status.reblog}
		<div class="wrapper reblog">
			<div class="left-0">
				<div class="icon fa fa-retweet" />
			</div>
			<div class="right-0">
				<button on:click|stopPropagation>
					<ContentRenderer
						content={getUserDisplayName(raw_status.account)}
						emojis={raw_status.account.emojis}
					/>
				</button>
				{$rdOptionsAppearanceCustomValueReblog}
			</div>
		</div>
	{/if}
	<!-- Pin indicator -->
	<!-- {#if raw_status.pinned}
	<div class="wrapper pinned">
		<div class="left-0">
			<div class="icon fa fa-thumb-tack" />
		</div>
		<div class="right-0">Pinned</div>
	</div>
{/if} -->
{/if}

<style lang="scss">
	.wrapper {
		display: flex;
		flex-direction: row;
		gap: 7.5px;

		&.reblog {
			align-items: center;
			padding-bottom: 5px;
			opacity: 0.7;

			.left-0 {
				width: 36px;
				display: grid;
				justify-items: center;
				justify-content: end;
				flex-shrink: 0;

				.icon {
					width: 14px;
					height: 14px;
					color: rgb(var(--reblog-color));
				}
			}

			.right-0 {
				button {
					&:hover {
						opacity: 0.7;
					}
				}
			}
		}

		&.pinned {
			align-items: center;
			padding-bottom: 5px;
			opacity: 0.7;

			.left-0 {
				width: 36px;
				display: grid;
				justify-items: center;
				justify-content: end;
				flex-shrink: 0;

				.icon {
					color: rgb(var(--accent));
				}
			}
		}
	}
</style>
