<script lang="ts">
	import { bounceOut } from 'svelte/easing';

	import Button from '../Global/Button/Button.svelte';
	import ContentRenderer from '../ContentRenderer/ContentRenderer.svelte';

	import type { TootDeckAccount } from '../../stores/Account/Accounts';
	import { NotificationModalType, notificationModal } from '../../stores/NotificationsModal';

	import { transitionSlide } from '../../lib/Transitions/transitionOverride';
	import { errorModal } from '../../lib/errorModal';
	import { updateObject } from '../../lib/Utils/js/updateObject';
	import { UpdatePoll } from '../../lib/updatePolls';
	import { ContentManager } from '../../lib/Managers/ContentManager';

	import type { ParsedStatus } from '../../types/contentParsed';
	import type { Entity } from '../../types/mastodonEntities';

	export let account: TootDeckAccount;
	export let status: ParsedStatus;
	export let emojis: Array<Entity.Emoji>;
	export let is_mine: boolean;
	export let performance_mode: boolean;

	let poll: Entity.Poll;
	$: {
		poll = status.poll!;
		poll.voted = poll.voted || is_mine;
	}

	const poll_uuid = generatePollUUID();

	let id = 0;
	let choice: Array<Entity.PollOption & { id: number; uuid: string }>;
	let select: Array<number> = [];
	let expires: string | null;
	let show_results: boolean = false;
	let show_vote_btn: boolean = true;
	$: if (poll) {
		show_vote_btn = expires !== 'closed' && !poll.voted && !show_results;
	}

	$: {
		poll;
		choice = poll.options.map((choice) => ({
			...choice,
			id,
			uuid: generateChoiceUUID(id++),
		}));
		expires = calcExpires();
		id = 0;
	}

	function generatePollUUID() {
		return `poll-${window.crypto.randomUUID()}`;
	}

	function generateChoiceUUID(id: number) {
		return `poll-${id}-${window.crypto.randomUUID()}`;
	}

	function getSuffix(value: number, multiple: boolean) {
		if (multiple) {
			return value <= 1 ? 'person' : 'people';
		}

		return value <= 1 ? 'vote' : 'votes';
	}

	function getChoiceVotesCount(choice: Entity.PollOption): string {
		return choice.votes_count + ' ' + getSuffix(choice.votes_count ?? 0, false);
	}

	function getVotesCount(poll: Entity.Poll): [number, string] {
		if (poll.multiple && poll.voters_count) {
			return [poll.voters_count, getSuffix(poll.voters_count, true)];
		}

		return [poll.votes_count, getSuffix(poll.votes_count, false)];
	}

	function onSelect(n: number) {
		if (!poll.multiple) {
			select = [n];
			return;
		}

		select.indexOf(n) === -1
			? (select = [n, ...select])
			: (select = select.filter((x) => x !== n));
	}

	function formatTimeDiff(expires_in: number) {
		let t = {
			ss: Math.floor(expires_in % 60),
			mm: Math.floor((expires_in / 60) % 60),
			hh: Math.floor((expires_in / 60 / 60) % 24),
			d: Math.floor(expires_in / 60 / 60 / 24),
		};

		if (expires_in < 0) {
			return 'closed';
		}

		if (t.d >= 1) {
			return t.d + (t.d > 1 ? ' days ' : ' day ') + t.hh + 'h left';
		}

		if (t.hh >= 1) {
			return t.hh + 'h ' + (t.mm < 10 ? '0' + t.mm : t.mm) + 'min left';
		}

		if (t.mm >= 1) {
			return t.mm + 'min left';
		}

		if (t.ss) {
			return 'closing soon';
		}

		return 'closed';
	}

	function calcExpires() {
		if (!poll.expires_at) {
			return null;
		}

		const offset = (new Date(poll.expires_at).valueOf() - new Date().valueOf()) / 1000;
		const expires_in = new Date(offset).valueOf();

		return formatTimeDiff(expires_in);
	}

	function calcPercentage(total: number, count: number) {
		if (!total) {
			return '0';
		}

		const percentage = ((count / total) * 100).toFixed(1);
		const split = percentage.split('.');

		return split[1] === '0' ? split[0] : percentage;
	}

	function updatePoll(response: Entity.Poll) {
		if (poll.own_votes) {
			updateObject(poll, response);
			poll = poll;
		} else {
			const casted = response;
			casted['own_votes'] = select;
			poll = casted;
		}

		ContentManager.Status.forceUpdate(account.mirrorAPI.handle, status.id);
	}

	async function refresh(args?: { force?: boolean; error_modal?: boolean }) {
		const response = await account.mirrorAPI.Statuses.Poll.get(poll.id);
		if (!response) {
			if (args?.error_modal) {
				errorModal('Failed to refresh poll.', undefined, true);
			}
			return false;
		}

		updatePoll(response);
		if (args?.force && poll.voted) {
			notificationModal.create(
				NotificationModalType.Warn,
				'You already voted on this poll.',
				true
			);
		}

		return true;
	}

	async function vote() {
		const response = await account.mirrorAPI.Statuses.Poll.vote(poll.id, select);
		if (!response) {
			const re = await refresh({ force: true });
			if (!re) {
				errorModal('Failed to vote on this poll.', undefined, true);
			}
			return;
		}

		/**
		 * Sometimes the response is not up to date, setting values manually
		 */

		if (response.votes_count === poll.votes_count) {
			response.votes_count++;
		}

		response.options.forEach((option, index) => {
			if (select.includes(index) && poll.options[index].votes_count === option.votes_count) {
				option.votes_count ? option.votes_count++ : (option['votes_count'] = 1);
			}
		});

		response.own_votes = select;

		updatePoll(response);
	}

	const args = { performance_mode, expired: false };
	$: args.expired = expires === 'closed';

	UpdatePoll.add(account, status, args);
</script>

<div class="poll">
	{#each choice as choice (choice.id)}
		{#if show_vote_btn}
			<div class="choice">
				<input
					id={choice.uuid}
					type={poll.multiple ? 'checkbox' : 'radio'}
					name={poll_uuid}
					value={choice.title}
					class="poll-input"
					on:change={() => onSelect(choice.id)}
				/>
				<label
					for={choice.uuid}
					class="poll-label"
					style:transition={'calc(0.1s * var(--transition-speed))'}
				>
					<ContentRenderer content={choice.title} {emojis} />
				</label>
			</div>
		{:else}
			<div class="result">
				<div class="top">
					<div class="percentage">
						{calcPercentage(getVotesCount(poll)[0], choice.votes_count || 0)}%
					</div>
					<div class="value">
						{#if poll.own_votes && poll.own_votes.some((n) => n === choice.id)}
							<div class="fa fa-check" />
						{/if}
						<ContentRenderer content={choice.title} {emojis} />
					</div>
				</div>
				<div
					class="bottom"
					style:width={calcPercentage(getVotesCount(poll)[0], choice.votes_count || 0) +
						'%'}
					in:transitionSlide={{ axis: 'x', duration: 750, easing: bounceOut }}
				/>
				<div>{getChoiceVotesCount(choice)}</div>
			</div>
		{/if}
	{/each}
	<footer>
		{#if show_vote_btn}
			<div class="btn-vote">
				<Button style="small" lock={!select.length} on:clickTimeout={() => vote()}>
					Vote
				</Button>
			</div>
		{/if}
		<div class="flex">
			{#if !show_vote_btn}
				<button class="btn-refresh" on:click={() => refresh()}>Refresh</button>
				<span>·</span>
			{/if}
			<div class="people">
				{getVotesCount(poll).join(' ')}
			</div>
			{#if expires}
				<span>·</span>
				<div class="time-left">{expires}</div>
			{/if}
			{#if !poll.voted}
				<span>·</span>
				<button class="btn-result" on:click={() => (show_results = !show_results)}>
					{#if show_results}
						Vote
					{:else}
						Results
					{/if}
				</button>
			{/if}
		</div>
	</footer>
</div>

<style lang="scss">
	.poll {
		z-index: 1;
		display: flex;
		flex-direction: column;
		gap: 10px;
		padding: 10px 0px 2.5px;
		cursor: default;

		.choice {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 5px;

			input {
				display: none;

				&[type='radio'] + label::before {
					border-radius: 100%;
				}

				&:checked + label::before {
					background: rgb(var(--accent));
					box-shadow: inset 0px 0px 2px 0px rgb(var(--text));
				}
			}

			label {
				all: unset;
				flex-grow: 1;
				cursor: pointer;
				box-sizing: border-box;
				display: flex;
				align-items: center;
				gap: 7.5px;
				transition: calc(0.1s * var(--transition-speed));

				&::before {
					content: '';
					background-color: transparent;
					width: 20px;
					height: 20px;
					border: 1px solid rgb(var(--text));
					flex-shrink: 0;
				}
			}
		}

		.result {
			display: flex;
			flex-direction: column;

			.top {
				display: flex;
				flex-direction: row;
				gap: 20px;

				.percentage {
					width: 50px;
					display: flex;
					flex-direction: row;
					flex-shrink: 0;
				}
			}

			.bottom {
				height: 5px;
				background-color: rgb(var(--accent));
				transition: calc(0.2s * var(--transition-speed));
			}
		}

		footer {
			display: flex;
			flex-direction: row;
			gap: 0.55ch;

			.flex {
				display: flex;
				flex-direction: row;
				align-items: center;
				flex-wrap: wrap;
				gap: 0.55ch;
			}

			.btn-vote {
				:global(button) {
					padding: 5px 10px;
				}
			}

			.btn-refresh,
			.btn-result {
				text-decoration: underline;
			}

			.people,
			.time-left {
				text-align: center;
			}
		}
	}
</style>
