<script lang="ts">
	import type { TootDeckAccount } from '../../stores/Account/Accounts';
	import { GlobalWindowState, GlobalWindow } from '../../stores/Window';

	import {
		getReplyingAccounts,
		type ReplyAccount,
	} from '../../lib/ComponentFunctions/getReplyingAccounts';
	import { replyRemoveOwner } from '../../lib/Utils/replyRemoveOwner';
	import type { ParsedNode } from '../../lib/ContentParser/flattenHTML';

	import type { ParsedStatus } from '../../types/contentParsed';

	export let account: TootDeckAccount;
	export let status: ParsedStatus;
	export let thread_view: boolean;

	let accts: Array<ReplyAccount>;
	let no_owner: Array<ReplyAccount>;
	let remaining_dom_mentions: Array<ParsedNode>;
	let mentions: Array<ReplyAccount>;

	$: {
		accts = getReplyingAccounts(status);
		no_owner = replyRemoveOwner(account, status, accts);
		remaining_dom_mentions =
			status.content?.filter(
				(x) => x.tag === 'a' && x.attributes?.class?.includes('mention')
			) ?? [];
		mentions = no_owner.filter(
			(x) =>
				x.id === status.in_reply_to_account_id ||
				!remaining_dom_mentions.find((m) => x.url === m.attributes?.href)
		);
	}
</script>

{#if mentions.length}
	<button
		class="replying"
		class:thread={thread_view}
		on:click|stopPropagation={() =>
			GlobalWindow.create({
				state: GlobalWindowState.Reply,
				special: false,
				account,
				status_account: status.account,
				replying_to: mentions,
				readonly: true,
			})}
	>
		<div class="no-warp">
			Replying to
			{#each mentions as acc (acc.id)}
				<span>@{acc.acct.split('@')[0] ?? acc.acct} </span>
			{/each}
		</div>
	</button>
{/if}

<style lang="scss">
	.replying {
		width: 100%;
		font-size: calc(var(--font-size) - 1px);
		white-space: wrap;
		overflow: hidden;
		text-overflow: ellipsis;
		margin-top: 1.5px;

		&.thread {
			margin-top: 3px;
			margin-bottom: -1.5px;
		}

		.no-warp {
			color: rgb(var(--icons));
			display: inline-block;
		}

		span {
			display: inline-block;
			white-space: pre;
			color: rgb(var(--accent));

			&:hover {
				filter: brightness(1.5);
			}
		}
	}
</style>
