<script lang="ts">
	import { createEventDispatcher } from 'svelte';

	import ContentRenderer from '../ContentRenderer/ContentRenderer.svelte';

	import { onClickSelect } from '../../lib/UseClick/clickSelect';

	import type { ParsedDiff, ParsedStatus } from '../../types/contentParsed';
	import { Entity } from '../../types/mastodonEntities';

	const eventDispatcher = createEventDispatcher();

	export let status: ParsedStatus;
	export let reblog_window: boolean;
	export let thread_view: boolean;
	export let quote: boolean;
	export let diff: Array<ParsedDiff> | null;
</script>

<!--
	status.content => normal behavoir
	!status.content && !hasAttachements(status) => displays "This status has no content"
-->
{#if diff}
	<div class="text wrap">
		{#each diff as [d, v]}
			{#if d === -1}
				<span class="del">
					<ContentRenderer content={v} emojis={status.emojis} bigger_emoji={true} />
				</span>
			{:else if d === 1}
				<span class="ins">
					<ContentRenderer content={v} emojis={status.emojis} bigger_emoji={true} />
				</span>
			{:else}
				<ContentRenderer content={v} emojis={status.emojis} bigger_emoji={true} />
			{/if}
		{/each}
	</div>
{:else if status.content?.length}
	{#if thread_view || reblog_window}
		<div
			class="text"
			class:wrap={!reblog_window}
			class:direct={status.visibility === Entity.Visibility.Direct}
			class:clamp={reblog_window}
			class:media={!!status.media_attachments.length}
		>
			<ContentRenderer
				content={status.content}
				emojis={status.emojis}
				bigger_emoji={true}
				on:clickQuote
				on:hashtag
			/>
		</div>
	{:else}
		<button
			use:onClickSelect={{
				enable: !quote,
				cb: (e) => eventDispatcher('click', { original: e, status }),
			}}
			class="text"
			class:wrap={!reblog_window}
			class:direct={status.visibility === Entity.Visibility.Direct}
		>
			<ContentRenderer
				content={status.content}
				emojis={status.emojis}
				bigger_emoji={true}
				on:clickQuote
				on:hashtag
			/>
		</button>
	{/if}
{/if}

<style lang="scss">
	.text {
		width: 100%;
		color: rgb(var(--text));
		user-select: text;
		padding: 5px 0px 0px;
		box-sizing: border-box;

		&.clamp {
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 8;
			line-clamp: 8;
			-webkit-box-orient: vertical;
			box-orient: vertical;
		}

		&.wrap {
			white-space: pre-wrap;
			word-break: break-word;
		}

		&.direct {
			padding: 0px;
		}
	}
</style>
