<script lang="ts">
	import { format } from 'date-fns';

	import { is12h } from '../../lib/Utils/date/is12hor24h';
	import { VERSION } from '../../lib/Constants/Version';

	export let now: Date;

	function getDate(now: Date) {
		return is12h() ? format(now, 'hh:mm:ss a') : format(now, 'HH:mm:ss');
	}
</script>

<footer>
	<div class="wrapper">
		<p>TootDeck <b>{VERSION}</b></p>
		<p>{getDate(now)}</p>
	</div>
</footer>

<style lang="scss">
	footer {
		width: 100%;
		height: 50px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
		background-color: rgb(var(--header));
		border-top: 1px solid rgb(var(--thread-line-color));

		.wrapper {
			width: calc(100% - 20px);
			max-width: 1280px;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			gap: 5ch;
		}
	}
</style>
