<script lang="ts">
	import Img from '../Global/Img.svelte';
	import Button from '../Global/Button/Button.svelte';

	import { stAdmin } from '../../stores/Account/Auth';
	import { rdOptionsAppearanceExtraPrideLogoSrc } from '../../stores/Options';

	import { Dashboard } from '../../types/dashboard';

	import { prideLogo } from '../../assets/prideLogo';

	export let state: Dashboard.State;
	export let poll: boolean;

	function convertState() {
		switch (state) {
			case Dashboard.State.Home:
				return Dashboard.StateConvert.Home;
			case Dashboard.State.RedisInteractions:
				return Dashboard.StateConvert.RedisInteractions;
			case Dashboard.State.RedisInstances:
				return Dashboard.StateConvert.RedisInstances;
			case Dashboard.State.RedisExcludedDomains:
				return Dashboard.StateConvert.RedisExcludedDomains;
			case Dashboard.State.RedisTwitterEmbed:
				return Dashboard.StateConvert.RedisTwitterEmbed;
		}
	}

	function getURLSearchParams() {
		const params = Array.from(new URLSearchParams(window.location.search));

		const old_state = params.find(([key]) => key === 'state');
		const new_state = convertState();
		if (!old_state) {
			params.push(['state', new_state]);
		} else {
			old_state[1] = new_state;
		}

		if (!params.length) {
			return '';
		}

		return '?' + params.map(([key, value]) => (value ? `${key}=${value}` : key)).join('&');
	}

	function updateHistory(params: string = getURLSearchParams()) {
		history.pushState({ id: '' }, 'Dashboard', window.location.origin + '/dashboard' + params);
	}

	function changeState(new_state: Dashboard.State) {
		state = new_state;

		updateHistory();
	}

	function changePollState() {
		let params = getURLSearchParams();
		params = params.replace(/[?:\?|&]poll|([?:=](?:true|false))/g, '');

		if (poll) {
			if (params.length) {
				params += '&poll';
			} else {
				params += '?poll';
			}
		}

		updateHistory(params);
	}

	$: {
		poll;
		changePollState();
	}
</script>

<nav>
	<div class="left">
		<div class="logo">
			<Img
				src={prideLogo[$rdOptionsAppearanceExtraPrideLogoSrc] ?? 'tootdeck.svg'}
				alt={`TootDeck ${$rdOptionsAppearanceExtraPrideLogoSrc} logo`}
				width="30px"
				height="30px"
			/>
			<p>Dashboard</p>
		</div>
		{#if $stAdmin}
			<button
				class="btn"
				class:current={state === Dashboard.State.Home}
				on:click={() => changeState(Dashboard.State.Home)}>Home</button
			>
			<div
				class="btn redis"
				class:current={state === Dashboard.State.RedisInteractions ||
					state === Dashboard.State.RedisInstances ||
					state === Dashboard.State.RedisExcludedDomains ||
					state === Dashboard.State.RedisTwitterEmbed}
			>
				Redis
				<div class="subredis">
					<button
						class="btn"
						class:current={state === Dashboard.State.RedisInteractions}
						on:click={() => changeState(Dashboard.State.RedisInteractions)}
						>Interactions</button
					>
					<button
						class="btn"
						class:current={state === Dashboard.State.RedisInstances}
						on:click={() => changeState(Dashboard.State.RedisInstances)}
						>Instances</button
					>
					<button
						class="btn"
						class:current={state === Dashboard.State.RedisExcludedDomains}
						on:click={() => changeState(Dashboard.State.RedisExcludedDomains)}
						>Excluded Domains</button
					>
					<button
						class="btn"
						class:current={state === Dashboard.State.RedisTwitterEmbed}
						on:click={() => changeState(Dashboard.State.RedisTwitterEmbed)}
						>Twitter Embed</button
					>
				</div>
			</div>
		{/if}
	</div>
	<div class="right">
		<Button
			style="small"
			color={poll ? 'rgb(var(--green))' : ''}
			on:clickTimeout={() => (poll = !poll)}
		>
			{#if poll}
				Stop polling
			{:else}
				Poll
			{/if}
		</Button>
	</div>
</nav>

<style lang="scss">
	nav {
		width: 100%;
		height: 50px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-shrink: 0;
		gap: 1ch;
		background-color: rgb(var(--header));
		border-bottom: 1px solid rgb(var(--thread-line-color));

		div {
			display: flex;
			flex-direction: row;
			align-items: center;
		}

		.left {
			.logo {
				gap: 5px;
				padding: 0px 20px;
			}

			.btn {
				padding: 0px 20px;
				height: 100%;

				&:hover,
				&.current {
					background-color: rgb(var(--light));
				}

				&.current:hover {
					background-color: rgb(var(--lighter));
				}

				&.redis {
					cursor: pointer;
					user-select: none;
				}

				&.redis:hover .subredis {
					height: 50px;
				}

				.subredis {
					z-index: 1;
					position: absolute;
					top: 50px;
					left: 0;
					width: 100%;
					height: 0;
					background-color: rgb(var(--header));
					overflow: hidden;
					transition: calc(0.2s * var(--transition-speed));
				}
			}
		}
	}
</style>
