<script lang="ts">
	import { formatDistance } from 'date-fns';

	import Section from './Section.svelte';

	import { addThousandSeparator } from '../../lib/Utils/number/addThousandSeparator';

	import type { Dashboard } from '../../types/dashboard';

	export let now: Date;
	export let max_concurrency: number;
	export let workers: Array<Dashboard.Worker>;

	function getOnlineSince(started_at: string) {
		const started = new Date(started_at);
		return formatDistance(started, now) + ' ago';
	}
</script>

<Section name={'workers'} workers={true}>
	{#if workers.length}
		<div>
			<p>UUID</p>
			<p>Started</p>
			<p>Memory usage</p>
			<p>Threads</p>
			<p>Processed jobs</p>
			<p>Average job time</p>
			<p>Status</p>
		</div>
		{#each workers as worker (worker.uuid)}
			<div>
				<p>{worker.uuid.slice(0, 8)}</p>
				<p>{getOnlineSince(worker.started_at)}</p>
				<p>{addThousandSeparator(Math.round(worker.memory / 1024 / 1024))} MiB</p>
				<p>{worker.concurrency}/{max_concurrency}</p>
				<p>{addThousandSeparator(worker.times.count)}</p>
				<p>{Math.round(worker.times.average)} ms</p>
				<p class="status" class:busy={worker.concurrency !== 0}>
					{worker.concurrency !== 0 ? 'Busy' : 'Idle'}
				</p>
			</div>
		{/each}
	{:else}
		<p>No available worker</p>
	{/if}
</Section>

<style lang="scss">
	div {
		display: grid;
		flex-shrink: 0;
		grid-template-columns: 90px repeat(5, 1fr) 75px;
		grid-template-rows: 1fr;
		grid-column-gap: 0px;
		grid-row-gap: 0px;
		padding: 10px 15px;

		@media (max-width: 1050px) {
			grid-template-columns: 90px repeat(4, 1fr) 75px;

			p {
				&:nth-child(3) {
					display: none;
				}
			}
		}

		@media (max-width: 800px) {
			grid-template-columns: 90px 1fr 90px 1fr 75px;

			p {
				&:nth-child(3),
				&:nth-child(6) {
					display: none;
				}
			}
		}

		@media (max-width: 600px) {
			grid-template-columns: 90px 1fr 1fr 50px;

			p {
				&:nth-child(3),
				&:nth-child(4),
				&:nth-child(6) {
					display: none;
				}
			}
		}

		&:first-child {
			font-weight: bold;
		}

		&:nth-child(even) {
			background-color: rgb(var(--composer));
		}

		&:not(:first-child) p:first-child {
			font-family: monospace;
			font-size: 16px;
		}

		p {
			display: flex;
			flex-direction: row;
			align-items: center;

			&.status {
				color: rgb(var(--reblog-color));

				&.busy {
					color: rgb(var(--favourite-color));
				}
			}
		}
	}
</style>
