<script lang="ts">
	import Emoji from './Emoji.svelte';
	import Row from './Row.svelte';

	import { getDefaultCategories } from '../../config/defaultCategories';

	import type { EmojiIndexed } from '../../types/emoji.types';
	import type { Dictionary, PickerProps } from '../../types/picker.types';
	import type { DataCategory, DataCategoryCustom } from '../../types/data.types';
	import { onMount } from 'svelte';

	export let Props: PickerProps;

	/** Dispatch current scrolled category to Navigation.svelte  */
	export let scrolled_catergory: string;
	/** Scroll to catergory clicked in Navigation.svelte */
	export let scroll_to_category: string;
	/** Dispatch hovered emoji to Preview.svelte */
	export let hovered_emoji: EmojiIndexed | null;
	/** Get found emojis when searching in Search.svelte */
	export let found_emojis: Array<EmojiIndexed> | null;

	/**
	 * UI/UX
	 */
	// #region

	let scroll_container: HTMLDivElement;
	let titles_offsets: Dictionary<{ start: number; end: number }> = {};

	function getTitlesOffset() {
		const sections = (Array.from(scroll_container.childNodes) as Array<HTMLDivElement>).filter(
			(section) => section.dataset?.category
		);

		for (const category of getDefaultCategories()) {
			const element = sections.find((section) => section.dataset.category === category);
			if (!element) {
				continue;
			}

			const start = element.offsetTop ?? 0;
			const end = start + (element.clientHeight ?? 0);
			titles_offsets[category] = {
				start,
				end,
			};
		}
	}

	function getScrolledCategory(e: UIEvent) {
		const target = e.target as HTMLElement;
		const value = target.scrollTop + 5;

		for (const category of getDefaultCategories()) {
			const { start, end } = titles_offsets[category];

			if (start <= value && end >= value) {
				scrolled_catergory = category;
				break;
			}
		}
	}

	function scrollToCategory(id: string) {
		Props.scrollTo(scroll_container, titles_offsets[id].start, 225);
	}

	onMount(() => {
		getTitlesOffset();
	});

	$: if (scroll_container) {
		scrollToCategory(scroll_to_category);
	}

	// #endregion

	type ChunkedData = { id: number; chunk: Array<string> };
	type ChunkedCategory = { id: string; name: string; emojis: Array<ChunkedData> };

	function genIDs(array: Array<any>) {
		return array.map((chunk, index) => ({ id: index, chunk }));
	}

	function chunkEmojis(emojis: Array<any>): Array<Array<any>> {
		const chunked: Array<Array<any>> = [];
		let i = 0;
		while (i < emojis.length) {
			chunked.push(emojis.slice(i, i + 9));
			i += 9;
		}

		return chunked;
	}

	function chunkCategory(category: DataCategory | DataCategoryCustom): ChunkedCategory {
		const chunked = chunkEmojis(category.emojis);
		return { ...category, emojis: genIDs(chunked) };
	}

	const dataset: Dictionary<Array<ChunkedCategory>> = {
		custom: Props.dataset.customCategories.map(chunkCategory),
		default: Props.dataset.categories.map(chunkCategory),
		frequently: [
			chunkCategory({
				id: 'frequent',
				name: 'frequently',
				emojis: Object.keys(Props.frequently),
			}),
		],
		recently: [chunkCategory({ id: 'recent', name: 'recently', emojis: Props.recently })],
	};

	function detectEmoji(e: MouseEvent) {
		const target = (e.relatedTarget ?? e.target) as HTMLDivElement;
		if (
			!target ||
			!target.tagName ||
			target.classList.contains('emoji-mart-svelte-row') ||
			target.classList.contains('title')
		) {
			return;
		}

		let id: string | undefined;
		if (target.tagName === 'SPAN' || target.tagName === 'IMG') {
			id = target.parentElement?.dataset?.id;
		} else if (target.tagName === 'BUTTON') {
			id = target.dataset?.id;
		}

		return id;
	}

	function clickedEmoji(e: MouseEvent) {
		const id = detectEmoji(e);
		if (!id) {
			return;
		}

		const found = Props.instance.getEmojiFromID(id) ?? null;
		if (found) {
			Props.instance.onEmojiClick(found);
		}
	}

	function hoveredEmoji(e: MouseEvent) {
		const id = detectEmoji(e);
		if (!id) {
			hovered_emoji = null;
			return;
		}

		hovered_emoji = Props.instance.getEmojiFromID(id) ?? null;
	}
</script>

<div
	class="emoji-mart-svelte-grid"
	dir={Props.i18n.rtl ? 'rtl' : 'ltr'}
	bind:this={scroll_container}
	on:click={clickedEmoji}
	on:mousemove={hoveredEmoji}
	on:scroll={getScrolledCategory}
>
	{#if found_emojis}
		<section>
			<div class="title">{Props.i18n.categories.search}</div>
			{#if found_emojis.length}
				<div class="grid">
					{#each genIDs(chunkEmojis(found_emojis)) as { id, chunk } (id)}
						<Row emojisChunk={chunk} {Props}></Row>
					{/each}
				</div>
			{:else}
				<div class="not-found">
					<Emoji emoji={Props.dataset.emojis['ghost']} {Props}></Emoji>
				</div>
			{/if}
		</section>
	{:else}
		<section data-category={'frequent'}>
			<div class="title">
				{Props.topRow === 'frequently'
					? Props.i18n.categories.frequent
					: Props.i18n.categories.recent}
			</div>
			<div class="grid">
				{#if Props.topRow === 'frequently'}
					{#each dataset.frequently[0].emojis as { id, chunk } (id)}
						<Row emojisChunk={chunk} {Props}></Row>
					{/each}
				{:else}
					{#each dataset.recently[0].emojis as { id, chunk } (id)}
						<Row emojisChunk={chunk} {Props}></Row>
					{/each}
				{/if}
			</div>
		</section>
		{#each dataset.custom as category (category.id)}
			<section data-category={'custom'}>
				<div class="title">{Props.i18n.categories[category.id] ?? category.name}</div>
				<div class="grid">
					{#each category.emojis as { id, chunk } (id)}
						<Row emojisChunk={chunk} {Props}></Row>
					{/each}
				</div>
			</section>
		{/each}
		{#each dataset.default as category (category.id)}
			<section data-category={category.id}>
				<div class="title">
					{Props.i18n.categories[category.id]}
				</div>
				<div class="grid">
					{#each category.emojis as { id, chunk } (id)}
						<Row emojisChunk={chunk} {Props}></Row>
					{/each}
				</div>
			</section>
		{/each}
	{/if}
</div>

<style lang="scss">
	.emoji-mart-svelte-grid {
		position: relative;
		height: 279px;
		overflow-x: hidden;
		padding: 0px 6px 0px 12px;
		margin-right: 6px;
		scrollbar-width: thin;
		background-color: rgb(var(--background-color));
		box-sizing: border-box;

		&[dir='rtl'] {
			padding: 0px 12px 0px 0px;
			margin-right: 0px;
			margin-left: 6px;
		}

		&:hover {
			&::-webkit-scrollbar-thumb {
				background-color: rgb(45, 46, 47);
			}

			&::-webkit-scrollbar-thumb:hover {
				background-color: rgb(55, 56, 57);
			}
		}

		&::-webkit-scrollbar {
			width: 8px;
		}

		&::-webkit-scrollbar-button {
			width: 0;
			height: 0;
			display: none;
		}

		&::-webkit-scrollbar-corner {
			background-color: transparent;
		}

		&::-webkit-scrollbar-thumb {
			min-height: 55px;
			border-radius: 8px;
		}

		&::-webkit-scrollbar-track {
			border: 0;
		}

		section {
			display: flex;
			flex-direction: column;

			.title {
				z-index: 1;
				position: sticky;
				top: -1px;
				width: calc(100% + 5px);
				font-size: 15px;
				padding: 6px;
				font-weight: 500;
				background-color: rgba(var(--background-color), 0.8);
				color: rgb(var(--text-color));
				backdrop-filter: blur(4px);
				box-sizing: border-box;
			}

			.grid {
				display: flex;
				flex-direction: column;
			}

			.not-found {
				position: absolute;
				top: 0;
				left: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				height: 100%;

				:global(.emoji-mart-svelte-emoji) {
					transform: scale(3);
					filter: grayscale(1) brightness(0.5);
					opacity: 0.2;
				}
			}
		}
	}
</style>
