<script lang="ts">
	import IntersectionObserver from 'svelte-intersection-observer';

	import Emoji from './Emoji.svelte';

	import type { PickerProps } from '../../types/picker.types';
	import type { EmojiIndexed } from '../../types/emoji.types';

	export let emojisChunk: Array<string | EmojiIndexed>;
	export let Props: PickerProps;

	let element: HTMLDivElement;
	let intersecting: boolean;
</script>

<IntersectionObserver {element} bind:intersecting threshold={0}>
	<div class="emoji-mart-svelte-row" bind:this={element}>
		{#if intersecting}
			{#each emojisChunk as emoji (typeof emoji === 'string' ? emoji : emoji.id)}
				<Emoji
					emoji={typeof emoji === 'string' ? Props.dataset.emojis[emoji] : emoji}
					{Props}
				></Emoji>
			{/each}
		{/if}
	</div>
</IntersectionObserver>

<style lang="scss">
	.emoji-mart-svelte-row {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		min-height: 36px;
		width: 100%;
	}
</style>
