<script lang="ts">
	import { createEventDispatcher } from 'svelte';
	import type { EmojiIndexed, EmojiSkin } from 'emoji-mart-svelte';

	import Img from '../../Global/Img.svelte';
	import Selector from '../SelectorDropdown.svelte';
	import Card from '../Card.svelte';
	import NativeEmoji from '../../ContentRenderer/Renderer/NativeEmoji.svelte';

	import type { TootDeckAccount } from '../../../stores/Account/Accounts';
	import { stEmojis } from '../../../stores/Emojis';
	import { rdOptionsAppearanceAnimationAnimateGifEmoji } from '../../../stores/Options';

	const eventDispatcher = createEventDispatcher();

	export let account: TootDeckAccount;
	export let search_query: string = '';
	export let small: boolean = false;

	let found_emojis: Array<EmojiIndexed & { index: number }> = [];

	let id = 0;

	function search(search_query: string) {
		const first = id;
		$stEmojis
			.get(account.mirrorAPI.domain)!
			.search(
				search_query,
				6,
				(found) => (found_emojis = found.map((v) => ({ ...v, index: id++ })))
			);
		selected_index = first;
	}

	$: search(search_query);

	function getEmoji(emoji: EmojiIndexed) {
		const skin = emoji.skins[0] as EmojiSkin;
		return skin.native ? skin.native : emoji.skins[0].shortcodes; //TODO
	}

	let selected_index = 0;
</script>

{#if found_emojis.length}
	<Selector
		data={found_emojis}
		let:data
		{small}
		absolute={true}
		index_key="index"
		bind:selected_index
		on:click={(e) => eventDispatcher('click', { emoji: getEmoji(e.detail.data) })}
		on:close
	>
		<Card
			on:click={() => eventDispatcher('click', { emoji: getEmoji(data) })}
			selected={data.index === selected_index}
		>
			<div>
				{#if data.skins[0].src}
					<Img
						src={$rdOptionsAppearanceAnimationAnimateGifEmoji
							? data.skins[0].src
							: data.skins[0].static_src}
						alt={data.name}
						height="30px"
					/>
				{:else}
					<NativeEmoji emoji={data.skins[0].native}></NativeEmoji>
				{/if}
			</div>
			<div>{data.skins[0].shortcodes}</div>
		</Card>
	</Selector>
{/if}

<style lang="scss">
	div:first-child {
		margin-right: 7.5px;
		font-size: 24px;
	}

	div:last-child {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
</style>
