<script lang="ts">
	import { createEventDispatcher } from 'svelte';

	import Selector from '../SelectorDropdown.svelte';
	import Card from '../Card.svelte';

	import type { TootDeckAccount } from '../../../stores/Account/Accounts';

	import { isURL } from '../../../lib/Utils/url/isURL';

	import type { Entity } from '../../../types/mastodonEntities';

	const eventDispatcher = createEventDispatcher();

	export let account: TootDeckAccount;
	export let search_query: string = '';
	export let small: boolean = false;

	type IndexedTag = Entity.Tag & { id: number };

	let found_tags: Array<IndexedTag> = [];
	$: scheduleSearch(search_query);

	let timeout: NodeJS.Timeout | undefined;

	function scheduleSearch(search: string) {
		const invalid = search.match(/[a-zA-Z0-9_@.]+/g);
		if (!invalid || invalid.length !== 1 || invalid[0].length !== search.length) {
			return;
		}

		if (timeout) {
			clearTimeout(timeout);
		}

		// @ts-expect-error
		selected_index = found_tags.at(0)?.id ?? '0';

		timeout = setTimeout(async () => {
			await findRemote(search_query);

			timeout = undefined;
		}, 300);
	}

	async function findRemote(search: string) {
		let request: Array<Entity.Tag> | null;
		if (search === '') {
			// Absolute handle, remote fetch
			const url = search.split('@')[1];
			if (!url || !isURL(url, false)) {
				return;
			}

			request = await account.mirrorAPI.Search.hashtags(search, {
				limit: 1,
				resolve: true,
			});
		} else {
			// Search handle in instance database
			request = await account.mirrorAPI.Search.hashtags(search, {
				limit: 4,
			});
		}

		if (!request) {
			return;
		}

		found_tags = request.map((v, id) => ({ ...v, id }));
	}

	let selected_index: number = 0;
</script>

{#if found_tags.length}
	<Selector
		data={found_tags}
		let:data
		{small}
		absolute={true}
		bind:selected_index
		on:click={(e) => eventDispatcher('click', { hashtag: '#' + e.detail.data.name })}
		on:close
	>
		<Card
			on:click={() => eventDispatcher('click', { hashtag: '#' + data.name })}
			selected={data.id === selected_index}
		>
			<div class="hashtag">
				#{data.name}
			</div>
		</Card>
	</Selector>
{/if}

<style lang="scss">
	.hashtag {
		padding: 2.5px 5px;
	}
</style>
