<script lang="ts">
	import { createEventDispatcher } from 'svelte';

	import Selector from '../SelectorDropdown.svelte';
	import Card from '../Card.svelte';

	import {
		rdOptionsBehaviorComposerFavouriteLanguages,
		stOptions,
	} from '../../../stores/Options';

	import { filterMutate } from '../../../lib/Utils/filter/filterMutate';
	import { TootDeckConfig } from '../../../lib/TootDeckConfig';

	import { languages, type Language } from '../../../assets/languages';

	const eventDispatcher = createEventDispatcher();

	export let select: string;

	type IndexedLanguage = Language & { id: number; favourite: boolean };

	/**
	 * Pre-process data
	 */

	let id = 0;

	function mapID(array: Array<Language>): Array<IndexedLanguage> {
		return array.map((v) => ({
			id: id++,
			favourite: !!$rdOptionsBehaviorComposerFavouriteLanguages.find((l) => l === v.short),
			...v,
		}));
	}

	function formatFirstRow(lang: Array<IndexedLanguage>) {
		const first_rows = lang.filter((l) => l.favourite);

		const current = lang.find((x) => x.short === select);
		const nav = lang.find((x) => x.short === nav_lang);

		if (current && !first_rows.find((l) => l.short === current.short)) {
			first_rows.push(current);
		}
		if (nav && !first_rows.find((l) => l.short === nav.short)) {
			first_rows.push(nav);
		}

		let ordered_languages = lang.filter(
			(orignal_l) => !first_rows.find((first_l) => first_l.short === orignal_l.short)
		);
		return [...first_rows, ...ordered_languages];
	}

	let lang = mapID(languages);
	const nav_lang = navigator.language.split('-')[0];

	let ordered_languages = formatFirstRow(lang);

	/**
	 * Search
	 */
	let value: string = '';

	function search() {
		const lower = value.toLowerCase();
		let found = lang.filter(
			(x) =>
				x.short.includes(lower) ||
				x.full.toLocaleLowerCase().includes(lower) ||
				x.english.toLocaleLowerCase().includes(lower)
		);
		if (found) {
			ordered_languages = formatFirstRow(found);
		}
	}

	/**
	 * Auto focus
	 */
	let search_input: HTMLInputElement;

	$: if (search_input) {
		search_input.focus();
	}

	/**
	 * Selector data
	 */
	let selected_index: number = ordered_languages.find((l) => l.short === select)?.id ?? 0;

	function selectLanguage(e: Event, value: string) {
		const target = e.target as HTMLDivElement;
		if (target && ['favourite', 'favourite-icon'].find((c) => target.classList.contains(c))) {
			return;
		}

		select = value;
		eventDispatcher('click');
	}

	/**
	 * Add/Remove from favourite
	 */
	function toggleFavourite(data: IndexedLanguage) {
		data.favourite = !data.favourite;

		if (
			data.favourite &&
			!$stOptions.behavior.composer.favouriteLanguages.find((l) => l === data.short)
		) {
			$stOptions.behavior.composer.favouriteLanguages.push(data.short);
		} else {
			filterMutate($stOptions.behavior.composer.favouriteLanguages, (l) => l !== data.short);
		}

		TootDeckConfig.saveOne(
			'options.behavior.composer.favouriteLanguages',
			$stOptions.behavior.composer.favouriteLanguages,
			true
		);

		ordered_languages = ordered_languages;
	}
</script>

<Selector
	data={ordered_languages}
	let:data
	small={false}
	absolute={true}
	bind:selected_index
	on:click={(e) => selectLanguage(e, e.detail.data.short)}
	on:close
>
	<div class="search-container" slot="sticky">
		<input
			type="text"
			placeholder="Search languages..."
			bind:value
			bind:this={search_input}
			on:keyup={search}
		/>
	</div>
	<Card selected={data.id === selected_index} on:click={(e) => selectLanguage(e, data.short)}>
		<div class="item" data-lang={data.short}>
			<div class="wrapper">
				<span class="full">{data.full}</span>
				<span class="english">{data.english}</span>
			</div>
			<button
				class="favourite"
				class:enabled={data.favourite}
				on:click={() => toggleFavourite(data)}
			>
				<div class="favourite-icon empty fa fa-star-o"></div>
				<div class="favourite-icon full fa fa-star"></div>
			</button>
		</div>
	</Card>
</Selector>

<style lang="scss">
	.search-container {
		padding: 5px;

		input {
			all: unset;
			width: 100%;
			border-radius: 5px;
			border: 1px solid rgb(var(--icons));
			padding: 10px 15px;
			box-sizing: border-box;
			color: rgb(var(--text));

			&:focus {
				border: 1px solid rgb(var(--accent));
			}
		}
	}

	.item {
		flex-grow: 1;
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 0.5ch;
		padding: 5px;

		.wrapper {
			flex-grow: 1;
		}

		.favourite {
			&:hover,
			&.enabled {
				div {
					&.empty {
						display: none;
					}

					&.full {
						display: block;
						color: rgb(var(--favourite-color));
					}

					&:hover {
						&.full {
							color: rgb(var(--text-button));
						}
					}
				}
			}

			div {
				&.empty {
					display: block;
				}

				&.full {
					display: none;
				}
			}
		}
	}
</style>
