<script lang="ts">
	import { createEventDispatcher } from 'svelte';

	import Selector from '../SelectorDropdown.svelte';
	import Card from '../Card.svelte';

	import { Entity } from '../../../types/mastodonEntities';

	const eventDispatcher = createEventDispatcher();

	export let visibility: Entity.Visibility;

	const choices = [
		{
			id: 0,
			icon: 'fa fa-globe',
			value: 'Public',
			hint: 'Visible for all',
			visibility: Entity.Visibility.Public,
		},
		{
			id: 1,
			icon: 'fa fa-unlock',
			value: 'Unlisted',
			hint: 'Visible for all, but not opted-out of discovery features',
			visibility: Entity.Visibility.Unlisted,
		},
		{
			id: 2,
			icon: 'fa fa-lock',
			value: 'Followers only',
			hint: 'Visible for followers only',
			visibility: Entity.Visibility.Private,
		},
		{
			id: 3,
			icon: 'fa fa-at',
			value: 'Mentionned people only',
			hint: 'Visible for Mentionned users only',
			visibility: Entity.Visibility.Direct,
		},
	];

	let selected_index: number = choices.findIndex((x) => x.visibility === visibility);
</script>

<Selector
	data={choices}
	let:data
	small={false}
	absolute={true}
	bind:selected_index
	on:click={(e) => {
		visibility = e.detail.data.visibility;
		eventDispatcher('close');
	}}
	on:close
>
	<Card
		on:click={() => {
			visibility = data.visibility;
			eventDispatcher('close');
		}}
		selected={data.id === selected_index}
	>
		<div class="left">
			<div class="icon {data.icon}" />
		</div>
		<div class="right">
			<div class="value">{data.value}</div>
			<div class="hint">{data.hint}</div>
		</div>
	</Card>
</Selector>

<style lang="scss">
	.left {
		display: grid;
		align-items: center;
		justify-items: center;
		padding: 0px 10px 0px 5px;

		.icon {
			font-size: 25px;
		}
	}

	.right {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		justify-content: center;

		.value {
			font-weight: bold;
		}

		.hint {
			filter: brightness(0.7);
		}
	}
</style>
