<script lang="ts">
	import Container from './Window.svelte';
	import Button from '../Global/Button/Button.svelte';
	import Img from '../Global/Img.svelte';
	import InputCheckbox from '../Global/Inputs/InputCheckbox.svelte';

	import { stGlobalWindow, type GlobalWindowAlt, GlobalWindow } from '../../stores/Window';

	import { isScrollbarVisible } from '../../lib/Utils/js/isScrollbarVisible';
	import { Entity } from '../../types/mastodonEntities';

	const global_window = $stGlobalWindow as GlobalWindowAlt;

	const media = global_window.media!;
	const text = global_window.alt.text ?? '';
	const editable = global_window.editable;
	const diff = global_window.diff;

	let container: HTMLElement;
	let scrollable: boolean = false;

	$: if (container) {
		scrollable = isScrollbarVisible(container);
	}

	let crtl_pressed: boolean = false;
	let enter_pressed: boolean = false;

	function keydown(e: KeyboardEvent) {
		switch (e.code) {
			case 'OSLeft':
			case 'OSRight':
			case 'ControlLeft':
			case 'ControlRight':
				crtl_pressed = true;
				break;
			case 'Enter':
			case 'NumpadEnter':
				enter_pressed = true;
				break;
		}

		if (enter_pressed && crtl_pressed) {
			GlobalWindow.remove();
		}
	}

	function keyup(e: KeyboardEvent) {
		switch (e.code) {
			case 'OSLeft':
			case 'OSRight':
			case 'ControlLeft':
			case 'ControlRight':
				crtl_pressed = false;
				break;
			case 'Enter':
			case 'NumpadEnter':
				enter_pressed = false;
				break;
		}
	}

	let show_diff: boolean = false;
</script>

<Container title={editable ? 'Add a description' : 'Alt viewer'}>
	<div class="alt" class:scrollable class:editable bind:this={container}>
		{#if editable}
			<div class="left">
				<textarea
					placeholder="Describe for people who are blind or have low vision"
					bind:value={global_window.alt.text}
					on:keydown={keydown}
					on:keyup={keyup}
				/>
				<div>
					<Button style="default" on:clickTimeout={() => GlobalWindow.remove()}
						>Apply</Button
					>
				</div>
			</div>
			<div class="right">
				<div>
					{#if media.type.includes(Entity.AttachmentType.Video) || media.type.includes(Entity.AttachmentType.Audio)}
						<video src={media.src} controls></video>
					{:else}
						<Img src={media.src} alt={media.alt.text} />
					{/if}
				</div>
			</div>
		{:else if diff}
			<div style="margin-bottom: -15px;">
				<InputCheckbox
					text="Highlight difference with previous alt"
					checked={show_diff}
					on:click={() => (show_diff = !show_diff)}
				></InputCheckbox>
			</div>
			{#if show_diff}
				<div style="white-space: pre-wrap;">
					<p>
						{#each diff as [d, v]}
							{#if d === -1}
								<span class="del">{v}</span>
							{:else if d === 1}
								<span class="ins">{v}</span>
							{:else}
								{v}
							{/if}
						{/each}
					</p>
				</div>
			{:else}
				<p>{text}</p>
			{/if}
		{:else}
			<p>{text}</p>
		{/if}
	</div>
</Container>

<style lang="scss">
	.alt {
		max-width: 800px;
		max-height: 600px;
		overflow-x: hidden;
		overflow-y: auto;
		background-color: rgb(var(--column));
		color: rgb(var(--text));
		box-sizing: border-box;
		border-radius: 10px;
		white-space: pre-line;
		word-break: break-word;

		&.editable {
			min-width: 500px;
			min-height: 300px;
			max-width: 80vw;
			max-height: 80vh;
			padding: 0;
			display: flex;
			flex-direction: row;
			align-items: flex-start;

			.left {
				display: flex;
				flex-direction: column;
				gap: 10px;
				height: 100%;
				padding: 10px;
				flex-grow: 1;

				textarea {
					flex-grow: 1;
					width: 300px;
					padding: 10px;
					background-color: rgb(var(--composer));
					box-sizing: border-box;
				}

				div {
					margin-left: auto;
					width: 50%;
				}
			}

			.right {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				height: 100%;

				video,
				:global(img) {
					display: block;
					max-width: 100%;
					min-width: 100%;
					height: 100%;
					max-height: 50vh;
					object-fit: cover;
				}
			}

			@media (max-width: 1000px) {
				flex-direction: column-reverse;

				.left {
					width: 100%;
					textarea {
						width: 100%;
						min-height: 100px;
					}
				}
			}
		}

		textarea {
			all: unset;
			width: 100%;
			height: 100%;
			background-color: inherit;
			color: inherit;
			box-sizing: border-box;
		}

		p {
			padding: 20px;
		}
	}
</style>
