<script lang="ts">
	import Button from '../Global/Button/Button.svelte';
	import InputCheckbox from '../Global/Inputs/InputCheckbox.svelte';
	import Window from './Window.svelte';
	import Loading from '../Changelog/Loading.svelte';

	import { rdOptionsBehaviorShowChangelog, stOptions } from '../../stores/Options';
	import { GlobalWindow } from '../../stores/Window';

	import { isCheckboxChecked } from '../../lib/Utils/js/isCheckboxChecked';
</script>

<Window title="What's new">
	<div class="changelog-window">
		{#await import('../Changelog/Container.svelte')}
			<Loading></Loading>
		{:then Changelog}
			<svelte:component this={Changelog.default}></svelte:component>
		{/await}
		<div class="bottom">
			<InputCheckbox
				text="Don't show me again"
				checked={!$rdOptionsBehaviorShowChangelog}
				on:click={(e) => ($stOptions.behavior.showChangelog = !isCheckboxChecked(e))}
			></InputCheckbox>
			<div>
				<Button style="small" on:clickTimeout={() => GlobalWindow.remove()}>Got it!</Button>
			</div>
		</div>
	</div>
</Window>

<style lang="scss">
	.changelog-window {
		width: 100%;
		max-width: 800px;
		max-height: 90vh;
		display: flex;
		flex-direction: column;

		.bottom {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			padding: 10px;
		}
	}
</style>
