<script lang="ts">
	import { onDestroy } from 'svelte';

	import Button from '../Global/Button/Button.svelte';
	import Window from './Window.svelte';

	import { GlobalWindow, stGlobalWindow, type GlobalWindowConfirm } from '../../stores/Window';

	import { KeyboardHandler } from '../../lib/KeyboardHandler';

	const global_window = $stGlobalWindow as GlobalWindowConfirm;

	function cancel() {
		GlobalWindow.remove();
		global_window.cancel?.();
	}

	function confirm() {
		GlobalWindow.remove();
		global_window.confirm();
	}

	KeyboardHandler.subscribe('Window:Confirm:Enter', 'Enter', (e) => {
		confirm();
		return true;
	});
	KeyboardHandler.subscribe('Window:Confirm:NumpadEnter', 'NumpadEnter', (e) => {
		confirm();
		return true;
	});
	KeyboardHandler.subscribe('Window:Confirm:Escape', 'Escape', (e) => {
		cancel();
		return true;
	});

	onDestroy(() => {
		KeyboardHandler.unsubscribe('Window:Confirm:Enter', 'Enter');
		KeyboardHandler.unsubscribe('Window:Confirm:NumpadEnter', 'NumpadEnter');
		KeyboardHandler.unsubscribe('Window:Confirm:Escape', 'Escape');
	});
</script>

<Window title="Would you like to continue?&nbsp;">
	<div class="wrapper">
		<center style="white-space: pre-wrap;">{global_window.text}</center>
		<center>
			<Button style="small" color={'rgb(var(--lighter))'} on:clickTimeout={() => cancel()}
				>Cancel</Button
			>
			<Button style="small" on:clickTimeout={() => confirm()}>Confirm</Button>
		</center>
	</div>
</Window>

<style lang="scss">
	.wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 15px;

		center {
			display: flex;
			flex-direction: row;
			gap: 10px;
			margin-top: 10px;

			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}
	}
</style>
