<script lang="ts">
	import { createEventDispatcher } from 'svelte';
	import { format } from 'date-fns';

	import Button from '../../../Global/Button/Button.svelte';
	import Img from '../../../Global/Img.svelte';

	import type { OpenSessionResponse } from '../../../../lib/APIs/TootDeckAPI/Methods/Auth/types';

	import { browsersIMG } from '../../../../assets/browsers';
	import { formatAbsoluteDate } from '../../../../lib/Utils/date/formatDate';

	const eventDispatcher = createEventDispatcher();

	export let session: OpenSessionResponse;
	export let is_new: boolean;

	const img = selectBrowser(session.browser_name);

	function selectBrowser(name: string) {
		let img = Object.entries(browsersIMG).find(([key, _]) => key === name);
		if (!img) {
			img = ['Browser', browsersIMG.Browser];
		}
		return img;
	}

	function validity(raw_date: Date) {
		const date = new Date(raw_date.valueOf() + 60 * 60 * 24 * 2 * 1000);
		return format(date, 'dd MMM yyyy');
	}
</script>

<div class="session">
	<div class="browser">
		<Img src={img[1]} alt="{img[0]} icon" width="50px" height="50px" />
	</div>
	<div class="infos">
		<div class="browser"><b>{session.browser_name}</b>&nbsp;{session.browser_version}</div>
		<div class="os">{session.os}</div>
	</div>
	<div class="dates">
		<div class="date">
			Created on {formatAbsoluteDate(session.created_at, 'big')}
		</div>
		<div class="date">
			{#if is_new}
				<p style="color: rgb(var(--favourite-color)); margin: 0 auto 0 5px;">NEW</p>
			{/if}
			<p>
				{session.revoked ? 'Was valid' : 'Valid'} until {validity(session.updated_at)}
			</p>
		</div>
	</div>
	{#if session.current}
		<div class="current">Current</div>
		<div></div>
	{:else}
		{#if !session.revoked}
			<div class="btn">
				<Button on:clickTimeout={() => eventDispatcher('revoke')}>Revoke</Button>
			</div>
		{:else}
			<div></div>
		{/if}
		<button class="delete" on:click={() => eventDispatcher('delete')}>
			<div class="fa fa-trash"></div>
		</button>
	{/if}
</div>

<style lang="scss">
	.session {
		width: 100%;
		display: grid;
		grid-template-columns: 50px 120px 1fr 140px 20px;
		grid-column-gap: 0px;
		grid-row-gap: 0px;
		align-items: center;
		gap: 10px;

		.browser {
			display: flex;
			flex-direction: row;
			align-items: center;
		}

		.dates,
		.infos {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			gap: 5px;
		}

		.infos {
			align-items: center;
		}

		.dates {
			flex-grow: 1;

			.date {
				display: flex;
				flex-direction: row;
				justify-content: flex-end;
			}
		}

		.btn {
			width: 140px;
			height: 45px;
			display: flex;
			align-items: center;
			justify-content: center;
			overflow: hidden;
			border-radius: 25px;
		}

		.current {
			width: 140px;
			height: 43px;
			display: grid;
			justify-items: center;
			align-items: center;
			border: 1px solid #009800;
			color: #009800;
			cursor: default;
			user-select: none;
			border-radius: 25px;
			font-size: 1.2rem;
		}

		.delete {
			color: rgb(var(--text));
		}
	}
</style>
