<script lang="ts">
	import Card from './Card.svelte';

	import { stSessionsUpdate } from '../../../../stores/Sessions';

	import { Sessions } from '../../../../lib/Sessions';
	import type { OpenSessionResponse } from '../../../../lib/APIs/TootDeckAPI/Methods/Auth/types';

	let sessions: Array<OpenSessionResponse> = [];
	let diff: Array<OpenSessionResponse> = [];

	function getDisplayable() {
		const displayable = Sessions.getDisplayable();
		sessions = displayable.sessions;
		diff = displayable.diff;
	}

	$: {
		$stSessionsUpdate;
		getDisplayable();
	}

	async function revoke(uuid: string) {
		await Sessions.revoke(uuid);
		getDisplayable();
	}

	async function del(uuid: string) {
		await Sessions.delete(uuid);
		getDisplayable();
	}
</script>

<div class="sessions-container">
	{#each sessions as session (session.uuid)}
		<Card
			{session}
			is_new={!!diff.find((x) => x.uuid === session.uuid)}
			on:revoke={() => revoke(session.uuid)}
			on:delete={() => del(session.uuid)}
		/>
	{/each}
</div>

<style lang="scss">
	.sessions-container {
		display: flex;
		flex-direction: column;
		padding: 10px;
		gap: 10px;
	}
</style>
