<script lang="ts">
	import Component from './Component.svelte';

	import type { TootDeckAccount } from '../../../stores/Account/Accounts';
	import { rdOptionsBehaviorStatusShowInteractionsOnQuote } from '../../../stores/Options';

	import type { ParsedStatus } from '../../../types/contentParsed';

	export let account: TootDeckAccount;
	export let status: ParsedStatus;
	export let composer_show: boolean;
	export let composer_value: string;
	export let quote: boolean;
	export let twitter: boolean;
	export let thread_view: boolean;
</script>

{#if quote}
	{#if $rdOptionsBehaviorStatusShowInteractionsOnQuote}
		<Component
			{account}
			{status}
			bind:composer_show
			{composer_value}
			{quote}
			{twitter}
			{thread_view}
			disabled={twitter}
			on:clickQuote
			on:more
		></Component>
	{/if}
{:else}
	<Component
		{account}
		{status}
		bind:composer_show
		{composer_value}
		{quote}
		{twitter}
		{thread_view}
		disabled={status.id.includes('_deleted')}
		on:clickQuote
		on:more
	></Component>
{/if}
