<script lang="ts">
	import Button from '../../../Global/Button/Button.svelte';
	import InputText from '../../../Global/Inputs/InputText.svelte';
	import InputFile from './InputFile.svelte';

	import { SoundsLibrary, type Sound } from '../../../../lib/SoundsLibrary';
	import { transitionSlide } from '../../../../lib/Transitions/transitionOverride';
	import { errorModal } from '../../../../lib/errorModal';
	import type { Readable } from 'svelte/motion';

	let sounds: Readable<Array<Sound>> = SoundsLibrary.getReadable();
	let select_file: File | null;
	let name: string = '';
	let input: InputFile;

	function callback(file: File | null) {
		if (file === null) {
			select_file = null;
			name = '';
			return;
		}

		select_file = file;
		name = file.name;
	}

	async function add() {
		if (!name) {
			return;
		}

		const file = select_file!;
		if (!(await SoundsLibrary.add(file, name))) {
			errorModal(`Failed to add ${name}.`, undefined, true);
			return;
		}

		select_file = null;
		name = '';
		input.clear();
	}

	$: if (name.length >= 25) {
		name = name.substring(name.length - 1, -1);
	}
</script>

<div class="sounds-add">
	<h2>Add a new sound</h2>
	{#if $sounds.length !== 10}
		<InputFile
			accept=".webm,.ogg,.mp3,.opus,.aac,.m4a,audio/ogg,audio/vorbis,audio/mp3,audio/webm,audio/aac,audio/m4a,audio/x-m4a,audio/mp4"
			multiple={false}
			size_limit={1024 * 24}
			bind:this={input}
			{callback}
		/>
		{#if select_file}
			<div class="transition" transition:transitionSlide={{ duration: 200 }}>
				<div class="input-wrapper">
					<InputText bind:value={name} />
				</div>
				<div class="button-wrapper" class:disabled={!name}>
					<Button style="small" on:clickTimeout={add}>Add to library</Button>
				</div>
			</div>
		{/if}
	{:else}
		<div>Your library is full.</div>
	{/if}
</div>

<style lang="scss">
	.sounds-add {
		display: flex;
		flex-direction: column;
		gap: 10px;

		.transition {
			display: flex;
			flex-direction: column;
			align-items: baseline;
			gap: 10px;

			.input-wrapper {
				width: 45%;
			}
		}

		.disabled {
			filter: grayscale(1);
			cursor: default;
			pointer-events: none;
		}
	}
</style>
