<script lang="ts">
	import { createEventDispatcher } from 'svelte';

	import InputText from '../../../Global/Inputs/InputText.svelte';

	import { type Sound } from '../../../../lib/SoundsLibrary';
	import { transitionSlide } from '../../../../lib/Transitions/transitionOverride';

	const eventDispatcher = createEventDispatcher();

	export let sound: Sound;

	let audio_element: HTMLAudioElement;
	let playing: boolean = false;
	let error: boolean = false;

	function playPause() {
		if (playing) {
			audio_element.pause();
			return;
		}

		audio_element.play();
	}

	function pause() {
		audio_element.currentTime = 0;
		playing = false;
	}

	let rename: boolean = false;
	let value: string = sound.name;

	$: if (value.length >= 25) {
		value = value.substring(value.length - 1, -1);
	}
</script>

<div class="sound" class:error transition:transitionSlide={{ duration: 200 }}>
	<audio
		src={sound.value}
		preload="auto"
		bind:this={audio_element}
		on:pause={pause}
		on:play={() => (playing = true)}
		on:ended={() => (playing = false)}
		on:error={() => (error = true)}
		style="display: none;"
	/>
	<div class="title">
		{#if !rename}
			<div>{sound.name}</div>
		{:else}
			<InputText bind:value />
		{/if}
		{#if error}
			<div>Unable to load file</div>
		{/if}
	</div>
	<div class="buttons">
		{#if !rename}
			<button class="play" title={playing ? 'Stop' : 'Play'} on:click={playPause}>
				{#if playing}
					<div class="fa fa-stop" />
				{:else}
					<div class="fa fa-play" />
				{/if}
			</button>
			<button
				class="default"
				title="Set as default"
				style:color={sound.default ? 'rgb(var(--favourite-color))' : ''}
				on:click={() => eventDispatcher('default')}
			>
				<div class="fa fa-star" />
			</button>
		{/if}
		{#if rename}
			<button
				class="confirm"
				class:disabled={!value}
				title="Confirm"
				on:click={() => {
					if (!value) {
						return;
					}

					rename = false;
					eventDispatcher('rename', { value });
				}}
			>
				<div class="fa fa-check" />
			</button>
		{:else}
			<button class="rename" title="Rename" on:click={() => (rename = true)}>
				<div class="fa fa-pencil" />
			</button>
		{/if}
		{#if !rename}
			<button class="remove" title="Remove" on:click={() => eventDispatcher('remove')}>
				<div class="fa fa-times" />
			</button>
		{/if}
	</div>
</div>

<style lang="scss">
	.sound {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 20px;
		height: 44px;
		padding: 5px 15px;
		box-sizing: border-box;

		&.error {
			color: rgb(var(--red));

			.buttons {
				button {
					&.play,
					&.default,
					&.rename,
					&.confirm {
						opacity: 0.5;
						cursor: default;
						pointer-events: none;
					}
				}
			}
		}

		.title {
			display: flex;
			flex-direction: column;
			justify-content: center;
			flex-grow: 1;
		}

		.buttons {
			display: flex;
			flex-direction: row;
			justify-content: center;
			gap: 10px;

			button {
				color: rgb(var(--text));

				&:hover {
					color: var(--assigned-color);
				}

				&.play {
					--assigned-color: rgb(var(--text));
				}

				&.default {
					--assigned-color: rgb(var(--favourite-color));
				}

				&.rename {
					--assigned-color: rgb(var(--accent));
				}

				&.confirm {
					--assigned-color: rgb(var(--reblog-color));
				}

				&.remove {
					--assigned-color: rgb(var(--red));
				}

				&.disabled {
					opacity: 0.4;
					cursor: default;
					pointer-events: none;
				}
			}
		}
	}
</style>
