<script lang="ts">
	import { createEventDispatcher } from 'svelte';
	import type { Writable } from 'svelte/store';

	import InputRadio from '../../../Global/Inputs/InputRadio.svelte';

	import type { AutoDetect } from '../../../../types/instanceDetect';

	const eventDispatcher = createEventDispatcher();

	export let text: string;
	export let choices: Writable<AutoDetect>;

	const c = choices as any as Writable<{ [key: string]: boolean }>;

	function convertToValue(v: { [key: string]: boolean }): boolean | null {
		if (v.auto) {
			return null;
		} else if (v.disable) {
			return false;
		} else {
			return true;
		}
	}

	$: eventDispatcher('click', convertToValue($c));
</script>

<div class="auto-detect-checkboxes">
	<p>{text}</p>
	<InputRadio bind:entries={$c} capitalize={false}></InputRadio>
</div>

<style lang="scss">
	.auto-detect-checkboxes {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 1ch;
		margin-left: 1em;
	}
</style>
