<script lang="ts">
	import { onMount } from 'svelte';
	import { decode } from 'blurhash';

	import Img from '../../Global/Img.svelte';

	export let hash: string | null = null;
	export let width: string = '100%';
	export let height: string = '100%';
	export let scale: boolean;

	const canvas_width = 32;
	const canvas_height = 32;

	let canvas: HTMLCanvasElement;

	onMount(() => {
		if (!hash) {
			return;
		}

		const pixels = decode(hash, canvas_width, canvas_height);

		canvas.width = canvas_width;
		canvas.height = canvas_height;

		const ctx = canvas.getContext('2d')!;

		const imageData = ctx.createImageData(canvas_width, canvas_height);
		imageData.data.set(pixels);

		ctx.putImageData(imageData, 0, 0);
	});
</script>

<div class="blurhash">
	{#if hash}
		<canvas class:scale bind:this={canvas}></canvas>
	{:else}
		<Img src={'/blurhash.png'} alt={'hidden'} {width} {height} />
	{/if}
</div>

<style lang="scss">
	.blurhash {
		z-index: 1;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		min-width: 100%;
		overflow: hidden;

		canvas {
			width: 100%;
			height: 100%;

			&.scale {
				transform: scale(1.04);
			}
		}
	}
</style>
