<script lang="ts">
	import { createEventDispatcher } from 'svelte';

	import Img from '../../Global/Img.svelte';
	import Blurhash from './Blurhash.svelte';
	import ProfileSpinner from '../../Spinner/ProfileSpinner.svelte';

	import {
		rdOptionsAppearanceAnimationAnimateGifNotification,
		rdOptionsAppearanceAnimationAnimateGifStatus,
	} from '../../../stores/Options';

	import { ANCHOR_ARGS } from '../../../lib/Constants/Anchor';

	import type { Attachment } from '../../../types/contentParsed';
	import { Entity } from '../../../types/mastodonEntities';

	const eventDispatcher = createEventDispatcher();

	export let media: Attachment;
	export let media_count: number;
	export let show: boolean;
	export let notification: boolean = false;
	export let profile: boolean;
	export let content_warning: string = '';

	const width = media.meta?.small?.width ? media.meta?.small?.width + 'px' : 'auto';
	const height = media.meta?.small?.height ? media.meta?.small?.height + 'px' : 'auto';
	const ar = media.meta?.small?.width
		? `${media.meta?.small?.width}/${media.meta?.small?.height}`
		: 1;

	let img: HTMLImageElement;

	let failed_to_load: boolean = false;
	let loaded: boolean = false;

	let video: HTMLVideoElement;

	let autoplay = notification
		? $rdOptionsAppearanceAnimationAnimateGifNotification
		: $rdOptionsAppearanceAnimationAnimateGifStatus;

	$: {
		autoplay = notification
			? $rdOptionsAppearanceAnimationAnimateGifNotification
			: $rdOptionsAppearanceAnimationAnimateGifStatus;
		if (video && !show) {
			video.pause();
		} else if (video && show) {
			if (autoplay) {
				video.play().catch((e) => {});
			} else {
				video.pause();
			}
		}
	}

	function load() {
		loaded = true;
	}

	function error(e: Event | CustomEvent<Event>) {
		const target = (e.target ?? (e as CustomEvent<Event>).detail.target) as
			| HTMLImageElement
			| HTMLVideoElement;
		if (target && media.remote_url && media.remote_url !== target.src) {
			if (img) {
				img.src = media.remote_url;
			} else {
				video.src = media.remote_url;
			}
			return;
		}

		load();
		failed_to_load = true;
	}
</script>

<div class="image-container">
	<button
		class="img"
		class:failed={failed_to_load}
		class:profile
		class:show
		on:click|stopPropagation={() => eventDispatcher('openFull')}
	>
		{#if profile && !!content_warning}
			<div class="content-warning">{content_warning}</div>
		{/if}
		{#if !show}
			<Blurhash hash={media.blurhash} {width} {height} scale={media_count === 1}></Blurhash>
			<div class="placeholder" style:aspect-ratio={ar}></div>
		{/if}
		{#if show}
			{#if failed_to_load}
				<div class="failed" class:profile>
					<b>Couldn't load media</b>
					<p>
						[ <a href={media.remote_url} {...ANCHOR_ARGS}>original</a> ]
					</p>
				</div>
			{:else}
				{#if !loaded}
					<div class="loading">
						<ProfileSpinner />
					</div>
				{/if}
				{#if media.type === Entity.AttachmentType.Gifv}
					<video
						src={media.url}
						poster={media.preview_url}
						{autoplay}
						loop={true}
						muted={true}
						class:scale={media_count === 1}
						bind:this={video}
						on:loadeddata={load}
						on:error={error}
					/>
				{:else}
					<Img
						bind:img
						src={media.type === Entity.AttachmentType.Unknown
							? media.remote_url
							: media.preview_url}
						alt={media.description}
						{width}
						{height}
						class={media_count === 1 ? 'scale' : ''}
						events={['load', 'error']}
						on:load={load}
						on:error={error}
					/>
				{/if}
			{/if}
		{/if}
	</button>
	<div class="buttons">
		{#if media.type === Entity.AttachmentType.Gifv}
			<div class="caps-lock">gif</div>
		{/if}
		{#if media.description}
			<button
				class="alt"
				class:is-gif={media.type === Entity.AttachmentType.Gifv}
				on:click|stopPropagation={() => eventDispatcher('openAlt')}
			>
				<div class="caps-lock">alt</div>
			</button>
		{/if}
	</div>
</div>

<style lang="scss">
	// :global(.theme-light) {
	// 	.img {
	// 		background-color: #696969;
	// 	}
	// }

	.image-container {
		position: relative;
		width: 100%;
		display: flex;

		.img {
			width: 100%;
			height: 100%;

			&.show:not(.failed):not(.profile) {
				cursor: zoom-in;
			}

			&:focus-visible {
				filter: invert(0.2);

				&::after {
					content: '';
				}
			}

			&.failed:not(.profile) {
				cursor: default;
			}

			.failed {
				display: flex;
				flex-direction: column;
				width: 100%;

				text-align: center;
				// font-weight: bold;
				align-items: center;
				justify-content: center;

				&:not(.profile) {
					height: 150px;
				}

				a {
					width: 100%;
				}
			}

			.placeholder {
				max-height: 50vh;
			}

			.content-warning,
			.loading {
				z-index: 1;
				position: absolute;
				width: 100%;
				height: 100%;
				display: grid;
				align-items: center;
				justify-items: center;
				pointer-events: none;
			}

			.content-warning {
				z-index: 2;
				top: 0;
				text-align: center;
				color: rgb(var(--text));
				text-shadow: 1px 1px 0px rgb(var(--background));
				word-break: break-all;
				text-overflow: clip;
				hyphens: auto;
				overflow: hidden;
			}

			:global(img),
			video {
				display: block;
				max-width: 100%;
				min-width: 100%;
				height: 100%;
				max-height: 50vh;
				object-fit: cover;
				// opacity: 0;

				&.scale {
					transform: scale(1.04);
				}
			}
		}

		.buttons {
			z-index: 1;
			position: absolute;
			bottom: 0;
			right: 0;
			display: flex;
			flex-direction: row;
			gap: 0.5ch;
			margin: 5px;

			> div,
			> button {
				user-select: none;
				padding: 1px 2.5px;
				border-radius: 5px;
				color: #fff;
				font-size: 12px;
				background-color: #0000009d;
				border: 1px solid transparent;
			}

			> button:hover {
				background-color: #000000b7;
			}
		}
	}
</style>
