<script lang="ts">
	import { createEventDispatcher } from 'svelte';

	import Blurhash from './Blurhash.svelte';

	import { ANCHOR_ARGS } from '../../../lib/Constants/Anchor';

	import { Entity } from '../../../types/mastodonEntities';

	const eventDispatcher = createEventDispatcher();

	export let media: Entity.Attachment;
	export let show: boolean;
	export let media_count: number;
	export let profile: boolean;
	export let content_warning: string = '';

	let failed_to_load: boolean = false;
	let playing: boolean = false;
	let player: HTMLVideoElement | HTMLAudioElement;

	const width = media.meta?.small?.width ? media.meta?.small?.width + 'px' : undefined;
	const height = media.meta?.small?.height ? media.meta?.small?.height + 'px' : undefined;

	$: if (player) {
		player.volume = 0.2;
		player.pause();
	}

	$: if (playing) {
		player.play().catch((e) => {});
	}

	$: if (player && !show) {
		player.pause();
		playing = false;
	}

	function play() {
		if (playing) {
			return;
		}
		playing = show = true;
	}

	function error(e: Event) {
		const target = (e.target ?? (e as CustomEvent<Event>).detail.target) as
			| HTMLImageElement
			| HTMLVideoElement;
		if (target && media.remote_url && media.remote_url !== target.src) {
			player.src = media.remote_url;
			return;
		}

		failed_to_load = true;
	}

	function fullSizeOrPlay(e: MouseEvent) {
		if (profile) {
			e.stopPropagation();
			eventDispatcher('openFull');
			return;
		}

		if (failed_to_load) {
			return;
		}

		e.stopPropagation();

		play();
	}
</script>

<div class="video-container">
	<button class="video" class:failed={failed_to_load && !profile} on:click={fullSizeOrPlay}>
		{#if profile && !!content_warning}
			<div class="content-warning">{content_warning}</div>
		{/if}
		{#if !show && media.type !== Entity.AttachmentType.Audio}
			<Blurhash hash={media.blurhash} {width} {height} scale={media_count === 1}></Blurhash>
		{/if}
		{#if failed_to_load}
			<div class="failed" class:profile>
				<b>Couldn't load media</b>
				<p>
					[ <a href={media.remote_url} {...ANCHOR_ARGS}>original</a> ]
				</p>
			</div>
		{:else}
			<video
				src={media.url}
				poster={media.preview_url}
				autoplay={false}
				controls={playing}
				preload="none"
				class:scale={media_count === 1}
				bind:this={player}
				on:error={error}
			/>
			{#if !playing}
				<button class="play" on:click|stopPropagation={fullSizeOrPlay}>
					<div
						class="fa {media.type === Entity.AttachmentType.Audio
							? 'fa-music'
							: 'fa-play'}"
					/>
				</button>
			{/if}
		{/if}
	</button>
	<div class="buttons">
		{#if !playing && media.type !== Entity.AttachmentType.Audio}
			<button
				class="full fa fa-external-link"
				on:click|stopPropagation={() => eventDispatcher('openFull')}
			/>
		{/if}
		{#if media.description && !playing}
			<button class="alt" on:click|stopPropagation={() => eventDispatcher('openAlt')}>
				<div class="default caps-lock">alt</div>
			</button>
		{/if}
	</div>
</div>

<style lang="scss">
	.video-container {
		position: relative;
		width: 100%;

		.video {
			width: 100%;
			height: 100%;

			&:focus-visible {
				filter: invert(0.2);

				&::after {
					content: '';
				}
			}

			&.failed {
				cursor: default;
			}

			.failed {
				display: flex;
				flex-direction: column;
				width: 100%;
				text-align: center;
				// font-weight: bold;
				align-items: center;
				justify-content: center;

				&:not(.profile) {
					height: 150px;
				}

				a {
					width: 100%;
				}
			}

			video {
				position: relative;
				width: 100%;
				height: 100%;
				// max-height: 50vh;

				&.scale {
					transform: scale(1.04);
				}
			}

			.content-warning {
				z-index: 2;
				position: absolute;
				top: 0;
				display: grid;
				width: 100%;
				height: 100%;
				align-items: center;
				justify-items: center;
				pointer-events: none;
				text-align: center;
				color: rgb(var(--text));
				text-shadow: 1px 1px 2px rgb(var(--background));
				word-break: break-all;
				text-overflow: clip;
				hyphens: auto;
				overflow: hidden;
			}

			.play {
				z-index: 1;
				position: absolute;
				top: 0;
				left: 0;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				height: 100%;
				color: rgb(var(--text-button));

				.fa {
					position: relative;
					width: 65px;
					height: 65px;
					background-color: #0000004e;
					border-radius: 100%;
					display: flex;
					justify-content: center;
					align-items: center;

					&:hover {
						background-color: #00000064;
					}

					&::before {
						font-size: 35px;
					}

					&.fa-music {
						&::before {
							transform: translateX(-10%);
						}
					}

					&.fa-play {
						&::before {
							transform: translateX(10%);
						}
					}
				}
			}
		}

		.buttons {
			z-index: 1;
			position: absolute;
			bottom: 0;
			right: 0;
			display: flex;
			flex-direction: row;
			gap: 0.5ch;
			margin: 5px;

			button {
				user-select: none;
				padding: 1px 2.5px;
				border-radius: 5px;
				color: #fff;
				font-size: 12px;
				background-color: #0000009d;
				border: 1px solid transparent;

				&:hover {
					background-color: #000000b7;
				}

				&.full::before {
					vertical-align: -0.2em;
				}
			}
		}
	}
</style>
