<script lang="ts">
	import Checkbox from './InputCheckbox.svelte';

	import { transitionSlide } from '../../../lib/Transitions/transitionOverride';

	export let text: string;
	export let checked: boolean;
	export let margin: boolean = true;
</script>

<div class="checkbox-collapse">
	<Checkbox {text} bind:checked on:click />
	{#if checked}
		<div class:margin transition:transitionSlide={{ duration: 300 }}>
			<slot />
		</div>
	{/if}
</div>

<style lang="scss">
	.checkbox-collapse {
		.margin {
			margin-left: 20px;
		}
	}
</style>
