<script lang="ts">
	import { Firefox } from '../../../lib/Utils/OS';

	export let value: string;
</script>

<div class="input-date">
	<input type="date" bind:value />
	{#if !Firefox}
		<div class="icon fa fa-calendar"></div>
	{/if}
</div>

<style lang="scss">
	.input-date {
		position: relative;

		input {
			all: unset;
			display: block;
			background-color: rgb(var(--composer));
			border-radius: 10px;
			box-sizing: border-box;
			padding: 7.5px 10px 7.5px 15px;
			font-size: 18px;
			border: none;
			outline: none;

			&:focus {
				outline: 1px solid rgb(var(--accent));
			}
		}

		::-webkit-calendar-picker-indicator {
			all: unset;
			position: absolute;
			top: 5px;
			right: 7.5px;
			width: 30px;
			height: 30px;
			color: rgb(var(--text));
			background-color: rgb(var(--composer));
			border-radius: 10px;
			cursor: pointer;
			transition: calc(0.1s * var(--transition-speed));

			&:hover {
				background-color: rgb(var(--text), 0.33);
			}
		}

		.icon {
			pointer-events: none;
			position: absolute;
			top: 0;
			right: 0;
			width: 30px;
			height: 100%;
			display: flex;
			align-items: center;
			color: rgb(var(--text));
		}
	}
</style>
