<script lang="ts">
	import Account from './Account.svelte';

	import {
		ComposerFromView,
		rdOptionsAppearanceComposerFromView,
		stOptions,
	} from '../../../stores/Options';

	import type { Composer } from '../../../types/composer';

	export let composer: Composer;
	export let title: string = 'From';

	const { account, edition, enabled_accounts } = composer;

	function view(from_view: ComposerFromView) {
		switch (from_view) {
			case ComposerFromView.ProfilePicture:
				return 'only-pp';
			case ComposerFromView.ProfilePictureSmall:
				return 'only-pp-small';
			default:
				return 'full';
		}
	}
</script>

<div class="from">
	<div class="selector-container">
		<p class="caps-lock">{title}</p>
		<div class="selector">
			<button
				class="circle fa fa-circle"
				class:selected={$rdOptionsAppearanceComposerFromView ===
					ComposerFromView.ProfilePicture}
				on:click={() =>
					($stOptions.appearance.composer.fromView = ComposerFromView.ProfilePicture)}
			/>
			<button
				class="circles"
				class:selected={$rdOptionsAppearanceComposerFromView ===
					ComposerFromView.ProfilePictureSmall}
				on:click={() =>
					($stOptions.appearance.composer.fromView =
						ComposerFromView.ProfilePictureSmall)}
			>
				<div class="fa fa-circle" />
				<div class="fa fa-circle" />
				<div class="fa fa-circle" />
				<div class="fa fa-circle" />
			</button>
			<button
				class="list fa fa-list-ul"
				class:selected={$rdOptionsAppearanceComposerFromView === ComposerFromView.Full}
				on:click={() => ($stOptions.appearance.composer.fromView = ComposerFromView.Full)}
			/>
		</div>
	</div>
	<div class="account-container {view($rdOptionsAppearanceComposerFromView)}">
		{#if $edition}
			<Account
				account={$account}
				status_account={$account.entity}
				selected={true}
				display_size={view($rdOptionsAppearanceComposerFromView)}
			/>
		{:else}
			{#each $enabled_accounts as [key, acc, toggle] (key)}
				<Account
					account={acc}
					status_account={acc.entity}
					selected={$account.entity.id === acc.entity.id}
					display_size={view($rdOptionsAppearanceComposerFromView)}
					warn={!toggle}
					on:click={() => {
						$account = acc;
					}}
				/>
			{/each}
		{/if}
	</div>
</div>

<style lang="scss">
	.from {
		display: flex;
		flex-direction: column;
		gap: 5px;

		.selector-container {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			font-weight: 500;
			font-size: 1.1em;

			.selector {
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 5px;
				color: rgb(var(--icons));

				.circle,
				.circles,
				.list {
					cursor: pointer;
					opacity: 0.7;

					&:hover {
						opacity: 1;
					}

					&.selected {
						opacity: 1;
					}
				}

				.circle {
					font-size: 32px;
				}

				.circles {
					display: grid;
					grid-template-columns: repeat(2, 1fr);
					grid-template-rows: repeat(2, 1fr);
					grid-column-gap: 2.5px;
					font-size: 16px;
				}

				.list {
					font-size: 35px;
					transform: translateY(2.5%);
				}
			}
		}

		.account-container {
			display: flex;
			flex-direction: column;
			box-sizing: border-box;
			gap: 10px;

			&.only-pp,
			&.only-pp-small {
				flex-direction: row;
			}
		}
	}
</style>
