<script lang="ts">
	import { createEventDispatcher, onDestroy, onMount } from 'svelte';

	import Virtual from './virtual';
	import type { IndexedArray } from '../IndexedArray';

	type CustomArray<T> = IndexedArray<T> | Array<T>;
	/**
	 * Unique key for getting data from `data`
	 */
	export let key = 'id';
	/**
	 * Source for list
	 */
	export let data: CustomArray<any>;
	/**
	 * Estimate size of each item, needs for smooth scrollbar
	 */
	export let estimateSize = 50;
	/**
	 * Scroll direction
	 */
	export let isHorizontal = false;
	/**
	 * scroll position start index
	 */
	export let start = 0;
	/**
	 * The threshold to emit `top` event, attention to multiple calls.
	 */
	export let topThreshold = 0;
	/**
	 * The threshold to emit `bottom` event, attention to multiple calls.
	 */
	export let bottomThreshold = 0;

	let displayItems: CustomArray<any> = [];
	let directionKey = isHorizontal ? 'scrollLeft' : 'scrollTop';
	let virtual = new Virtual({
		slotHeaderSize: 0,
		slotFooterSize: 0,
		estimateSize: estimateSize,
		uniqueIds: getUniqueIdFromDataSources(),
	});
	let root: HTMLDivElement;
	const dispatch = createEventDispatcher();

	export function getSize(id: number): number | undefined {
		return virtual.sizes.get(id);
	}

	export function getSizes(): number {
		return virtual.sizes.size;
	}

	export function getOffset(): number {
		// @ts-ignore
		return root ? Math.ceil(root[directionKey]) : 0;
	}

	export function getIndexOffset(index: number): number | undefined {
		if (index > data.length - 1) {
			return undefined;
		}
		return virtual.getOffset(index);
	}

	export function getClientSize(): number {
		const key = isHorizontal ? 'clientWidth' : 'clientHeight';
		return root ? Math.ceil(root[key]) : 0;
	}

	export function getScrollSize(): number {
		const key = isHorizontal ? 'scrollWidth' : 'scrollHeight';
		return root ? Math.ceil(root[key]) : 0;
	}

	export function scrollToOffset(offset: number): void {
		// @ts-ignore
		root[directionKey] = offset;
	}

	export function scrollToIndex(index: number): void {
		const offset = virtual.getOffset(index);
		scrollToOffset(offset);
	}

	onMount(() => {
		if (start) {
			scrollToIndex(start);
		}
	});

	onDestroy(() => {
		virtual.destroy();
	});

	function getUniqueIdFromDataSources() {
		return data.map((dataSource) => dataSource[key]);
	}

	function getData() {
		return (data as IndexedArray<any>).get?.() ?? data;
	}

	function onDataChange() {
		displayItems = getData();
	}

	function onScroll(event: Event) {
		const offset = getOffset();
		const clientSize = getClientSize();
		const scrollSize = getScrollSize();

		// iOS scroll-spring-back behavior will make direction mistake
		if (offset < 0 || offset + clientSize > scrollSize || !scrollSize) {
			return;
		}

		virtual.handleScroll(offset);
		emitEvent(offset, clientSize, scrollSize, event);
	}

	function emitEvent(offset: number, clientSize: number, scrollSize: number, event: Event) {
		dispatch('scroll', { event });

		if (virtual.isFront() && !!data.length && offset - topThreshold <= 0) {
			dispatch('top');
		} else if (virtual.isBehind() && offset + clientSize + bottomThreshold >= scrollSize) {
			dispatch('bottom');
		}
	}

	$: handleDataSourcesChange(data);

	async function handleDataSourcesChange(data: CustomArray<any>) {
		virtual.updateParam('uniqueIds', getUniqueIdFromDataSources());
		onDataChange();
	}
</script>

<div class="virtual-scroll-root" bind:this={root} on:scroll={onScroll}>
	{#if $$slots.header}
		<slot name="header" />
	{/if}
	{#each displayItems as dataItem (dataItem[key])}
		<slot data={dataItem} />
	{/each}
	{#if $$slots.footer}
		<slot name="footer" />
	{/if}
</div>

<style lang="scss">
	.virtual-scroll-root {
		overflow-y: auto;
		height: inherit;
		will-change: transform;
	}
</style>
