<script lang="ts">
	import { transitionSlide } from '../../lib/Transitions/transitionOverride';

	export let collapsed: boolean = true;
	export let locked: boolean = false;
</script>

<button
	class="collapse"
	class:locked
	on:click={() => {
		if (locked) {
			return;
		}
		collapsed = !collapsed;
	}}
>
	<slot name="button-content"></slot>
</button>
{#if !collapsed}
	<div transition:transitionSlide|global={{ duration: 200 }}>
		<slot></slot>
	</div>
{/if}

<style lang="scss">
	.collapse {
		display: flex;
		flex-direction: column;
		gap: 1ch;

		&.locked {
			cursor: default;
		}
	}
</style>
