<script lang="ts">
	import GitlabLogo from '../../assets/GitlabLogo.svelte';

	import { GITLAB_REPO_GLOBAL, TOOTDECK_REPOSITORY } from '../../lib/Constants/Repositories';

	export let width: number;
</script>

<a
	href={GITLAB_REPO_GLOBAL || TOOTDECK_REPOSITORY}
	target="_blank"
	rel="nofollow noopener noreferrer"
	class="logo"
>
	<GitlabLogo {width}></GitlabLogo>
</a>
