<script lang="ts">
	import { createEventDispatcher } from 'svelte';
	import type { ActionReturn } from 'svelte/action';

	const eventDispatcher = createEventDispatcher();

	import { emojiZoom } from '../../lib/Emoji/emojiZoom';

	export let src: string | null | undefined;
	export let alt: string | null | undefined;
	export let title: string | null | undefined = undefined;
	export let style: string | null | undefined = undefined;
	export let width: string = 'auto';
	export let height: string = 'auto';
	export let events: Array<'load' | 'error'> = [];
	let className: string = '';
	export { className as class };
	export let img: HTMLImageElement | undefined = undefined;

	function enableEvents(node: Element): ActionReturn {
		const load = (e: Event) => eventDispatcher('load', e);
		const error = (e: Event) => eventDispatcher('error', e);

		if (events.includes('load')) {
			node.addEventListener('load', load);
		}
		if (events.includes('error')) {
			node.addEventListener('error', error);
		}

		return {
			destroy: () => {
				node.removeEventListener('load', load);
				node.removeEventListener('error', error);
			},
		};
	}
</script>

<img
	bind:this={img}
	class={className}
	src={src ?? ''}
	alt={alt ?? ''}
	{title}
	{style}
	{width}
	{height}
	draggable="false"
	use:enableEvents
	use:emojiZoom={{
		toggle: className.includes('emoji'),
		single: true,
	}}
/>
