<script lang="ts">
	import { afterUpdate, onDestroy } from 'svelte';
	import IntersectionObserver from 'svelte-intersection-observer';
	import fastdom from 'fastdom';

	let element: HTMLSpanElement;
	let intersecting: boolean = true;
	let height: number = 0;
	let fastdom_job: any;

	function getHeight(node: HTMLElement) {
		fastdom_job = fastdom.measure(() => {
			if (!node) {
				return;
			}
			height = node.offsetHeight;
		});
	}

	afterUpdate(() => {
		getHeight(element);
	});

	onDestroy(() => {
		fastdom.clear(fastdom_job);
	});
</script>

<IntersectionObserver {element} bind:intersecting threshold={0}>
	<div
		class="intersection-observer"
		class:intersecting
		style:min-height={!intersecting ? height + 'px' : ''}
		bind:this={element}
	>
		{#if intersecting || height === 0}
			<slot></slot>
		{/if}
	</div>
</IntersectionObserver>

<style lang="scss">
	.intersection-observer {
		opacity: 0;
		transition: calc(0.1s * var(--transition-speed));

		&.intersecting {
			opacity: 1;
		}
	}
</style>
