<script lang="ts">
	import Button from './Button/Button.svelte';
	import TwoStepButton from './Button/TwoStepButton.svelte';

	import { logout as storeLogout } from '../../stores/Account/Auth';

	let waiting: boolean = false;

	async function logout() {
		waiting = true;
		await storeLogout(false);
	}
</script>

<TwoStepButton text="Log Out" cancelable={true} flex_direction="row">
	<Button
		on:clickTimeout={() => {
			waiting = true;
			logout();
		}}
		style={'default ' + (waiting ? 'waiting' : '')}
		color={'rgb(var(--red))'}
		timeout={750}>Confirm?</Button
	>
</TwoStepButton>
