<script lang="ts">
	import { fade } from 'svelte/transition';

	import Spinner from '../Spinner/PageSpinner.svelte';

	import { stLoadingStatus } from '../../stores/loading';

	let state: Array<{ id: number; text: string }>;

	function map(data: Array<string>) {
		let id = 0;

		const mapped = data.map((text) => ({ id: id++, text }));
		mapped.reverse();

		return mapped;
	}

	$: state = map($stLoadingStatus);
</script>

<div class="loading" out:fade={{ delay: 1000 }}>
	<Spinner scale={3} color={undefined} />
	<div class="state">
		{#each state as { id, text } (id)}
			<h2>{text}</h2>
		{/each}
	</div>
	<div class="state-fade" />
</div>

<style lang="scss">
	@keyframes in {
		from {
			height: 0;
		}

		to {
			height: 60px;
		}
	}

	.loading {
		z-index: 10;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgb(var(--background));
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 30px;

		.state {
			z-index: 0;
			position: relative;
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: flex-start;
			height: 180px;
			// line-height: 60px;
			overflow: hidden;

			h2 {
				text-align: center;
				padding-top: 20px;
				// padding-bottom: 20px;
				animation: in 0.3s;

				&:not(:first-child) {
					opacity: 0.5;
				}
			}
		}

		.state-fade {
			position: absolute;
			top: 50%;
			background-color: rgb(var(--background));
			// background-color: rgb(var(--red));
			width: 200%;
			height: 180px;
			filter: blur(45px);
			transform: translateY(25%);
		}
	}
</style>
